[run]
omit = 
	*/migrations/*
	manage.py
	frontend/test.py
	frontend/_*.py
	*__init__.py
	/usr/*
	calcus/*
	frontend/tests/*
	frontend/gen_data_documentation.py
	frontend/gen_periodictable_css.py
	frontend/check_data.py
	frontend/calculate_rmsd.py

source = .
