!bin/*.tar.bz2
*.override.yml
*.pem
*.swo
*.swp
*__pycache__*
.git
backup*
bin/*
bulma
data
docs
frontend/cloud_config.py
frontend/tests/keys
frontend/tests/results
frontend/tests/scr
gcloud.sh
htmlcov
keys
logs
npm_modules/node_modules
npm_packages/css
npm_packages/css-dist
npm_packages/js-dist
npm_packages/node_modules
old*
results
scr
scratch
test_run
firebase
