*.pyc
*__pycache__
*.swp
calcus/*settings*
*keys/
*scr/
*results/
static/CACHE/
frontend/migrations/
*.sqlite3
.*
!.github
*.override.yml
htmlcov/
old/
data/
logs/
backup*
test_run
docs/build/
celerybeat-schedule
bin/*
!bin/*.tar.bz2
gcloud.sh
frontend/cloud_config.py
frontend/cloud_config.json
