bin/*
*.override.yml
*.pem
*.pyc
*.sqlite3
*.swp
*__pycache__
*keys/
*results/
*scr/
scratch/
.*
backup*
calcus/*settings*
celerybeat-schedule
data/
docs/build/
frontend/cloud_config.json
frontend/cloud_config.py
frontend/migrations/
gcloud.sh
htmlcov/
logs/
npm_packages/css
npm_packages/css-dist
npm_packages/js-dist
npm_packages/node_modules
old/
static/CACHE/
static/testimonials
test_run
firebase
!.github
!bin/*.tar.bz2
