*.pyc
*__pycache__
*.swp
calcus/*settings*
*keys/
*scr/
*results/
static/CACHE/
frontend/migrations/
*.sqlite3
.*
*.override.yml
htmlcov/
frontend/tests/cache/
old/
data/
logs/
backups/
test_run
docs/build/
celerybeat-schedule
