basis-set-exchange
bleach
ccinput>=1.10.3
cryptography
Django>=5.2.11,<6
django-appconf
django-axes
django-bulma
django-cockroachdb
django-cors-headers
django-gmailapi-backend
django-hashid-field
django-pipeline==2.0.5
django-ipware==3.0.1
django-recaptcha
django-throttle-requests==0.5.9
google-cloud-batch
google-cloud-storage
google-cloud-tasks
grpc-google-iam-v1
gunicorn
nmrglue==0.8
numpy
periodictable
psutil==5.7.2
psycopg2-binary
PySCF
pysisyphus
python-magic
rdkit
requests
scipy
scikit-learn
spyrmsd
stripe<12
wheel
xkcdpass
