basis-set-exchange
bleach
ccinput
celery[redis]
coverage
cryptography
Django==3.2.10
django-appconf==1.0.4
django-axes==5.27.0
django-bulma
django-dbbackup
django-pipeline==2.0.5
django-ipware==3.0.1
django-throttle-requests==0.5.9
gunicorn
nmrglue==0.7
numpy
periodictable
pexpect==4.8.0
pika==1.1.0
psutil==5.7.2
psycopg2
pyvirtualdisplay
requests
scipy
selenium
ssh2-python
wheel
