basis-set-exchange
bleach
ccinput>=1.10.2
celery[redis]
django-cors-headers
cryptography
Django>=3.2.18,<4
django-appconf==1.0.4
django-axes==5.27.0
django-bulma
django-dbbackup
django-gmailapi-backend
django-hashid-field
django-pipeline==2.0.5
django-ipware==3.0.1
django-throttle-requests==0.5.9
fabric<3.0.0
google-cloud-tasks>=2.10.2
gunicorn>=21.2.0
numpy
paramiko==2.10.1
periodictable
pre-commit
psutil==5.7.2
psycopg2
pysisyphus
rdkit
requests
scipy
scikit-learn
spyrmsd
wheel
xkcdpass
