basis-set-exchange
bleach
ccinput>=1.11.0
celery[redis]
django-cors-headers
cryptography
Django>=5.2.11,<6
django-appconf
django-axes
django-bulma
django-dbbackup
django-gmailapi-backend
django-hashid-field
django-pipeline==2.0.5
django-ipware==3.0.1
django-throttle-requests==0.5.9
fabric<3.0.0
google-cloud-tasks>=2.10.2
gunicorn>=21.2.0
numpy
paramiko==3.5.1
periodictable
pre-commit
psutil==5.7.2
psycopg2-binary
git+https://github.com/RaphaelRobidas/pysisyphus@c26992423c52ba6b27b2509e3ad40dc1b3b1d95e
python-magic
rdkit
requests
scipy
scikit-learn
spyrmsd
wheel
xkcdpass
git+https://github.com/jbardin/scp.py
