<script>
var ctrl = false;
var shift = false;
var previous_selection = 1;

let num = 0;
let conf_length = 1;
var curr_p = 0;

$(document).ready(function () {
    (function (ChemDoodle) {
        ChemDoodle.relabel = function (molecule) {
            for (let i = 0, ii = molecule.atoms.length; i < ii; i++) {
                molecule.atoms[i].altLabel = String(i + 1);
            }
        };
    })(ChemDoodle);

    $.ajax({
        method: "POST",
        url: "/get_structure/",
        headers: {
            "X-CSRFToken": "{{ csrf_token }}",
        },
        data: {
            id: "{{ ensemble.id }}",
            num: 1,
        },
        success: function (data, textStatus, xhr) {
            if (xhr.status != 204) {
                let mol = ChemDoodle.readXYZ(data);
                ChemDoodle.relabel(mol);
                editor.loadMolecule(mol);
                editorfs.loadMolecule(mol);

                $.ajax({
                    method: "POST",
                    url: "/conformer_table/",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}",
                    },
                    data: {
                        ensemble_id: "{{ ensemble.id }}",
                        param_id: "{{ ensemble.unique_parameters.0.id }}",
                    },

                    success: function (data, textStatus, xhr) {
                        if (xhr.status != 204) {
                            $("#conf_table").html(data);
                            conf_length = document.getElementById("conf_table").rows.length;

                            {% if not ensemble.showcaseensemble %}
                            refresh_details("{{ ensemble.unique_parameters.0.id }}");
                            {% else %}
                                select_conf(0);
                            {% endif %}
                        }
                    },
                });
            }
        },
    });
});

$(window).keydown(function (e) {
    if (e.keyCode == 17) {
        ctrl = true;
    } else if (e.keyCode == 16) {
        shift = true;
    }
});

$(window).keyup(function (e) {
    if (e.keyCode == 17) {
        ctrl = false;
    } else if (e.keyCode == 16) {
        shift = false;
    }
});
function select_conf(conf_num) {
    if (shift) {
        bounds = [previous_selection, conf_num];
        Array.prototype.sort.call(bounds);

        for (i = bounds[0]; i <= bounds[1]; i++) {
            target = document.getElementById("conf_table").rows[i];
            if (!target.classList.contains("is-selected")) {
                target.classList.add("is-selected");
            }
        }
    } else if (ctrl) {
        target = document.getElementById("conf_table").rows[conf_num];
        if (target.classList.contains("is-selected")) {
            target.classList.remove("is-selected");
        } else {
            target.classList.add("is-selected");
        }
    } else {
        for (i = 0; i < conf_length; i++) {
            document.getElementById("conf_" + String(i)).classList.remove("is-selected");
        }

        num = conf_num;
        refresh();
        document.getElementById("conf_table").rows[conf_num].classList.add("is-selected");
    }
    previous_selection = conf_num;
}

function refresh() {
    $.ajax({
        method: "POST",
        url: "/get_structure/",
        headers: {
            "X-CSRFToken": "{{ csrf_token }}",
        },

        data: {
            id: "{{ ensemble.id }}",
            num: get_conf_number(),
        },
        success: function (data, textStatus, xhr) {
            if (xhr.status != 204) {
                let mol = ChemDoodle.readXYZ(data);
                editor.loadMolecule(mol);
                editorfs.loadMolecule(mol);
            }
        },
    });
    if (curr_p != 0) {
        refresh_structure();
    }
}

function increase_conf() {
    if (num < conf_length - 1) {
        document.getElementById("conf_table").rows[num].classList.remove("is-selected");
        num = num + 1;
        document.getElementById("conf_table").rows[num].classList.add("is-selected");
        refresh();
    }
}

function decrease_conf() {
    if (num > 0) {
        document.getElementById("conf_table").rows[num].classList.remove("is-selected");
        num = num - 1;
        document.getElementById("conf_table").rows[num].classList.add("is-selected");
        refresh();
    }
}

function refresh_ensemble() {
    $.ajax({
        method: "POST",
        url: "/details_ensemble/",
        headers: {
            "X-CSRFToken": "{{ csrf_token }}",
        },

        data: {
            id: "{{ ensemble.id }}",
            p_id: curr_p,
        },
        success: function (data, textStatus, xhr) {
            if (xhr.status != 204) {
                $("#details_ensemble_div").html(data);
            }
        },
    });
}

function refresh_structure() {
    $.ajax({
        method: "POST",
        url: "/details_structure/",
        headers: {
            "X-CSRFToken": "{{ csrf_token }}",
        },

        data: {
            id: "{{ ensemble.id }}",
            num: get_conf_number(),
            p_id: curr_p,
        },
        success: function (data, textStatus, xhr) {
            if (xhr.status != 204) {
                $("#details_structure_div").html(data);
            }
        },
    });
}

function get_conf_number() {
    return document.getElementById("conf_table").rows[parseInt(num)].cells[0].innerHTML;
}

function download_selected_structure() {
    url = "/download_structures/{{ ensemble.id }}/" + get_conf_number();
    window.location.href = url;
}
</script>

<style>
    #conf_table {
        /* Thanks Stackoverflow */
        user-select: none; /* standard syntax */
        -webkit-user-select: none; /* webkit (safari, chrome) browsers */
        -moz-user-select: none; /* mozilla browsers */
        -khtml-user-select: none; /* webkit (konqueror) browsers */
        -ms-user-select: none; /* IE10+ */
    }
    .close_btn {
        background-color: #b21b00;
        position: inherit;
        right: 0px;
        top: 0px;
    }
    .fullscreen_div {
        display: none;
        position: fixed;
        padding-top: 20px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.5);
    }
    .close_btn:hover {
        background-color: #590e00;
    }
    .modal-card {
        max-width: calc(100% - 40px);
        max-height: calc(100% - 40px);
        width: 100%;
    }
    .button_full {
        width: 100%;
        max-width: 380px;
        margin-top: 0.5em;
    }
    .button_half {
        width: 50%;
        max-width: 190px;
        margin-top: 0.5em;
    }
</style>
