<div class="columns box is-desktop" id="nmr_structure_details">
    <div class="column"></div>
    <div class="column">
        {% get_simple_nmr_shifts_structure property as shifts %}
        <table class="table">
            <thead>
                <tr>
                    <th>Atom number</th>
                    <th>Atom type</th>
                    <th>Raw Shift</th>
                </tr>
            </thead>
            <tbody>
                {% for shift in shifts %}
                <tr>
                    <td>{{ shift.0 }}</td>
                    <td>{{ shift.1 }}</td>
                    <td>{{ shift.2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
