{% extends 'frontend/base.html' %} {% load i18n %} {% load static %} {% block extrahead %}
<title>CalcUS - Batch Calculation</title>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="{% static 'frontend/uis/ChemDoodleWeb-uis.js' %}"></script>
<link rel="stylesheet" href="{% static 'frontend/uis/jquery-ui-1.11.4.css' %}" type="text/css" />


{% include 'frontend/batch_form_head.html' %} {% endblock %} {% block content %} {% csrf_token %}

{% include 'frontend/calc_form_body.html' %}

{% endblock content %}