{% extends 'frontend/base.html' %} 
{% load i18n %} 
{% load static %} 
{% block extrahead %}
<title>Batch Calculations</title>
    <script src="{% static 'frontend/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/ChemDoodleWeb.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/uis/ChemDoodleWeb-uis.js' %}"></script>
    <link rel="stylesheet" href="{% static 'frontend/uis/jquery-ui-1.11.4.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'frontend/form_style.css' %}" type="text/css">

    <script>
    {% include 'frontend/form/type_head.js' %} 
    {% include 'frontend/form/availability.js' %} 
    {% include 'frontend/form/file_upload_head.js' %} 
    </script>

    <script>
        var rowCounter = 1;
    
        function addRow() {
            $("#input_rows").append(`
                <div class="columns is-vcentered" id="input_col` + rowCounter + `">
                    <div class="column">
                        {% include "frontend/form/file_upload_body.html" %}
                    </div>
                    <div class="column is-2">
                        {% include "frontend/form/charge_body.html" %}
                    </div>
                    <div class="column is-2">
                        {% include "frontend/form/multiplicity_body.html" %}
                    </div>
                </div>
            `);
            rowCounter++;
        }
        var form_html = `{% include "frontend/basic_form.html" %}`;
    </script>

    <style>
        #input_files_div {
            max-width: 60em;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 4em;
        }

        #batch_center {
            max-width: 60em;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 4em;
        }
        .column.is-8 {
            min-height: calc(3.0em + 1.5rem);
        }
        .field {
            margin-top: 0.25em !important;
            margin-bottom: 0.25em !important;
        }
        label.label {
            display: none;
        }
        
        .hidden_div {
            display: none;
        }

      
        .batch_name_input_container {
            display: flex;
            align-items: center;
        }
    
        .batch_name_label {
            margin-right: 10px; /* Adjust the spacing between the label and Batch Name as needed */
        }
    
        .batch_name {
            flex: auto ;
            border: 1px solid #ccc; /* Optional border style for Batch Name div */
            padding: 12px; /* Optional padding for Batch Name div */
            margin-right: 150px; /* Adjust the spacing between Batch Name and Preview button as needed */
        }
    
        /* Optional styling for the Preview button */
        .preview_button button {
            margin-left: 0;
        }

        #batch_content {
            max-width: 50em;
            margin-left: auto;
            margin-right: auto;
            margin-top: 2em;
        }
    
        .dynamic_params {
            max-width: 30em;
        }
        #dyn_section {
            margin-top: 2em;
        }
    </style>

{% endblock %} 

{% block content %} 
{% csrf_token %}

<div id="batch_content">
     
    <div class="field" id="batch_name"> Batch Name
        <div class="control">
            <input class="input" name="batch_name" id="batch_name_input" type="text">
        </div>
    </div>

    <div id="fixed_params_div" class="params_div">
        <div class="field" id="calculation_type"> Calculation Type
            <div class="control">
                {% include 'frontend/form/type_body.html' %}   
            </div>
        </div>

        <div class="box" id="input_files_div"> 
            <div class="columns is-vcentered">
                <div class="column">
                    <strong>Input Files</strong>
                </div>
                <div class="column is-2">
                    <strong>Charge</strong>
                </div>
                <div class="column is-2">
                    <strong>Multiplicity</strong>
                </div>
            </div>

            <div id="input_rows">
            </div>
            
            <button class="button is-primary" onclick="addRow()">Add</button>     
            
        </div>

        <div class="box" id="parameters_div">
            <h2 style="font-weight: bold;">Fixed Parameters</h2>

            {% include "frontend/basic_form.html" %}

        </div>
    </div>

    <div class="box" id="dyn_section">
        <h2 style="font-weight: bold;">Dynamic Parameters</h2>
        <div id="dynamic_params_div">
        </div>
        <button onclick="submit_batch();" class="button is-primary" id="submit_batch_btn">Launch batch</button>
    </div>

</div>

<script>
    var all_params = {};
    var fixed_params = [];

    function set_dynamic_params() {
        $("#parameters_div").find("input[type=checkbox]:checked").each(function(ind) {
            fixed_params.push($(this).data("field"));
        });
        add_dynamic_params();
    }

    function add_dynamic_params() {
        $("#dynamic_params_div").append(`<article class='dynamic_params message is-light'><div class="message-body">
        <div class="param">
            <div class="columns is-vcentered">
                <div class="column is-3">
                    <b>Name</b>
                </div>
                <div class="column is-1">
                </div>
                <div class="column is-8" id="theory-body">
                    <input class="input" name="set_name" type="text">
                </div>
            </div>
        </div>
        <hr>
        ` + form_html + "</div></article>");
        dyn_div = $("#dynamic_params_div").find(".dynamic_params").last();
        dyn_div.find("input[type=checkbox]").remove();

        for(i=0;i<fixed_params.length;i++) {
            dyn_div.find("#row_" + fixed_params[i]).remove();
        }
        dyn_div.find("button").remove();

        $(dyn_div).find("input, select").on("change", function() {
            refresh_availabilities($("#fixed_params_div"), dyn_div);
            refresh_availabilities(dyn_div, dyn_div, true);
        });

        refresh_availabilities($("#fixed_params_div"), dyn_div);
        refresh_availabilities(dyn_div, dyn_div, true);

    }

    function submit_batch() {
        $("#dynamic_params_div").find(".dynamic_params").each(function(ind) {
            let name = $(this).find("input[name='set_name']").val()
            let form_data = new FormData($(this).find("form")[0]);
            all_params["dynamic"][name] = form_data;
        });
        $("#submit_batch_btn").remove(); // Temporary
    }
    
    $(document).ready(function() {
        addRow();
	    refresh_availabilities($("#fixed_params_div"));
        $('#fixed_params_div').find("input, select").on("change", function() {
            refresh_availabilities($("#fixed_params_div"));
        });

        $("#fixed_params_div").find("form").submit(function(e) {
            e.preventDefault();
            data = new FormData($("#fixed_params_div").find("form")[0]);
            all_params["fixed"] = data;
            all_params["dynamic"] = {};
            set_dynamic_params(); 
            return false;
        });
    });




</script>
{% endblock content %}
