<div class="column" id="parameters_column">
	<div class="column" >
        {% if not IS_CLOUD %}
            {% include "frontend/form/preset_body.html" %}
        {% endif %}
	</div>

	<form method="post" id="calcform" enctype="multipart/form-data">
		{% if not ensemble and not structure %}
		<div class="columns">
			{% if is_flowchart is None and not is_batch %}
            {% include "frontend/form/file_upload_body.html" %}
			{% endif %}
		</div>

        {% if not is_batch %}
            {% include "frontend/form/derivatives_body.html" %}
        {% endif %}

        {% include "frontend/form/aux_file_upload_body.html" %}

		{% endif %}
		{% csrf_token %}

		<div class="columns">
			<div class="column">
				{% if not calc and not ensemble and not structure and is_flowchart is None%}
                {% include "frontend/form/mol_name_body.html" %}
				{% endif %}
                {% include "frontend/form/ensemble_name_body.html" %}
			</div>

			<div class="column is-narrow">
                {% include "frontend/form/charge_body.html" %}
			</div>
			<div class="column is-narrow">
                {% include "frontend/form/multiplicity_body.html" %}
			</div>
		</div>

        {% include "frontend/form/solvent_body.html" %}

		{% if is_flowchart is None and not is_batch %}
        {% include "frontend/form/project_body.html" %}
		{% endif %}

		<div class="columns">
            <div class="column is-3">
                {% include "frontend/form/software_body.html" %}
            </div>

            <div class="column is-3">
                {% include "frontend/form/driver_body.html" %}
			</div>


            <div class="column is-6">
                {% include "frontend/form/type_body.html" %}
		    </div>
            
		</div>

        {% include "frontend/form/aux_structure_body.html" %}

        {% include "frontend/form/constraints_body.html" %}


        <div>
            <div class="columns">
                <div class="column is-3">
                    {% include "frontend/form/theory_level_body.html" %}
                </div>
                <div class="column">
                {% include "frontend/form/special_body.html" %}
                </div>

                <div class="column">
                {% include "frontend/form/se_method_body.html" %}
                </div>
                <div class="column">
                {% include "frontend/form/xtb_method_body.html" %}
                </div>

                <div class="column">
                {% include "frontend/form/dft_method_body.html" %}
                </div>

                <div class="column">
                {% include "frontend/form/basis_set_body.html" %}
                </div>
            </div>
        </div>
        <div>
            {% include "frontend/form/specifications_body.html" %}

            {% include "frontend/form/df_body.html" %}

            {% include "frontend/form/custom_bs_body.html" %}
		</div>
		<br />
		{% if IS_CLOUD %}
		<input type="hidden" id="calc_resource" name="calc_resource" value="Local">
		{% else %}
            {% include "frontend/form/resource_body.html" %}
		{% endif %}

		{% if ensemble and not structures %}
            {% include "frontend/form/filter_body.html" %}
		{% endif %}

        <center>
		<div class="field" id="submit_field">
			<span id="form_error_msg"></span>
			<div class="control">
				{% if is_flowchart is None %}
					<a class="button is-primary" id="submit_button" onclick="verify_form()">Submit</a>
				{% else %}
					<a class="button is-primary" onclick="verify_form_flowchart()">Save</a>
				{% endif %}
			</div>
            {% if IS_CLOUD %}
            <div class="cloud_comp_info">
                <span id="cloud_num_cores">1 to 4</span> core will be used (maximum runtime: <span id="cloud_timeout">{% if request.user.is_trial %}5 minutes{% elif request.user.is_subscriber %}6 hours{% else %}15 minutes{% endif %}</span></span>)
                {% if request.user.is_trial %}
                <br>
                <a href="/create_full_account/">You are using a trial account. Convert to a free full account to unlock more computing power and longer runtimes</a>
                {% elif not request.user.is_subscriber %}
                <br>
                <a href="/pricing/">Become a subscriber to increase your maximum runtime</a>
                {% endif %}
            </div>
            {% endif %}
		</div>
        <center>
	</form>
</div>
<script>
	$('#calcform').submit(function(){
		$('<input />').attr('type', 'hidden')
			.attr('name', "constraint_num")
			.attr('value', constraint_num)
			.appendTo(this);

		{% if ensemble or structures %}
		$('<input />').attr('type', 'hidden')
			.attr('name', "starting_ensemble")
			.attr('value', "{{ ensemble.id }}")
			.appendTo(this);
		{% endif %}

		{% if structures %}
		$('<input />').attr('type', 'hidden')
			.attr('name', "starting_structs")
			.attr('value', "{{ structures }}")
			.appendTo(this);
		{% endif %}

		{% if calc %}
		$('<input />').attr('type', 'hidden')
			.attr('name', "starting_calc")
			.attr('value', "{{ calc.id }}")
			.appendTo(this);
		$('<input />').attr('type', 'hidden')
			.attr('name', "starting_frame")
			.attr('value', {{ frame_num }})
			.appendTo(this);
		{% endif %}

		{% if not ensemble and not structure and not calc %}
		if (sketcher.molecules.length > 0) {
			let mol = ChemDoodle.writeMOL(sketcher.getMolecule());

			$('<input />').attr('type', 'hidden')
				.attr('name', "structure").val(mol).appendTo("#calcform");
		}
		{% endif %}

	}); 

$( document ).ready(function() {
	{% if not ensemble and not structure and is_flowchart is None and not is_batch %}
	preselect_last_project();
	set_availables();
	project_selection_changed(document.getElementById("calc_project"));
	{% endif %}

	refresh_presets();

	refresh_availabilities();

	{% if proj %}
	proj = document.getElementById("calc_project");
	proj.value = "{{ proj.name }}";
    project_selection_changed(proj);
	{% endif %}

	{% if init_params_id %}
		$.ajax({
			method: "POST",	 	 
			url: "/load_params/{{ init_params_id }}",
			headers: {
				"X-CSRFToken": '{{ csrf_token }}',
			},
			success: function(data) {
				eval(data);
				refresh_availabilities();
				$('#calc_software').data('software', $("#calc_software").val());
				refresh_availabilities();//Whatever

			},
		});
	{% endif %}
	{% if resource %}
	resource = document.getElementById("calc_resource");
	resource.value = "{{ resource }}";
	{% endif %}
	{% if ensemble and not structure %}
		$("#calc_project").val("{{ ensemble.parent_molecule.project.name }}");
		$.ajax({
			method: "POST",	 	 
			url: "/get_structure/",
			headers: {
				"X-CSRFToken": '{{ csrf_token }}',
			},

			data: {'id': "{{ ensemble.id }}", 'num': 1},
			success: function(data, textStatus, xhr) {
				let mol_read = ChemDoodle.readXYZ(data);
				ChemDoodle.relabel(mol_read);
				editor.loadMolecule(mol_read);	
			}
		});

	{% endif %}

	{% if structure %}
		$("#calc_project").val("{{ structure.parent_ensemble.parent_molecule.project.name }}");
		let mol_read = ChemDoodle.readXYZ(`{{ structure.xyz_structure }}`);
		ChemDoodle.relabel(mol_read);
		editor.loadMolecule(mol_read);	
	{% endif %}
	{% if calc %}
		$("#calc_project").val("{{ calc.order.project.name }}");
		$.ajax({
			method: "POST",	 	 
			url: "/get_calc_frame/{{ calc.id }}/{{ frame_num }}",
			headers: {
				"X-CSRFToken": '{{ csrf_token }}',
			},
			success: function(data) {
				let mol_read = ChemDoodle.readXYZ(data);
				ChemDoodle.relabel(mol_read);
				editor.loadMolecule(mol_read);	
				$('#calc_software').data('software', $("#calc_software").val());

			},
		});
	{% endif %}

	if(!local_allowed_theory_levels.includes("ALL")) {
		full_options = document.querySelectorAll("#calc_theory_level > option");
		full_options.forEach(element => {
			if(!local_allowed_theory_levels.includes(element.value)) {
				element.disabled = true;
			}

		});
	}

	if(!local_allowed_steps.includes("ALL")) {
		full_options = document.querySelectorAll("#calc_type > option");
		full_options.forEach(element => {
			if(!local_allowed_steps.includes(element.value)) {
				element.disabled = true;
			}

		});
	}
    checkbox_deriv = document.getElementsByName("calc_gen_derivatives")[0]
    if(checkbox_deriv != null)
        calc_deriv_changed(checkbox_deriv);
});

let modalBtnBs = document.getElementById("pick_bs_button")
let modalBs = document.querySelector(".pick_bs_div")
let closeBtnBs = document.querySelector(".close_bs")
modalBtnBs.onclick = function(){
	div = $("#custom_bs_body");
	if (div.html().replace(/^\s+|\s+$/g, '') == ""){
		$("#custom_bs_body").load("/periodictable/");
	}
	modalBs.style.display = "block";
}
closeBtnBs.onclick = function(){
	modalBs.style.display = "none";
	print_output_bs();
}
function print_output_bs() {
	output = document.getElementById("calc_custom_bs");
	tmp_output = document.getElementById("custom_bs");

	output.value = tmp_output.value;
}

window.onclick = function(e){
	if(e.target == modalBs){
		modalBs.style.display = "none";
		print_output_bs();
	}
}		


$('#calc_software').change(function(e){
	var software = $(this).data('software');

	$('#calc_specifications').data(software, $('#calc_specifications').val());
	$('#calc_specifications').val($('#calc_specifications').data($(this).val()));

	$(this).data('software', $(this).val());
})

add_constraint(true);	

{% if not ensemble and not structure and not calc and is_flowchart is None and not is_batch %}
	let upload_el = document.getElementById("file_structure");
	upload_el.addEventListener("change", file_upload_changed, false);
{% endif %}

let aux_upload_el = document.getElementById("aux_file_structure");
aux_upload_el.addEventListener("change", aux_file_upload_changed, false);

$("#calc_functional").on('input', debounce(function() {check("functional")}, 250));
$("#calc_basis_set").on('input', debounce(function() {check("basis_set")}, 250));
$("#calc_solvent").on('input', debounce(function() {check("solvent")}, 250));

</script>

