{% extends 'frontend/base.html' %}

{% load static %}

{% block extrahead %}
	<title>CalcUS - Calculations</title>
	<link rel="stylesheet" href="{% static 'frontend/uis/jquery-ui-1.11.4.css' %}" type="text/css">
	<script src="{% static 'frontend/jquery.min.js' %}"></script>

	<script src="https://unpkg.com/masonry-layout@4.2.0/dist/masonry.pkgd.min.js"></script>
	<style>
		.new {
			box-sizing: border-box;
			border: 4px solid yellow;
			animation: blinker 1s linear infinite;
		}
		article > a {
			text-decoration: none !important;
		}
		.message-body {
			padding: 5px;
		}

		@keyframes blinker {
			50% {
				opacity: 0.7;
			}
		}
		.fa-eye {
			margin-right: 10px;
		}

	</style>
	<script>
		let page = 1;
		let loading = false;
		
		$(document).ready(function(){
			refresh_list('add');
		});
		
		function see(o_id) {
			var calc_mode = document.getElementById("calc_mode");
			mode = calc_mode.options[calc_mode.selectedIndex].text;


			art = document.getElementById("order_" + o_id);
			$.ajax({
				data: {
					csrfmiddlewaretoken: ('{{csrf_token}}'),
				},
				method: "POST",
				url: '/see/' + o_id,
				success: function () {
					_see(art);
				},
			    });

		}
		function _see(art) {
			if (art.classList.contains("new")) {
				$(art).removeClass("new");	
				badge = document.getElementById("unseen_calculations_badge");
				old_num = badge.textContent;
				new_num = parseInt(old_num)-1;
				if (new_num > 0) {
					badge.textContent = new_num;
				}
				else {
					$("#unseen_calculations_badge").remove();
				}
			}
			else {

				if (mode != "All orders" && art.firstElementChild.classList.contains("has-background-success") || art.firstElementChild.classList.contains("has-background-danger") ) {
					$grid.masonry('remove', art).masonry();
				}
			}
		}

		function refresh_list(mode) {
			var sel = document.getElementById("calc_project");
			opt = sel.options[sel.selectedIndex].text;

			var sel2 = document.getElementById("calc_user");
			user = sel2.options[sel2.selectedIndex].text;

			var sel3 = document.getElementById("calc_type");
			type = sel3.options[sel3.selectedIndex].text;

			var sel4 = document.getElementById("calc_status");
			status = sel4.options[sel4.selectedIndex].text;

			var sel5 = document.getElementById("calc_mode");
			sel_mode = sel5.options[sel5.selectedIndex].text;

			if (mode == 'new') { 
				page = 1; 
				$grid.masonry('remove', $grid.find('.grid-item'));
				msg = document.getElementById("tmp_msg");
				if (msg) { msg.remove() }
			}

			$.ajax({
				data: {
					csrfmiddlewaretoken: ('{{csrf_token}}'),
					project: opt,	
					page: page,
					user: user,
					type: type,
					status: status,
					mode: sel_mode,
				},
				method: "GET",
				url: '/list/',
				success: function (data, textStatus, xhr) {
					if (xhr.status == 200 && !data.includes("Page not found")) {
						let items = $(data);
						$grid.append(items).masonry('appended', items);	
						$grid.masonry();
   						$(window).bind('scroll', scroll_test);
					}
				},
			    });
		}
		
		function refresh_project_list() {
			var sel2 = document.getElementById("calc_user");
			user = sel2.options[sel2.selectedIndex].text;
			$.ajax({
				data: {
					csrfmiddlewaretoken: ('{{csrf_token}}'),
					user: user,
				},
				method: "POST",
				url: '/project_list/',
				success: function (data, textStatus, xhr) {
					if (xhr.status != 204) {
				    		$("#calc_project").html(data);
						refresh_list('new');
					}
				},
				error: function () {
				    $("#calc_project").html("");
					
				}
			    });


		}

		$(document).ready(function(){     
   			$(window).bind('scroll', scroll_test);
		});

		function scroll_test() {
			let page_bottom = $(".footer").offset().top;
			let user_bottom = $(window).scrollTop() + window.innerHeight; 

			if (page_bottom - user_bottom < 200) {
				if (!loading) {
					loading = true;
					$(window).unbind();
					page += 1;
					refresh_list('add');
					loading = false;
				}
			    }
		}
		
		function see_all() {
			$.ajax({
				type: "POST",
				url: "/see_all/", 
				headers: {
					"X-CSRFToken": '{{ csrf_token }}',
					}
				}
			);

			calcs = document.getElementById("calculations_list").querySelectorAll("article.new");
			for(i=0; i<calcs.length; i++) {
				_see(calcs[i]);
			}
		}

		function clean_all_successful() {
			calcs = document.getElementById("calculations_list").querySelectorAll("article > .has-background-success");
			for(i=0; i<calcs.length; i++) {
				art = calcs[i].parentElement;
				$grid.masonry('remove', art).masonry();
			}

			$.ajax({
				type: "POST",
				url: "/clean_all_successful/", 
				headers: {
					"X-CSRFToken": '{{ csrf_token }}',
					}
				}
			);

		}

		function clean_all_completed() {
			calcs = document.getElementById("calculations_list").querySelectorAll("article > .has-background-danger");
			
			for(i=0; i<calcs.length; i++) {
				art = calcs[i].parentElement;
				$grid.masonry('remove', art).masonry();
			}

			calcs = document.getElementById("calculations_list").querySelectorAll("article > .has-background-success");
			for(i=0; i<calcs.length; i++) {
				art = calcs[i].parentElement;
				$grid.masonry('remove', art).masonry();
			}
			$.ajax({
				type: "POST",
				url: "/clean_all_completed/", 
				headers: {
					"X-CSRFToken": '{{ csrf_token }}',
					}
				}
			);

		}
	</script>
{% endblock %}

{% block content %}
<div class="container">
	{% if user.is_authenticated %}
	<center>
		<div class="box">
			<div class="select" >
				<select name="calc_user" id="calc_user" onchange="refresh_project_list('new');">
					<option>{{ user.username }}</option>
					{% for teammate in teammates %}
							<option name="{{ teammate }}">{{ teammate }}</option>
					{% endfor %}
				</select>
			</div>


			<div class="select" >
				<select name="calc_project" id="calc_project" onchange="refresh_list('new');">
					<option name="all">All projects</option>
					{% for proj in user.profile.project_set.all %}
					<option name="{{ proj }}">{{ proj }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="select" >
				<select name="calc_type" id="calc_type" onchange="refresh_list('new');">
					<option name="all">All steps</option>
					{% for s in steps %}
					<option name="{{ s.name }}">{{ s.name }}</option>
					{% endfor %}

				</select>
			</div>
			<div class="select" >
				<select name="calc_status" id="calc_status" onchange="refresh_list('new');">
					<option name="all">All statuses</option>
					<option>Done</option>
					<option>Error</option>
					<option>Running</option>
					<option>Queued</option>
				</select>
			</div>
			<div class="select" >
				<select name="calc_mode" id="calc_mode" onchange="refresh_list('new');">
					<option>Workspace</option>
					<option>Unseen only</option>
					<option>All orders</option>
				</select>
			</div>

		</div>
		<div id="actions">
			<button onclick="see_all();" class="button is-success" id="see_all_btn">See all</button>
			<button onclick="clean_all_successful();" class="button is-success" id="clean_all_successful_btn">Clean all successful</button>
			<button onclick="clean_all_completed();" class="button is-info" id="clean_all_completed_btn">Clean all completed</button>
		</div>
		<div class="grid" id="calculations_list">

		</div>
	</center>
		<br>
	{% else %}
		Please login to access the Sandbox
	{% endif %}
	<script>
		var $grid = $('.grid').masonry({
			  itemSelector: '.grid-item',
			  fitWidth: true
		});
	</script>
<br />
{% endblock %}

