{% extends 'frontend/base.html' %}

{% load static %}

{% block extrahead %}
	<link rel="stylesheet" href="{% static 'frontend/ChemDoodleWeb.css' %}" type="text/css">
	<script type="text/javascript" src="{% static 'frontend/ChemDoodleWeb.js' %}"></script>
	<link rel="stylesheet" href="{% static 'frontend/uis/jquery-ui-1.11.4.css' %}" type="text/css">
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

	<script src="https://unpkg.com/masonry-layout@4.2.0/dist/masonry.pkgd.min.js"></script>
	
	<script>
		let page = 1;
		$(document).ready(function(){
			refresh_list('add');
		});
		
		function refresh_list(mode) {
			var sel = document.getElementById("calc_project");
			opt = sel.options[sel.selectedIndex].text;

			var sel2 = document.getElementById("calc_user");
			user = sel2.options[sel2.selectedIndex].text;

			var sel3 = document.getElementById("calc_type");
			type = sel3.options[sel3.selectedIndex].text;

			var sel4 = document.getElementById("calc_status");
			status = sel4.options[sel4.selectedIndex].text;

			var sel5 = document.getElementById("calc_unseen");
			unseen = sel5.checked;

			if (mode == 'new') { page = 1; }

			$.ajax({
				data: {
					csrfmiddlewaretoken: ('{{csrf_token}}'),
					project: opt,	
					page: page,
					user: user,
					type: type,
					status: status,
					unseen: unseen,
				},
				method: "GET",
				url: '/list/',
				success: function (data, textStatus, xhr) {
					if (xhr.status != 204) {
						if(mode == 'new') {
				    			$("#calculations_list").html(data);
						}
						else {
				    			$("#calculations_list").append(data);
						}

   						$(window).bind('scroll', scroll_test);
					}
				},
			    });
		}
		
		function refresh_project_list() {
			var sel2 = document.getElementById("calc_user");
			user = sel2.options[sel2.selectedIndex].text;
			$.ajax({
				data: {
					csrfmiddlewaretoken: ('{{csrf_token}}'),
					user: user,
				},
				method: "POST",
				url: '/project_list/',
				success: function (data, textStatus, xhr) {
					if (xhr.status != 204) {
				    		$("#calc_project").html(data);
						refresh_list('new');
					}
				},
				error: function () {
				    $("#calc_project").html("");
					
				}
			    });


		}

		$(document).ready(function(){     
   			$(window).bind('scroll', scroll_test);
		});

		function scroll_test() {
			let page_bottom = $(".footer").offset().top;
			let user_bottom = $(window).scrollTop() + window.innerHeight; 

			if (page_bottom - user_bottom < 200) {
				$(window).unbind();
				page += 1;
				refresh_list('add');
			    }
		}
	</script>
{% endblock %}

{% block content %}
<div class="container">
	{% if user.is_authenticated %}
	<center>
		<div class="box">
			<div class="select" >
				<select name="calc_user" id="calc_user" onchange="refresh_project_list('new');">
					<option>{{ user.username }}</option>
					{% for teammate in user.profile.groups.members.all %}
						{% if teammate != user.profile %}
							<option name="{{ teammate.username }}">{{ teammate.username }}</option>
						{% endif %}
					{% endfor %}
					{% if user.profile.groups.PI != None %}
						<option name="{{ user.profile.groups.PI.username }}">{{ user.profile.groups.PI.username }}</option>
					{% endif %}
					{% for group in user.profile.researchgroup_PI.all %}
						{% for teammate in group.members.all %}
							<option name="{{ teammate.username }}">{{ teammate.username }}</option>
						{% endfor %}
					{% endfor %}

				</select>
			</div>


			<div class="select" >
				<select name="calc_project" id="calc_project" onchange="refresh_list('new');">
					<option name="all">All projects</option>
					{% for proj in user.profile.project_set.all %}
					<option name="{{ proj }}">{{ proj }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="select" >
				<select name="calc_type" id="calc_type" onchange="refresh_list('new');">
					<option name="all">All steps</option>
					{% for s in steps %}
					<option name="{{ s.name }}">{{ s.name }}</option>
					{% endfor %}

				</select>
			</div>
			<div class="select" >
				<select name="calc_status" id="calc_status" onchange="refresh_list('new');">
					<option name="all">All statuses</option>
					<option>Done</option>
					<option>Error</option>
					<option>Running</option>
					<option>Queued</option>
				</select>
			</div>
				<label class="checkbox" style="margin-left: 30px; margin-top: 10px;">
					<input type="checkbox" id="calc_unseen" onchange="refresh_list('new');">
					Unseen only
				</label>

		</div>
		
		<div id="calculations_list">
		
		</div>
	</center>
		<br>
	{% else %}
		Please login to access the Sandbox
	{% endif %}

<br />
{% endblock %}

