<div class="column" id="parameters_column">
	<div class="column" >
		<div class="box">
			<center>
				<div class="select">
					<select id="presets">
					</select>
				</div>
				<br />
				<a class="button is-info" onclick="load_selected_preset()">Load Preset</a>
				<a class="button is-info" onclick="save_preset()">Save Preset</a>
				<a class="button is-danger" onclick="delete_preset()">Delete Preset</a>
				<br />
				<a class="button is-info" onclick="set_project_default()">Set current parameters as project defaults</a>
				<div id="preset_msg">

				</div>
			</center>
		</div>
	</div>

	<form method="post" id="calcform" enctype="multipart/form-data">
		{% if not ensemble and not structure %}
		<div class="columns">
			<div class="column">
				<div class="field">
					<label class="label">Draw a structure or choose a file</label>
					<div class="file has-name">
						<label class="file-label">
							<input class="file-input" type="file" name="file_structure" id="file_structure" multiple="multiple">
							<span class="file-cta">
								<span class="file-icon">
									<i class="fas fa-upload"></i>
								</span>
								<span class="file-label">
								File upload
								</span>
							</span>
							<span class="file-name" id="file_upload_name">
							No input file selected
							</span>
						</label>
					</div>
				</div>
			</div>
			<div class="column is-narrow has-text-centered" id="calc_parse_filenames_column" style="display: none;">
				<label class="label">Use filename(s)</label>
				<div class="control">
					<input type="checkbox" class="checkbox" id="calc_parse_filenames" name="calc_parse_filenames" onchange="toggle_visibility_molname(this);">
				</div>
			</div>

			<div class="column is-narrow has-text-centered" id="calc_combine_files_column" style="display: none;">
				<label class="label">Single ensemble</label>
				<div class="control">
					<input type="checkbox" class="checkbox" id="calc_combine_files" name="calc_combine_files">
				</div>
			</div>
		</div>

		<div class="field type_specific avail_Minimum_Energy_Path" style="display: none;">
			<div class="file">
				<label class="file-label">
					<input class="file-input" type="file" name="aux_file_structure" id="aux_file_structure">
						<span class="file-cta">
						<span class="file-icon">
							<i class="fas fa-upload"></i>
						</span>
						<span class="file-label">
						Upload auxiliary structure
						</span>
					</span>
				</label>
			</div>
		</div>

		{% endif %}
		{% csrf_token %}

		<div class="columns">
			<div class="column">
				{% if not calc and not ensemble and not structure %}
				<div class="field" id="calc_mol_name_field">
					<label class="label">Molecule Name</label>
					<div class="control">
						<input class="input" name="calc_mol_name" id="calc_mol_name" type="text">
					</div>
				</div>
				{% endif %}
				<div class="field" id="calc_name_field">
					<label class="label">Ensemble Name</label>
					<div class="control">
						<input class="input" name="calc_name" id="calc_name" type="text" placeholder="(Optional)">
					</div>
				</div>
			</div>

			<div class="column is-narrow">
				<div class="field">
					<label class="label">Charge</label>
					<div class="control" >
						<input class="input" name="calc_charge" id="calc_charge" type="text" value="0">
					</div>
				</div>
			</div>
			<div class="column is-narrow">
				<div class="field">
					<label class="label">Multiplicity</label>
					<div class="control" >
						<input class="input" name="calc_multiplicity" id="calc_multiplicity" type="text" value="1">
					</div>
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="column is-narrow">
				<div class="field">
					<label class="label">Project</label>
					<div class="control">
						<div class="select" >
						  <select name="calc_project" onchange="project_selection_changed(this)" id="calc_project">
							  {% for proj in request.user.project_set.all|dictsort:"name" %}
							  <option name="{{ proj }}">{{ proj }}</option>
							  {% endfor %}
							  <option name="new_project">New Project</option>
						  </select>
						</div>
					</div>
				</div>

			</div>
			<div class="column">
				<div class="field" style="display: none;" id="new_project_name_field">
					<label class="label">Name of new project</label>
					<div class="control">
						<input class="input" name="new_project_name" type="text" placeholder="My Project">
					</div>
				</div>
			</div>

		</div>

		<div class="columns">
            <div class="column is-3">
                <div class="field">
                    <label class="label">Software</label>
                    <div class="control" >
                        <div class="select wide_select">
                            <select name="calc_software" id="calc_software" onchange="refresh_availabilities();">
                                <option {% if 'xtb' not in packages %}class="resource_specific avail_remote"{% endif %}>xtb</option>
                                <option {% if 'ORCA' not in packages %}class="resource_specific avail_remote"{% endif %}>ORCA</option>
                                <option {% if 'Gaussian' not in packages %}class="resource_specific avail_remote"{% endif %}>Gaussian</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-6">
                <div class="field">
                    <label class="label">Calculation Type</label>
                    <div class="control" >
                        <div class="select wide_select">
                            <select name="calc_type" id="calc_type" onchange="calc_selection_changed();">
                            {% for proc in procs %}
                            <option class="software_specific {% if proc.avail_xtb %}avail_xtb{% endif %} {% if proc.avail_ORCA %}avail_ORCA{% endif %} {% if proc.avail_Gaussian %}avail_Gaussian{% endif %}">{{ proc.name }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column software_specific avail_ORCA avail_Gaussian is-3">
                <div class="field">
                    <label class="label">Theory Level</label>
                    <div class="control">
                        <div class="select wide_select">
                            <select name="calc_theory_level" id="calc_theory_level" onchange="refresh_availabilities();">
                                <option class="hidden software_specific avail_xtb" value="xtb">xtb</option>
                                <option class="type_exclusion not_avail_UV-Vis_Calculation" value="semiempirical">Semi-empirical</option>
                                <option value="hf">HF</option>
                                <option value="dft">DFT</option>
                                <option class="software_specific avail_ORCA" value="mp2">RI-MP2</option>
                            </select>
                        </div>
                    </div>
                </div>
			</div>
		</div>

		<div class="type_specific avail_Minimum_Energy_Path" id="aux_structure_div">
			<div class="field">
				<label class="label">Existing auxiliary structure</label>
				<div class="control" id="aux_structure">
					<div class="columns">
						<div class="column">
							<label class="label">Molecule</label>
							<div class="select" id="aux_mol_select">
								<select name="aux_mol" id="aux_mol" onchange="refresh_aux_ensemble();">
								</select>
							</div>
						</div>
						<div class="column">
							<label class="label">Ensemble</label>
							<div class="select">
								<select name="aux_ensemble" id="aux_ensemble" onchange="refresh_aux_structure();">
								</select>
							</div>
						</div>
						<div class="column">
							<label class="label">Structure</label>
							<div class="select">
								<select name="aux_struct" id="aux_struct">
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div style="display: none;" class="type_specific avail_Constrained_Optimisation avail_Constrained_Conformational_Search" id="constraint_div">
			<div class="field">
				<label class="label">Constraints and scan coordinates</label>
				<div id="constraint_list">
				</div>
			</div>
		</div>

		<div class="software_specific avail_ORCA avail_Gaussian">
			<div class="columns">
				<div class="method_specific avail_dft">
					<div class="column is-narrow software_specific avail_ORCA ">
						<div class="field">
							<label class="label">Special</label>
							<label class="checkbox">
								<input type="checkbox" name="pbeh3c" id="pbeh3c" onchange="refresh_availabilities();">
								PBEh-3c
							</label>		
						</div>
					</div>
				</div>
				<div class="method_specific avail_hf">
					<div class="column is-narrow software_specific avail_ORCA ">
						<div class="field">
							<label class="label">Special</label>
							<label class="checkbox">
								<input type="checkbox" id="hf3c" name="hf3c" onchange="refresh_availabilities();">
								HF-3c
							</label>		
						</div>
					</div>
				</div>
				<div class="column method_specific avail_semiempirical">
					<div class="field">
						<label class="label">Method</label>
						<div class="control">
							<div class="select">
								<select name="calc_se_method" id="calc_method">
									<option>AM1</option>
									<option>PM3</option>
									<option class="software_specific avail_Gaussian">PM6</option>
									<option class="software_specific avail_Gaussian">PM7</option>
								</select>
							</div>
						</div>
					</div>
				</div>


				<div class="column method_specific avail_dft">
					<div class="field" id="calc_functional_field">
						<label class="label">Functional</label>
						<div class="control">
							<input class="input" name="calc_functional" id="calc_functional" type="text" list="functional_options">
						</div>
						<p class="check_msg is-danger" id="functional_check_msg"></p>
					</div>
				</div>
				<div class="column method_specific avail_dft avail_mp2 avail_hf">
					<div class="field" id="calc_basis_set_field">
						<label class="label">Basis set</label>
						<div class="control">
							<input class="input" name="calc_basis_set" id="calc_basis_set" type="text" list="basis_sets_options">
						</div>
						<p class="check_msg is-danger" id="basis_set_check_msg"></p>
					</div>
				</div>

			</div>
		</div>
		<div class="columns">
			<div class="column">
				<div class="field">
					<label class="label">Solvent</label>
					<div class="control">
						<input class="input" name="calc_solvent" id="calc_solvent" type="text" oninput="refresh_availabilities();" list="solvent_options">
					</div>
					<p class="check_msg is-danger" id="solvent_check_msg"></p>
				</div>
			</div>
			<div class="column is-narrow">
				<div class="field" id="calc_solvation_model_field">
					<label class="label">Solvation Model</label>
						<div class="control">
							<div class="select">
							<select name="calc_solvation_model" id="calc_solvation_model" onchange="refresh_availabilities();" class="solv_select">
								<option class="software_specific avail_xtb type_specific avail_Constrained_Optimisation avail_Constrained_Conformational_Search avail_Geometrical_Optimisation avail_Frequency_Calculation avail_UV-Vis_Calculation avail_Single-Point_Energy avail_Conformational_Search">GBSA</option>
								<option class="software_specific avail_xtb">ALPB</option>
								<option class="software_specific avail_Gaussian avail_ORCA">SMD</option>
								<option class="software_specific avail_Gaussian">PCM</option>
								<option class="software_specific avail_Gaussian avail_ORCA">CPCM</option>
							</select>
							</div>
						</div>
				</div>
			</div>
			<div class="column is-narrow">
				<div class="field software_specific avail_Gaussian avail_ORCA" id="calc_solvation_radii_field">
					<label class="label">Solvation Radii</label>
					<div class="control">
						<div class="select">
							<select name="calc_solvation_radii" id="calc_solvation_radii" class="solv_select">
								<option class="solvation_model_specific avail_SMD">SMD18</option>
								<option>Default</option>
								<option class="solvation_model_specific avail_PCM avail_CPCM software_specific avail_Gaussian">UFF</option>
								<option class="solvation_model_specific avail_PCM avail_CPCM software_specific avail_Gaussian">UA0</option>
								<option class="solvation_model_specific avail_PCM avail_CPCM software_specific avail_Gaussian">UAHF</option>
								<option class="solvation_model_specific avail_PCM avail_CPCM software_specific avail_Gaussian">UAKS</option>
								<option class="solvation_model_specific avail_PCM avail_CPCM software_specific avail_Gaussian">Pauling</option>
								<option class="solvation_model_specific avail_PCM avail_CPCM software_specific avail_Gaussian">Bondi</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div>
			<div>
				<div class="field" id="custom_specifications_field">
					<label class="label">Specifications</label>
					<div class="control">
						<input class="input" name="calc_specifications" id="calc_specifications" type="text" placeholder="" >
					</div>
				</div>
			</div>
			<div class="method_specific avail_dft">
				<div class="field software_specific avail_Gaussian">
					<label class="label">Density Fitting</label>
					<div class="control">
						<input class="input" name="calc_df" id="calc_df" type="text" placeholder="" >
					</div>
				</div>
			</div>
			<div class="method_specific avail_dft avail_mp2 avail_hf">
				<div class="field" id="custom_bs_field">
					<label class="label">Custom basis sets</label>
					<div class="control">
						<input class="input" name="calc_custom_bs" id="calc_custom_bs" type="text" placeholder="" >
					<button class="button is-info" id="pick_bs_button" type="button">Pick custom basis sets</button>
					</div>
				</div>

				<div class="modal pick_bs_div" id="pick_bs_div">
					<div class="modal-card">
						<header class="modal-card-head">
							<p class="modal-card-title">Specific basis sets</p>
							<button type="button" class="close_btn close_bs modal-close is-large" aria-label="close"></button>
						</header>
						<section class="modal-card-body" id="custom_bs_body">
						</section>
					</div>
				</div>
			</div>
		</div>
		<br />
		{% if IS_CLOUD %}
		<input type="hidden" id="calc_resource" name="calc_resource" value="Local">
		{% else %}
		<div class="field">
			<label class="label">Resource</label>
			<div class="control">
				<div class="select">
				<select name="calc_resource" id="calc_resource" onchange="refresh_availabilities();">
					{% if ALLOW_LOCAL_CALC %}
						{% if request.user.group or request.user.is_PI or request.user.is_superuser %}
							<option>Local</option>
						{% endif %}
					{% endif %}

					{% if ALLOW_REMOTE_CALC %}
					{% for access in request.user.accesses %}
						{% if access.connected %}
							<option>{{ access.cluster_address }}</option>
						{% endif %}
					{% endfor %}
					{% endif %}
				  </select>
				</div>
			</div>
		</div>
		{% endif %}

		{% if ensemble and not structures %}
			<div class="columns">
				<div class="column">
					<div class="field">
						<label class="label">Filter</label>
						<div class="control" >
							<div class="select">
							<select name="calc_filter" onchange="filter_changed();" id="calc_filter">
								<option>None</option>
								<option>By Relative Energy</option>
								<option>By Boltzmann Weight</option>
							  </select>
							</div>
						</div>
					</div>
				</div>
				<div class="column">
					<div class="field" style="display: none;" id="calc_filter_value">
						<label class="label" id="filter_label">Higher than</label>
						<div class="control">
							<input class="input" name="filter_value" type="text" id="filter_value_input">
						</div>
					</div>
				</div>
				<div class="column">
					<div class="field" id="calc_filter_params">
						<label class="label">Parameters</label>
						<div class="control" >
							<div class="select">
							<select name="filter_parameters">
								{% for p in ensemble.unique_parameters %}
									<option value="{{ p.id }}">{{ p }}</option>
								{% endfor %}
							  </select>
							</div>
						</div>
					</div>
				</div>

			</div>

		{% endif %}

		<div class="field">
			<span id="form_error_msg"></span>
			<div class="control">
				<a class="button is-primary" id="submit_button" onclick="verify_form()">Submit</a>
			</div>
		</div>
	</form>
</div>
<script>
	$('#calcform').submit(function(){
		$('<input />').attr('type', 'hidden')
			.attr('name', "constraint_num")
			.attr('value', constraint_num)
			.appendTo(this);

		{% if ensemble or structures %}
		$('<input />').attr('type', 'hidden')
			.attr('name', "starting_ensemble")
			.attr('value', "{{ ensemble.id }}")
			.appendTo(this);
		{% endif %}

		{% if structures %}
		$('<input />').attr('type', 'hidden')
			.attr('name', "starting_structs")
			.attr('value', "{{ structures }}")
			.appendTo(this);
		{% endif %}

		{% if calc %}
		$('<input />').attr('type', 'hidden')
			.attr('name', "starting_calc")
			.attr('value', "{{ calc.id }}")
			.appendTo(this);
		$('<input />').attr('type', 'hidden')
			.attr('name', "starting_frame")
			.attr('value', {{ frame_num }})
			.appendTo(this);
		{% endif %}

		{% if not ensemble and not structure and not calc %}
		if (sketcher.molecules.length > 0) {
			let mol = ChemDoodle.writeMOL(sketcher.getMolecule());

			$('<input />').attr('type', 'hidden')
				.attr('name', "structure").val(mol).appendTo("#calcform");
		}
		{% endif %}

	}); 

$( document ).ready(function() {
	{% if not ensemble and not structure %}
	preselect_last_project();
	project_selection_changed(document.getElementById("calc_project"));
	set_availables();
	{% endif %}

	refresh_presets();

	refresh_availabilities();

	{% if proj %}
	proj = document.getElementById("calc_project");
	proj.value = "{{ proj.name }}";
	{% endif %}

	{% if init_params_id %}
		$.ajax({
			method: "POST",	 	 
			url: "/load_params/{{ init_params_id }}",
			headers: {
				"X-CSRFToken": '{{ csrf_token }}',
			},
			success: function(data) {
				eval(data);
				refresh_availabilities();
				refresh_availabilities();//Whatever
				$('#calc_software').data('software', $("#calc_software").val());

			},
		});
	{% endif %}
	{% if resource %}
	resource = document.getElementById("calc_resource");
	resource.value = "{{ resource }}";
	{% endif %}
	{% if ensemble and not structure %}
		$("#calc_project").val("{{ ensemble.parent_molecule.project.name }}");
		$.ajax({
			method: "POST",	 	 
			url: "/get_structure/",
			headers: {
				"X-CSRFToken": '{{ csrf_token }}',
			},

			data: {'id': "{{ ensemble.id }}", 'num': 1},
			success: function(data, textStatus, xhr) {
				let mol_read = ChemDoodle.readXYZ(data);
				ChemDoodle.relabel(mol_read);
				editor.loadMolecule(mol_read);	
			}
		});

	{% endif %}

	{% if structure %}
		$("#calc_project").val("{{ structure.parent_ensemble.parent_molecule.project.name }}");
		let mol_read = ChemDoodle.readXYZ(`{{ structure.xyz_structure }}`);
		ChemDoodle.relabel(mol_read);
		editor.loadMolecule(mol_read);	
	{% endif %}
	{% if calc %}
		$("#calc_project").val("{{ calc.order.project.name }}");
		$.ajax({
			method: "POST",	 	 
			url: "/get_calc_frame/{{ calc.id }}/{{ frame_num }}",
			headers: {
				"X-CSRFToken": '{{ csrf_token }}',
			},
			success: function(data) {
				let mol_read = ChemDoodle.readXYZ(data);
				ChemDoodle.relabel(mol_read);
				editor.loadMolecule(mol_read);	
				$('#calc_software').data('software', $("#calc_software").val());

			},
		});
	{% endif %}
	if(!local_allowed_theory_levels.includes("ALL")) {
		full_options = document.querySelectorAll("#calc_theory_level > option");
		full_options.forEach(element => {
			if(!local_allowed_theory_levels.includes(element.value)) {
				element.disabled = true;
			}

		});
	}

	if(!local_allowed_steps.includes("ALL")) {
		full_options = document.querySelectorAll("#calc_type > option");
		full_options.forEach(element => {
			if(!local_allowed_steps.includes(element.value)) {
				element.disabled = true;
			}

		});
	}
});
</script>
<script>
let modalBtnBs = document.getElementById("pick_bs_button")
let modalBs = document.querySelector(".pick_bs_div")
let closeBtnBs = document.querySelector(".close_bs")
modalBtnBs.onclick = function(){
	div = $("#custom_bs_body");
	if (div.html().replace(/^\s+|\s+$/g, '') == ""){
		$("#custom_bs_body").load("/periodictable/");
	}
	modalBs.style.display = "block";
}
closeBtnBs.onclick = function(){
	modalBs.style.display = "none";
	print_output_bs();
}
function print_output_bs() {
	output = document.getElementById("calc_custom_bs");
	tmp_output = document.getElementById("custom_bs");

	output.value = tmp_output.value;
}

window.onclick = function(e){
	if(e.target == modalBs){
		modalBs.style.display = "none";
		print_output_bs();
	}
}		


$('#calc_software').change(function(e){
	var software = $(this).data('software');

	$('#calc_specifications').data(software, $('#calc_specifications').val());
	$('#calc_specifications').val($('#calc_specifications').data($(this).val()));

	$(this).data('software', $(this).val());
})

add_constraint(true);	

{% if not ensemble and not structure and not calc %}
	const inputElement = document.getElementById("file_structure");
	inputElement.addEventListener("change", file_upload_changed, false);
{% endif %}

$("#calc_functional").on('input', debounce(function() {check("functional")}, 250));
$("#calc_basis_set").on('input', debounce(function() {check("basis_set")}, 250));
$("#calc_solvent").on('input', debounce(function() {check("solvent")}, 250));

</script>

