{% extends 'frontend/base.html' %}

{% load static %}

{% block extrahead %}
	<link rel="stylesheet" href="{% static 'frontend/uis/jquery-ui-1.11.4.css' %}" type="text/css">
	<script src="{% static 'frontend/jquery.min.js' %}"></script>

	<script>
		function cancel(id) {
			$("#cancel_button_" + id).addClass("is-loading");
			$.ajax({
				method: "POST",	 	 
				url: "/cancel_calc/",
				headers: {
					"X-CSRFToken": '{{ csrf_token }}',
				},
				data: {'id': id},
				success: function() {
					$("#cancel_button_" + id).removeClass("is-loading");
					$("#cancel_button_" + id).addClass("has-background-success");
				}
			});

		}
		function relaunch(id) {
			$("#relaunch_button_" + id).addClass("is-loading");
			$.ajax({
				method: "POST",	 	 
				url: "/relaunch_calc/",
				headers: {
					"X-CSRFToken": '{{ csrf_token }}',
				},
				data: {'id': id},
				success: function() {
					$("#relaunch_button_" + id).removeClass("is-loading");
					$("#relaunch_button_" + id).addClass("has-background-success");
				}
			});

		}

		function refetch(id) {
			$("#refetch_button_" + id).addClass("is-loading");
			$.ajax({
				method: "POST",	 	 
				url: "/refetch_calc/",
				headers: {
					"X-CSRFToken": '{{ csrf_token }}',
				},
				data: {'id': id},
				success: function() {
					$("#refetch_button_" + id).removeClass("is-loading");
					$("#refetch_button_" + id).addClass("has-background-success");
				}
			});

		}

	</script>
	{% endblock %}

{% block content %}
<div class="container">
	<div class="box">
		<center>
			{% if order.ensemble %}
				<h3 class="title is-h3">Calculation Order {{ order.id }} - {{ order.ensemble.name }}</h3>
			{% else %}
			<h3 class="title is-h3">Calculation Order {{ order.id }} - {{ order.structure.parent_ensemble.name }}</h3>
			{% endif %}

			{% if order.resource.cluster_address %}
				Remote calculation ({{ order.resource.cluster_address }}) <br />
			{% else %}
				Local calculation <br />
			{% endif %}
				
			<table class="table">
				<thead>
					<tr>
						<th>Calculation id</th>
						<th>Status</th>
						<th>CPU time (s)</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for calc in order.calculation_set.all %}
					<tr>
						<th><a class="button" href="/calculation/{{ calc.id}}">{{ calc.id }}</a></th>
						<th>{{ calc.text_status }}{% if calc.status == 3%} - {{ calc.error_message }}{% endif %}</th>
						<th>{{ calc.execution_time }}</th>
						<th>{% if request.user.profile == order.author %}<a class="button is-danger" id="cancel_button_{{ calc.id }}" onclick="cancel({{ calc.id }});">Kill</a> {% if not calc.local %} <a class="button" id="relaunch_button_{{ calc.id }}" onclick="relaunch({{ calc.id }});">Relaunch</a><a class="button" id="refetch_button_{{ calc.id }}" onclick="refetch({{ calc.id }});">Refetch</a> {% endif %}{% endif %}</th>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</center>
		<a class="button is-primary" href="/download_all_logs/{{ order.id }}">Download all logs</a>	
	</div>
</div>
<br />
{% endblock %}


