{% extends 'frontend/base.html' %}

{% load static %}

{% block extrahead %}
	<link rel="stylesheet" href="{% static 'frontend/uis/jquery-ui-1.11.4.css' %}" type="text/css">
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

	<script>
		function cancel(id) {
			$("#cancel_button_" + id).addClass("is-loading");
			$.ajax({
				method: "POST",	 	 
				url: "/cancel_calc/",
				headers: {
					"X-CSRFToken": '{{ csrf_token }}',
				},
				data: {'id': id},
				success: function() {
					$("#cancel_button_" + id).removeClass("is-loading");
					$("#cancel_button_" + id).addClass("has-background-success");
				}
			});

		}
		function restart(id) {
			$("#restart_button_" + id).addClass("is-loading");
			$.ajax({
				method: "POST",	 	 
				url: "/restart_calc/",
				headers: {
					"X-CSRFToken": '{{ csrf_token }}',
				},
				data: {'id': id},
				success: function() {
					$("#restart_button_" + id).removeClass("is-loading");
					$("#restart_button_" + id).addClass("has-background-success");
				}
			});

		}

		function refetch(id) {
			$("#refetch_button_" + id).addClass("is-loading");
			$.ajax({
				method: "POST",	 	 
				url: "/refetch_calc/",
				headers: {
					"X-CSRFToken": '{{ csrf_token }}',
				},
				data: {'id': id},
				success: function() {
					$("#refetch_button_" + id).removeClass("is-loading");
					$("#refetch_button_" + id).addClass("has-background-success");
				}
			});

		}

	</script>
	{% endblock %}

{% block content %}
<div class="container">
	<div class="box">
		<center>
					{% if order.ensemble %}
						<h3 class="title is-h3">Calculation Order {{ order.id }} - {{ order.ensemble.name }}</h3>
					{% else %}
					<h3 class="title is-h3">Calculation Order {{ order.id }} - {{ order.structure.parent_ensemble.name }}</h3>
					{% endif %}

			<table class="table">
				<thead>
					<tr>
						<th>Calculation id</th>
						<th>Status</th>
						<th>CPU time (s)</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for calc in order.calculation_set.all %}
					<tr>
						<th><a class="button" href="/calculation/{{ calc.id}}">{{ calc.id }}</a></th>
						<th>{{ calc.text_status }}{% if calc.status == 3%} - {{ calc.error_message }}{% endif %}</th>
						<th>{{ calc.execution_time }}</th>
						<th>{% if request.user.profile == order.author %}<a class="button is-danger" id="cancel_button_{{ calc.id }}" onclick="cancel({{ calc.id }});">Kill</a> {% if not calc.local %} <a class="button" id="restart_button_{{ calc.id }}" onclick="restart({{ calc.id }});">Restart</a><a class="button" id="refetch_button_{{ calc.id }}" onclick="refetch({{ calc.id }});">Refetch</a> {% endif %}{% endif %}</th>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</center>
		<div id="log_div">
		</div>
	</div>
</div>
<br />
{% endblock %}


