{% load static %}

<script>
    function debounce(callback, wait) {
        let timeout;
        return (...args) => {
            const context = this;
            clearTimeout(timeout);
            timeout = setTimeout(() => callback.apply(context, args), wait);
        };
    }

    /* Sets atomic labels as the atomic numbers in the xyz structure */
    (function (ChemDoodle) {
        ChemDoodle.relabel = function (molecule) {
            for (let i = 0, ii = molecule.atoms.length; i < ii; i++) {
                molecule.atoms[i].altLabel = String(i + 1);
            }
        };
    })(ChemDoodle);


    /* Define the format function */
    String.prototype.format = function() {
        a = this;
        for (i=0; i < 30; i++) {
            a = a.replace("{}", arguments[0])
        }
        return a
    }

    {% include "frontend/form/preset_head.js" %}
    {% include "frontend/form/project_head.js" %}
    {% include "frontend/form/file_upload_head.js" %} 
    {% include "frontend/form/aux_file_head.js" %} 
    {% include "frontend/form/derivatives_head.js" %}
    {% include "frontend/form/type_head.js" %}
    {% include "frontend/form/constraints_head.js" %}
    {% include "frontend/form/resource_head.js" %}

	{% if ensemble and not structures %}
    {% include "frontend/form/filter_head.js" %}
	{% endif %}


    {% include "frontend/form/availability.js" %}

	function check(param) {
		val = $("#calc_" + param).val();
		data = {};
		data[param] = val;
		data['software'] = $("#calc_software").val();
		$.ajax({
			method: "POST",	 	 
			url: "/check_" + param + "/",
			data: data,
			headers: {
				"X-CSRFToken": '{{ csrf_token }}',
			},
			success: function(msg) {
				is_red = $("#calc_" + param).hasClass("is-danger");
				if(msg == "" && is_red) {
					$("#calc_" + param).removeClass("is-danger");
				}
				else if(msg != "" && !is_red){
					$("#calc_" + param).addClass("is-danger");
				}
				$("#" + param + "_check_msg").html(msg);
			},
		});

	}

    var constraint_num = 0;
    
	const allow_local_calc = {{ ALLOW_LOCAL_CALC|yesno:"true,false" }};
	const allow_remote_calc = {{ ALLOW_REMOTE_CALC|yesno:"true,false" }};
	const local_allowed_theory_levels = [{% for l in LOCAL_ALLOWED_THEORY_LEVELS %}"{{ l }}", {% endfor %}];
	const local_allowed_steps = [{% for s in LOCAL_ALLOWED_STEPS %}"{{ s }}", {% endfor %}];

	function verify_form() {
		$("#submit_button").addClass("is-loading");
		
        // Adding the selected Project to localStorage on pressing Submit Button
        choice = document.getElementById("calc_project");
        localStorage.setItem("lastSelectedProject", choice.value);

        choice = document.getElementById("calc_resource");
        localStorage.setItem("lastSelectedResource", choice.value);


        data = new FormData(document.forms.namedItem("calcform"));

		data.append("constraint_num", constraint_num);

		{% if ensemble or structures %}
		data.append("starting_ensemble", "{{ ensemble.id }}");
		{% endif %}

		{% if structures %}
		data.append("starting_structs", "{{ structures }}");
		{% endif %}

		{% if calc %}
		data.append("starting_calc", "{{ calc.id }}");
		data.append("starting_frame", {{ frame_num }});
		{% endif %}

		{% if not ensemble and not structure and not calc and is_flowchart is None %}
		if (sketcher.molecules.length > 0) {
			let mol = ChemDoodle.writeMOL(sketcher.getMolecule());
			data.append("structure", mol);
		}
		{% endif %}

		upload_aux_el = $("#aux_file_structure");
		if(upload_aux_el.length != 0) {
			num_aux_files = upload_aux_el[0].files.length;
		}
		else {
			num_aux_files = 0;
		}
		data.append("num_aux_files", num_aux_files);

        const request = new XMLHttpRequest();
        request.onload = function() {
            if(request.status == 200) {
				$("#calcform").submit();
				$("#form_error_msg").html("");
            }
            else {
		        $("#form_error_msg").html("Could not submit the calculation: " + request.response);
				$("#submit_button").removeClass("is-loading");
            }
        };

        request.open("POST", "/verify_calculation/");
        request.send(data);

	}



	function get_3D() {
		let mol = ChemDoodle.writeMOL(sketcher.getMolecule());
        document.getElementById("gen_3D_btn").classList.add("is-loading");
		$.ajax({
			method: "POST",	 	 
			url: "/gen_3D/",
			headers: {
				"X-CSRFToken": '{{ csrf_token }}',
			},

			data: {'mol': mol},
			statusCode: {
				404: function(data) {
					$("#3d_msg").html("Error while generating structure");
				},
				200: function(data) {
					$("#3d_msg").html("");
					let mol_read = ChemDoodle.readXYZ(data);
					ChemDoodle.relabel(mol_read);
					editor.loadMolecule(mol_read);	
				}
			}
        }).always(function() {
            document.getElementById("gen_3D_btn").classList.remove("is-loading");
        });;
	}

	function preview_upload(file_list) {
		if(file_list.length == 1 && file_list[0].type == "chemical/x-xyz") {
			var reader = new FileReader();
			reader.readAsText(file_list[0], "UTF-8");
			reader.onload = function(e) {
                let xyz = e.target.result;
                let sxyz = xyz.split('\n');
                let mol_read = null;
                if(sxyz[0].split(' ').length < 2) {
				    mol_read = ChemDoodle.readXYZ(xyz);
                }
                else {
                    let l;
                    for(l=0;l < sxyz.length; l++) {
                        if(sxyz[l].trim() == "")
                            break;
                    }
				    mol_read = ChemDoodle.readXYZ(String(l) + "\n\n" + xyz);
                }
				ChemDoodle.relabel(mol_read);
				editor.loadMolecule(mol_read);	
			}
		}
		else if(file_list.length == 1 && file_list[0].type == "chemical/x-mdl-molfile") {
			var reader = new FileReader();
			reader.readAsText(file_list[0], "UTF-8");
			reader.onload = function(e) {
				let mol_read = ChemDoodle.readMOL(e.target.result, multiplier=1);
				ChemDoodle.relabel(mol_read);
				editor.loadMolecule(mol_read);	
			}

		}
		else if(file_list.length == 1) {
			var reader = new FileReader();
			reader.readAsText(file_list[0], "UTF-8");
			reader.onload = function(e) {
				ext = file_list[0].name.split('.').pop();
				$.ajax({
					data: {"mol": e.target.result, "ext": ext}, 
					headers: {
						"X-CSRFToken": '{{ csrf_token }}',
					},

					type: "POST", 
					url: "/get_mol_preview/",
					statusCode: {
						200: function (response) { 
							let mol_read = ChemDoodle.readXYZ(response, multiplier=1);
							ChemDoodle.relabel(mol_read);
							editor.loadMolecule(mol_read);	
						},
						204: function (response) { 
							$("#3d_msg").html("Could not generate preview: unsupported file format");
						},
						400: function(response) {
							$("#3d_msg").html("Could not generate preview: the file is too large");
						}
					}
				});

			}
		}
	}

	{% if ensemble or structure %}
	let ensemble = true;
	{% else %}
	let ensemble = false;
	{% endif %}
</script>
