{% load details_tags %}

{% if ensemble %}
	{% for res in ensemble.structure_set.all %}
	<tr id="conf_{{ res.number }}" {% if res.number == 1 %} class="is-selected" {% endif %}>
			<th>{{ res.number }}</th>

			<th>
			{% if parameters %}
				{% get_structure_energy res parameters %}
			{% else %}
			-
			{% endif %}
			</th>
			
			<th>
			{% if parameters %}
				{% get_structure_relative_energy res parameters ensemble %}
			{% else %}
			-
			{% endif %}
			</th>

			<th>{{ res.degeneracy }}</th>
			<th>
			{% if parameters %}
				{% get_structure_weight res parameters ensemble %}
			{% else %}
			-
			{% endif %}
			</th>
		</tr>
	{% endfor %}
{% endif %}
