{% if calculation.has_freq == True %}

	<span class="tag is-danger is-large">Frequencies</span>

	<div class="columns box">
		<div class="column">

			<div id="vib_animation">
				<script>
				let animator = new ChemDoodle.MovieCanvas3D('animator', 400, 400, {});
					animator.styles.set3DRepresentation('Stick');
					animator.styles.backgroundColor = '#FFFFFF';
				</script>
			</div>
		</div>
		<div class="column">
			<table class="table">
				<thead>
					<tr>
						<th>Vibration (cm^-1)</th>
						<th>Vibration (cm^-1)</th>
						<th>Vibration (cm^-1)</th>
					</tr>
				</thead>
				<tbody id="vib_table">

				</tbody>
			</table>
			{% if calculation.has_ts == False %}
			<div id="ir_spectrum" style="width:600px; height:400px; margin-bottom: 30px;">
			</div>
			{% endif %}
		</div>
	</div>
	<script>
		$(document).ready(function(){

		$("#vib_table").load("/vib_table/{{ calculation.id }}");

			{% if calculation.has_ts == False %}
			g4 = new Dygraph(
			document.getElementById("ir_spectrum"),
				"/ir_spectrum/{{ calculation.id }}", 
				{
					strokeWidth: 2,	
					xlabel: "Wavelength (cm^-1)",
					ylabel: "Intensity",

				axes: {
					x: {
						axisLabelFormatter: function(cm) {
							return -cm;
						},
						valueFormatter: function(cm) {
							return -cm;
						}
					},
				}
				}

			);
			{% endif %}
		});
	</script>
{% endif %}

{% if calculation.has_uvvis == True %}
<span class="tag is-danger is-large">UV-Vis</span>
<div class="columns box">
	<div class="column">
<center>
	<div id="uvvis_spectrum" style="width:80%; height:400px; margin-bottom: 30px;"></div>
</center>
	<script>
		$(document).ready(function(){
					g2 = new Dygraph(
			document.getElementById("uvvis_spectrum"),
				"/uvvis/{{ calculation.id }}", 
				{
					strokeWidth: 2,	
					xlabel: "Wavelength (nm)",
					ylabel: "Absorbance"
				}          
			);
		});
	</script>
	</div>
</div>
{% endif %}

<span class="tag is-danger is-large">Parameters</span>
<div class="columns box">
	<div class="column">
	</div>
</div>

