{% extends 'frontend/base.html' %}

{% load i18n bulma_tags %}

{% load static %}

{% block extrahead %}
	<link rel="stylesheet" href="{% static 'frontend/ChemDoodleWeb.css' %}" type="text/css">
	<script type="text/javascript" src="{% static 'frontend/ChemDoodleWeb.js' %}"></script>
	<link rel="stylesheet" href="{% static 'frontend/uis/jquery-ui-1.11.4.css' %}" type="text/css">
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="{% static 'frontend/uis/ChemDoodleWeb-uis.js' %}"></script>

	{% if calculation.type == 2 or calculation.type == 3 %}
	<script src="{% static 'frontend/chartist.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'frontend/dygraph.css' %}" type="text/css">
	<script src="{% static 'frontend/dygraph.min.js' %}"></script>
	{% endif %}

	<script>
		var loadScript = function(src, callbackfn) {
			var newScript = document.createElement("script");
		    	newScript.type = "text/javascript";
		    	newScript.setAttribute("async", "true");
		    	newScript.setAttribute("src", src);

		    	if(newScript.readyState) {
				newScript.onreadystatechange = function() {
			    		if(/loaded|complete/.test(newScript.readyState)) callbackfn();
				}
		    	} else {
				newScript.addEventListener("load", callbackfn, false);
		    	}

		    document.documentElement.firstChild.appendChild(newScript);
		}

		let num = 1;
		let conf_number = 1;

		$.ajaxSetup({ cache: false }); 
		$(document).ready(function(){
			var my_refresh = setInterval(function() {
				$('#info_table').load("/info_table/{{ calculation.id }}");
				$('#status_box').load("/status/{{ calculation.id }}");
				var status = $('#calc_status');

				if( status.html() == "Error") {
					clearInterval(my_refresh);
					$('#info_table').load("/info_table/{{ calculation.id }}");
				}

				$.ajax({
					method: "POST",	 	 
					url: "/get_structure/",
					headers: {
						"X-CSRFToken": '{{ csrf_token }}',
					},
					data: {'id': {{ calculation.id }} {% if calculation.type == 1 %}, 'num' : num {% endif %}},
					success: function(data, textStatus, xhr) {
						if (xhr.status != 204) {
							let mol = ChemDoodle.readMOL(data, 1);

							editor.loadMolecule(mol);
							$("#calc_title").removeClass("has-background-warning");
							$("#calc_title").addClass("has-background-success");
						
							conf_number = {{ calculation.structure_set.count }};
							
							clearInterval(my_refresh);
							{% if calculation.type == 1 %}
							$('#conf_table').load("/conformer_table/{{ calculation.id }}");

							{% elif calculation.type == 2 %}
							g2 = new Dygraph(
							document.getElementById("uvvis_spectrum"),
								"/uvvis/{{ calculation.id }}", 
								{
									strokeWidth: 2,	
									xlabel: "Wavelength (nm)",
									ylabel: "Absorbance"
								}          
							);
							{% elif calculation.type == 3 %}
							g2 = new Dygraph(
							document.getElementById("nmr_spectrum"),
								"/nmr/{{ calculation.id }}", 
								{
									strokeWidth: 2,	
									xlabel: "Chemical shift (ppm)",
									ylabel: "Intensity",
									dateWindow: [-10, 0],
									axes: {
										x: {
											axisLabelFormatter: function(ppm) {
												return -ppm.toPrecision(2);
											},
											valueFormatter: function(ppm) {
												return -ppm.toPrecision(3);
											}
										},
									}

								}          
							);
							{% endif %}
						}


					}
			  
				});


			 }, 1000);
		});

		function refresh() {
			$.ajax({
				method: "POST",	 	 
				url: "/get_structure/",
				headers: {
					"X-CSRFToken": '{{ csrf_token }}',
				},

				data: {'id': {{ calculation.id }} {% if calculation.type == 1 %}, 'num' : num {% endif %}},
				success: function(data, textStatus, xhr) {
					if (xhr.status != 204) {
						let mol = ChemDoodle.readMOL(data, 1);

						editor.loadMolecule(mol);
					}

				}
		  
			});

		}

		function load_log() {
			$('#log_div').load("/log/{{ calculation.id }}");
		}

		{% if calculation.type == 1 %}
		function increase_conf() {
			if(num < conf_number) {
				document.getElementById('conf_' + num).classList.remove("is-selected");
				num = num + 1;
				document.getElementById('conf_' + num).classList.add("is-selected");
				refresh();
			}

		}

		function decrease_conf() {
			if(num > 1) {
				document.getElementById('conf_' + num).classList.remove("is-selected");
				num = num - 1;
				document.getElementById('conf_' + num).classList.add("is-selected");
				refresh();
			}
		}
		{% endif %}

	</script>

{% endblock %}

{% block content %}

{% csrf_token %}

<div class="box ">
	<div id="status_box">
		<div class="box is-rounded {% if calculation.status == 1 %} has-background-warning {% elif calculation.status == 2 %} has-background-success {% elif calculation.status == 3 %} has-background-danger{% endif %}" id="calc_title">
			<center>
					<h3 class="title is-3 ">{{ calculation.name }}</h3>
					<h5 class="subtitle is-5" id="calc_status">{{ calculation.text_status }}</h5>
			</center>
					<progress class="progress" value="{{ calculation.current_step }}" max="{{ calculation.num_steps }}"></progress>
		</div>
	</div>

	<strong>{{ calculation.text_type }}</strong>

	{% if calculation.type == 0 or calculation.type == 4 %}
	<div>
		<script>
			let editor = new ChemDoodle.EditorCanvas3D('editor', 400, 400, {});
			editor.styles.set3DRepresentation('Stick');
			editor.styles.backgroundColor = '#FFFFFF';
		</script>
		<br />
		<button class="button" onclick="window.location.href='/download_structure/{{ calculation.id }}'">Download structure in .mol</button>
	</div>

	{% elif calculation.type == 1 %}

	<div class="columns">
		<div class="column">
			<script>
				let editor = new ChemDoodle.EditorCanvas3D('editor', 400, 400, {});
				editor.styles.set3DRepresentation('Stick');
				editor.styles.backgroundColor = '#FFFFFF';
			</script>
			<br />
			<button class="button" onclick="decrease_conf()">Previous Conformer</button>
			<button class="button" onclick="increase_conf()">Next Conformer</button>
			<br />
			<button class="button" onclick="window.location.href='/download_structure/{{ calculation.id }}'">Download structures in .mol</button>
		</div>
		<div class="column">
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Energy (Ha)</th>
						<th>Relative energy (kJ/mol)</th>
						<th>Degeneracy</th>
						<th>Boltzmann Weight at 298K</th>
					</tr>
				</thead>
				<tbody id="conf_table">

				</tbody>
			</table>
		</div>
	</div>

	{% elif calculation.type == 2 %}

	<div class="columns">
		<div class="column">
			<script>
				let editor = new ChemDoodle.EditorCanvas3D('editor', 400, 400, {});
				editor.styles.set3DRepresentation('Stick');
				editor.styles.backgroundColor = '#FFFFFF';
			</script>
			<br />
			<button class="button" onclick="window.location.href='/download_structure/{{ calculation.id }}'">Download structure in .mol</button>
		</div>
		<div class="column">
			<div id="uvvis_spectrum" style="width:600px; height:400px; margin-bottom: 30px;"></div>
			<a class="button" href="/uvvis/{{ calculation.id }}">Download spectrum in CSV format</a>
		</div>
	</div>
	{% elif calculation.type == 3 %}

	<div class="columns">
		<div class="column">
			<script>
				let editor = new ChemDoodle.EditorCanvas3D('editor', 400, 400, {});
				editor.styles.set3DRepresentation('Stick');
				editor.styles.backgroundColor = '#FFFFFF';
			</script>
			<br />
			<button class="button" onclick="window.location.href='/download_structure/{{ calculation.id }}'">Download structure in .mol</button>
		</div>
		<div class="column">
			<div id="nmr_spectrum" style="width:600px; height:400px; margin-bottom: 30px;"></div>
			<a class="button" href="/nmr/{{ calculation.id }}">Download spectrum in CSV format</a>
		</div>
	</div>


	{% endif %}
	<br />

	<div class="box">
		<table class="table" id="info_table">
		</table>
	</div>
	{% if calculation.status == 2 %}
	<form action="/launch/{{ calculation.id }}" method="post" id="nextstep_form">
			{% csrf_token %}
			<button class="button">Open structure in editor</button>
		</form>
	{% endif %}

	<button class="button" onclick="load_log()">Load the log(s)</button>

	<div class="control" id="log_div">
	  
	</div>

	<br />
	<a class="button is-danger" href="/delete/{{ calculation.id }}">Delete this calculation</a>
</div>

{% endblock content %}
