{% extends 'frontend/base.html' %}

{% load i18n bulma_tags %}

{% load static %}

{% block extrahead %}
	<link rel="stylesheet" href="{% static 'frontend/ChemDoodleWeb.css' %}" type="text/css">
	<script type="text/javascript" src="{% static 'frontend/ChemDoodleWeb.js' %}"></script>
	<link rel="stylesheet" href="{% static 'frontend/uis/jquery-ui-1.11.4.css' %}" type="text/css">
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="{% static 'frontend/uis/ChemDoodleWeb-uis.js' %}"></script>

	{% if calculation.has_freq or calculation.has_nmr or calculation.has_uvvis %}
	<link rel="stylesheet" href="{% static 'frontend/dygraph.css' %}" type="text/css">
	<script src="{% static 'frontend/dygraph.min.js' %}"></script>
	{% endif %}

	<script>
		$(document).ready(function(){
	(function(ChemDoodle) {
	  ChemDoodle.relabel = function(molecule){
	    for(let i = 0, ii = molecule.atoms.length; i<ii; i++){
	    	molecule.atoms[i].altLabel = String(i+1);
	    }
	  };

	})(ChemDoodle);
		});
	</script>
	<script>
		var loadScript = function(src, callbackfn) {
			var newScript = document.createElement("script");
		    	newScript.type = "text/javascript";
		    	newScript.setAttribute("async", "true");
		    	newScript.setAttribute("src", src);

		    	if(newScript.readyState) {
				newScript.onreadystatechange = function() {
			    		if(/loaded|complete/.test(newScript.readyState)) callbackfn();
				}
		    	} else {
				newScript.addEventListener("load", callbackfn, false);
		    	}

		    document.documentElement.firstChild.appendChild(newScript);
		}

		let num = 1;
		let conf_number = 1;

		$.ajaxSetup({ cache: false }); 
		$(document).ready(function(){
			var my_refresh = setInterval(function() {
				$('#info_table').load("/info_table/{{ calculation.id }}");
				$('#status_box').load("/status/{{ calculation.id }}");
				var status = $('#calc_status');

				if( status.html() == "Error") {
					clearInterval(my_refresh);
					$('#info_table').load("/info_table/{{ calculation.id }}");
				}

				$.ajax({
					method: "POST",	 	 
					url: "/get_structure/",
					headers: {
						"X-CSRFToken": '{{ csrf_token }}',
					},
					data: {'id': {{ calculation.id }}, 'num': 1},
					success: function(data, textStatus, xhr) {
						if (xhr.status != 204) {
							let mol = ChemDoodle.readXYZ(data);

							clearInterval(my_refresh);
							editor.loadMolecule(mol);

							$("#next_step_div").load("/next_step/{{ calculation.id }}");
							$("#calc_title").removeClass("has-background-warning");
							$("#calc_title").addClass("has-background-success"); 
							$('#status_box').load("/status/{{ calculation.id }}");

							{% if calculation.has_freq %}
							$("#vib_table").load("/vib_table/{{ calculation.id }}");
							{% endif %}

							{% if calculation.has_uvvis %}

							g2 = new Dygraph(
								document.getElementById("uvvis_spectrum"),
									"/uvvis/{{ calculation.id }}", 
									{
										strokeWidth: 2,	
										xlabel: "Wavelength (nm)",
										ylabel: "Absorbance"
									}          
								);

							{% endif %}

							//conf_number = {{ calculation.result_ensemble.structure_set.count }};
							$.ajax({
								method: "GET",	 	 
								url: "/conformer_table/{{ calculation.id }}",
								headers: {
									"X-CSRFToken": '{{ csrf_token }}',
								},
								success: function(data, textStatus, xhr) {
									if (xhr.status != 204) {
										$("#conf_table").html(data);
										conf_number = document.getElementById("conf_table").rows.length;
									}
								}
							});

						}
					}
				});
			 }, 1000);
		});

		function refresh() {
			$.ajax({
				method: "POST",	 	 
				url: "/get_structure/",
				headers: {
					"X-CSRFToken": '{{ csrf_token }}',
				},

				data: {'id': {{ calculation.id }} , 'num': num},
				success: function(data, textStatus, xhr) {
					if (xhr.status != 204) {
						let mol = ChemDoodle.readXYZ(data);
						editor.loadMolecule(mol);
					}

				}
		  
			});

		}

		function load_log() {
			$('#log_div').load("/log/{{ calculation.id }}");
		}


		function increase_conf() {
			if(num < conf_number) {
				document.getElementById('conf_' + num).classList.remove("is-selected");
				num = num + 1;
				document.getElementById('conf_' + num).classList.add("is-selected");
				refresh();
			}

		}

		function decrease_conf() {
			if(num > 1) {
				document.getElementById('conf_' + num).classList.remove("is-selected");
				num = num - 1;
				document.getElementById('conf_' + num).classList.add("is-selected");
				refresh();
			}
		}

		{% if calculation.procedure.has_freq %}
			function animate_vib(num) {
				$.ajax({
					method: "POST",	 	 
					url: "/get_vib_animation/",
					headers: {
						"X-CSRFToken": '{{ csrf_token }}',
					},

					data: {'id': {{ calculation.id }}, 'num': num},
					success: function(data, textStatus, xhr) {
						if (xhr.status != 204) {
							eval(data);
						}

					}
			  
				});


			}

		{% endif %}
	</script>

{% endblock %}

{% block content %}

{% csrf_token %}

<div class="container">
	<div id="status_box">
		<div class="box is-rounded {% if calculation.status == 1 %} has-background-warning {% elif calculation.status == 2 %} has-background-success {% elif calculation.status == 3 %} has-background-danger{% endif %}" id="calc_title">
			<center>
					<h3 class="title is-3 ">{{ calculation.name }}</h3>
					<h5 class="subtitle is-5" id="calc_status">{{ calculation.text_status }}</h5>
			</center>
					<progress class="progress" value="{{ calculation.current_step }}" max="{{ calculation.num_steps }}"></progress>
		</div>
	</div>

	<strong>{{ calculation.text_type }}</strong>
	<br />
	<br />
	<span class="tag is-danger is-large">Geometries</span>
	<div class="columns box">

		<div class="column">
			<script>
				let editor = new ChemDoodle.EditorCanvas3D('editor', 400, 400, {useServices: false});
				editor.styles.set3DRepresentation('Stick');
				editor.styles.backgroundColor = '#FFFFFF';
				editor.oneMolecule = true;
			</script>
			<br />
			<button class="button" onclick="window.location.href='/download_structure/{{ calculation.id }}'">Download structure in .xyz <i class="fas fa-download"></i></button>
			<br />	
			<button class="button" onclick="decrease_conf()">Previous Structure</button>
			<button class="button" onclick="increase_conf()">Next Structure</button>
		</div>
		<div class="column">
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>Energy (Ha)</th>
						<th>Relative energy (kJ/mol)</th>
						<th>Degeneracy</th>
						<th>Boltzmann Weight at 298K</th>
					</tr>
				</thead>
				<tbody id="conf_table">

				</tbody>
			</table>
		</div>
	</div>

	<br />


	{% include 'frontend/details_sections.html' %}	

	<div class="box">
		<table class="table" id="info_table">
		</table>
	</div>
	<div id="next_step_div">
		{% if calculation.status == 2 %}
			<form action="/launch/{{ calculation.id }}" method="post" id="nextstep_form">
				{% csrf_token %}
				<button class="button">Open structure in editor  <i class="fas fa-external-link-alt"></i></button>
			</form>
		{% endif %}
	</div>

	<button class="button" onclick="load_log()">Load the log(s) <i class="fas fa-envelope-open-text"></i></button>

	<div class="control" id="log_div">
	  
	</div>

	<br />
	{% if profile == calculation.author %}
		<a class="button is-danger" href="/delete/{{ calculation.id }}">Delete this calculation</a>
	{% endif %}
</div>

{% endblock content %}
