{% extends 'frontend/base.html' %}

{% load static %}

{% block extrahead %}
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="{% static 'frontend/jquery.toc.min.js' %}"></script>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.1/styles/default.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.1/highlight.min.js"></script>
	<script>
document.addEventListener('DOMContentLoaded', (event) => {
  document.querySelectorAll('sh code').forEach((block) => {
    hljs.highlightBlock(block);
  });
});
	</script>
	<style>
		.title {
			margin-top: 50px;
			margin-bottom: 20px;
		}
		sh {
			white-space: pre-line;
			border: 1px solid #ddd;
			color: #666;
			font-size: 15px;
			line-height: 1.6;
			margin-top: 1.6em;
			margin-bottom: 1.6em;
			max-width: 100%;
			padding: 1em 1.5em;
			display: block;
		}
		codetitle {
			font-weight: bold;
			text-align: center;
		}
		p {
 			white-space: pre-line;
		}
		.panel {
			display: none;
		}
		h1 {
			text-align: center;
		}
		#toc {
			list-style-type: none;
		}
		li > a, p > a {
			color: green;
		}
		.content {
			width: 50%; 
			margin-left: 25%;
		}
	</style>
{% endblock %}

{% block content %}
<div class="content" >
	<h1 class="title is-1">Documentation</h1>

	<ul data-toc=".content" data-toc-headings="h2,h3,h4,h5" id="toc"></ul>

	<h3 class="title is-3">What is CalcUS</h3>
	CalcUS is a computational chemistry plateform. It strives for simplicity, clarity and efficiency. It brings all the necessary tools to perform computational chemistry in a user-friendly web interface.
	<h3 class="title is-3">User Guide</h3>
	<h4 class="title is-4">Calculation Structure</h4>
	<p>
	CalcUS uses a hierarchy to sort the calculations and their results in a chemically meaningful way.

	The topmost level is composed of projects, which should be completely independant. All the results from a project can be downloaded as a single CSV file from the main page. Projects are created when creating a new molecule. You can also pick an existing project to put that molecule into.

	Molecules are defined by their atoms and bonds, without considering the exact 3D orientation. When a new molecule is created, its InChI code is determined as to have a unique tag for each molecule. If you create a new molecule which already exists in the project, the results will be merged.

	Molecules contain ensembles, which are groups of structures stemming from the same source. If you perform a conformational search, every conformer will be in the same ensemble. In this case, the ensemble represents the true and complete picture of how the molecule will be oriented in space at equilibrium. Here, the ensemble has a thermodynamic meaning. On the other hand, if you performed a constrained optimisation, like scanning a bond distance, an ensemble will be generated to hold all the structures of that scan. In this case, the ensemble itself has no thermodynamic meaning and is just a way of keeping the results organized. Ensembles will also be generated to hold the input structures, either for uploaded structures or drawn structures. These can often be deleted if not needed for further calculations.

	Structures are unique positionings of the molecule in space. If a structure is reoptimized at a different theory level, it will generate another structure (as the exact coordinates will change slightly), which will be held in a new ensemble. An entire ensemble can be reoptimized to generated a single new ensemble. Every calculation that changes the coordinates (geometrical optimisation, constrained optimisation, conformer search, transition state optimisation) will generate new structures.

	The other calculations which don't change the coordinates will create properties. These are attached to a structure and a particular computational method. On CalcUS, different computational methods will create new tabs on the ensemble page and can be browser through that way. All the properties calculated will appear when you choose a set of parameters. The ensemble properties are calculated from all the structural properties (for example, the Boltzmann-weighted free energy). Structural properties also appear below the ensemble properties and will be updated if you select another structure. The properties do not have to be calculated with the same computational method as the geometries were obtained (although make sure you are interpreting the results correctly!)
	</p>


	<h4 class="title is-4">Quickstart</h4>
	You can quickly get started by going to <a href="/launch/">New Molecule</a> and drawing the molecule you want to study. After choosing a molecule name and new project name, you can choose the type of calculation you want to perform. The fields should generally be filled from the top to the bottom, as choices you make might change the number of options to choose. Make sure you have at least once computing resource to carry out the calculation (see below). After submitting your calculation, you will be taken back to the home page, where your new project will be created. You can view the calculation's status by going to <a href="/calculations/">Calculations</a>. Once it is done, you can click directly on the calculation order to be taken to the molecule's page and browse through the results.

	<h4 class="title is-4">Local Calculations</h4>
	<p>
		To launch calculations directly on the server, you must either be the Principal Investigator (PI) of a research group or belong to such a group. Once one of these conditions are met, you will have access to the "Local" resource on the calculation launching page.

		If you are a newly registered PI, you can make a request to create your group in your profile. The site's administrator will have to approve your request, so contact him or her to validate your identity and accelerate the process. You will then be able to add members with their username and unique code (which is generated upon account creation.) 

		If you are a newly registered student, send your username and unique code to your PI to be added to their group.
	</p>
	<h4 class="title is-4">Remote Calculations</h4>
		CalcUS can also use external computing resources. The process of launching calculations is exactly the same as for local calculations, except that the external computing resource must be selected in the "Resource" field. Once the calculations are done, the results will be parsed from the remote server, analysed and added to your project. Local calculations can also be used as starting points for calculations on other resources, as every calculation is independant of the resource used.

	<h5 class="title is-5">Setup</h5>
		Before launching calculations, you will need to configure the resource a bit. Firstly, create a folder named "calcus" in your remote home (the full path should be <code>/home/&lt;username&gt;/calcus</code>). Make sure you the following programs in that folder:
		<ul>
			<li><a href="https://github.com/grimme-lab/xtb/releases">xtb</a></li>
			<li><a href="https://github.com/grimme-lab/crest/releases">crest</a></li>
			<li><a href="https://github.com/grimme-lab/stda/releases">xtb4stda</a></li>
			<li><a href="https://github.com/grimme-lab/stda/releases">stda</a></li>
			<li><a href="https://github.com/grimme-lab/enso/releases">enso.py</a></li>
			<li><a href="https://github.com/grimme-lab/enso/releases">anmr</a></li>
		</ul>
	<p>
		Make sure that every file is executable. If they are not, you can make them executable by executing the command <code>chmod 700 *</code> in the calcus folder. Then, add <code>/home/&lt;username&gt;/calcus</code> to your path variable, in your <code>.bashrc</code> file. This will ensure that CalcUS will be able to find and use these programs. You will also need the parameter files for xtb and xtb4stda (named <code>.param_...</code>). You will find them in the Github repositories (<a href="https://github.com/grimme-lab/xtb4stda">here</a> and <a href="https://github.com/grimme-lab/xtb">here</a>); they can be simply dropped in your home directory.

		If you do not intend to use these programs on the remote resource, you can simply create empty files (ex. by using <code>touch &lt;file&gt;</code>).

		Secondly, you will need to supply sample submission scripts. As of right now, only the SLURM cluster manager is supported. You need to provide one submission script per software, named <code>submit_&lt;software&gt;.sh</code> (be careful of the capitalization in the software name) and located in your calcus folder. For xtb and other related programs, the script might look like this:

	</p>

		<sh>
			<codetitle>submit_xtb.sh</codetitle>
			<code>
				#!/bin/bash
				#SBATCH --job-name=CalcUS
				#SBATCH --output=%x-%j.log
				#SBATCH --account=def-mygroup
				#SBATCH --time=168:00:00
				#SBATCH --nodes=1
				#SBATCH --ntasks=24
				#SBATCH --mem=31000M

				module load python/3.8.0

				export OMP_NUM_THREADS=24.1
				export OMP_STACKSIZE=1G

				cd $SLURM_SUBMIT_DIR
			</code>
		</sh>


		And for ORCA, it might look like this:
		<sh>
			<codetitle>submit_ORCA.sh</codetitle>
			<code class="bash">
			#!/bin/bash
			#SBATCH --job-name=CalcUS
			#SBATCH --output=%x-%j.log
			#SBATCH --account=def-mygroup
			#SBATCH --time=168:00:00
			#SBATCH --nodes=1
			#SBATCH --ntasks=24
			#SBATCH --mem=31000M

			module load nixpkgs/16.09  gcc/7.3.0  openmpi/3.1.2 orca/4.2.0

			cd $SLURM_SUBMIT_DIR
			</code>
		</sh>

		CalcUS will automatically append the correct command to this file when submitting a calculation.

		The final step is adding the access on CalcUS. To do that, go on your profile page and enter the correct information about the remote resource you want to add, then click "Submit". 
		
		<center>
			<img src="{% static 'documentation/cluster_access.png' %}" />
		</center>

		You will be given a public key to add to your authorized keys (in <code>/home/&lt;username&gt;/.ssh/authorized_keys</code>) on the remote server. Once that is done, click "Manage" on the corresponding entry in the "Owned accesses" table. Click "Test connection" to initiate the connection between CalcUS and the cluster. If everything goes well, the status of the access will become "Connected". You will then be able to use this resource when launching calculations.

	<h3 class="title is-3">Detailed Documentation</h3>
	<h4 class="title is-4">Basis Sets</h4>

	<details>
  		<summary>View all basis sets</summary>
		<table class="table">
		<thead>
			<tr>
			    <th>Basis Set</th>
			    <th>ORCA</th>
			</tr>
	    	</thead>
	    	<tbody>
		    <tr>
			<td>STO-3G</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>MINI</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>MINIS</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>MINIX</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>MIDI</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>3-21G</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>3-21GSP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>4-22GSP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-31G</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-31G(d)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>m6-31G</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>m6-31G(d)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-31G(d,p)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-31G(2d)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-31G(2d,p)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-31G(2d,2p)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-31G(2df)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-31G(2df,2p)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-31G(2df,2pd)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-31+G(d)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-31+G(d,p)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-31+G(2d)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-31+G(2d,p)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-31+G(2d,2p)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-31+G(2df)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-31+G(2df,2p)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-31+G(2df,2pd)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-31++G(d,p)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-31++G(2d,p)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-31++G(2d,2p)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-31++G(2df)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-31++G(2df,2p)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-31++G(2df,2pd)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-311G(d)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-311G(d,p)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-311G(2d)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-311G(2d,p)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-311G(2d,2p)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-311G(2df)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-311G(2df,2p)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-311G(2df,2pd)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-311G(3df)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-311G(3df,3pd)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-311+G(d)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-311+G(d,p)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-311+G(2d)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-311+G(2d,p)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-311+G(2d,2p)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-311+G(2df)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-311+G(2df,2p)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-311+G(2df,2pd)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-311+G(3df)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-311+G(3df,2p)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-311+G(3df,3pd)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-311++G(d,p)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-311++G(2d)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-311++G(2d,p)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-311++G(2d,2p)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-311++G(2df)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-311++G(2df,2p)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-311++G(2df,2pd)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-311++G(3df)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>6-311++G(3df,3pd)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>haV(t+d)z</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>haV(q+d)z</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>haV(5+d)z</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>W1-TZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>w1-mtsmall</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>SV</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>SVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>TZV</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>TZVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>TZVPP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>QZVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>QZVPP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>DKH-SVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>DKH-TZVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>DKH-TZV-PP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>DKH-QZVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>DKH-QZV-PP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ZORA-SVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ZORA-TZVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ZORA-TZV-PP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ZORA-QZVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ZORA-QZV-PP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>Def2-mSVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>Def2-mTZVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>Def2-SVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>Def2-TZVP(-f)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>Def2-TZVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>Def2-TZVPP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>Def2-QZVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>Def2-QZVPP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>Def2-SVPD</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>Def2-TZVPD</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>Def2-TZVPPD</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>Def2-QZVPD</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>Def2-QZVPPD</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>DKH-Def2-SVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>DKH-Def2-TZVP(-f)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>DKH-Def2-TZVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>DKH-Def2-TZVPP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>DKH-Def2-QZVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>DKH-Def2-QZVPP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ZORA-Def2-SVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>zora-Def2-TZVP(-f)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ZORA-Def2-TZVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ZORA-Def2-TZVPP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ZORA-Def2-QZVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ZORA-Def2-QZVPP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ma-Def2-mSVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ma-Def2-SVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ma-Def2-TZVP(-f)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ma-Def2-TZVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ma-Def2-TZVPP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ma-Def2-QZVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ma-Def2-QZVPP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ma-DKH-Def2-SVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ma-DKH-Def2-TZVP(-f)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ma-DKH-Def2-TZVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ma-DKH-Def2-TZVPP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ma-DKH-def2-QZVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ma-DKH-def2-QZVPP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ma-ZORA-def2-SVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ma-ZORA-Def2-TZVP(-f)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ma-ZORA-Def2-TZVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ma-ZORA-Def2-TZVPP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ma-ZORA-Def2-QZVPP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ANO-pVDZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ANO-pVTZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ANO-pVQZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ANO-pV5Z</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ANO-pV6Z</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-ANO-pVDZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-ANO-pVTZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-ANO-pVQZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-ANO-pV5Z</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>saug-ANO-pVDZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>saug-ANO-pVTZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>saug-ANO-pVQZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>saug-ANO-pV5Z</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ANO-RCC-DZP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ANO-RCC-TZP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ANO-RCC-QZP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ANO-RCC-Full</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>pc-0</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>pc-1</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>pc-2</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>pc-3</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>pc-4</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-pc-0</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-pc-1</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-pc-2</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-pc-3</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-pc-4</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>pcJ-0</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>pcJ-1</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>pcJ-2</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>pcJ-3</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>pcJ-4</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-pcJ-0</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-pcJ-1</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-pcJ-2</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-pcJ-3</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-pcJ-4</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>pcseg-0</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>pcseg-1</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>pcseg-2</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>pcseg-3</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>pcseg-4</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-pcseg-0</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-pcseg-1</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-pcseg-2</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-pcseg-3</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-pcseg-4</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>pcSseg-0</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>pcSseg-1</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>pcSseg-2</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>pcSseg-3</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>pcSseg-4</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-pcSseg-0</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-pcSseg-1</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-pcSseg-2</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-pcSseg-3</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-pcSseg-4</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pVDZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pVTZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pVQZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pV5Z</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pV6Z</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pVDZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pVTZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pVQZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pV5Z</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pV6Z</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pVD(+d)Z</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pVT(+d)Z</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pVQ(+d)Z</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pV5(+d)Z</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pVTZ-J</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pCVDZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pCVTZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pCVQZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pCV5Z</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pCV6Z</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pCVDZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pCVTZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pCVQZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pCV5Z</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pCV6Z</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pwCVDZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pwCVTZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pwCVQZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pwCV5Z</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pwCVDZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pwCVTZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pwCVQZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pwCV5Z</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pVDZ-PP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pVTZ-PP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pVQZ-PP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pV5Z-PP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pVDZ-PP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pVTZ-PP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pVQZ-PP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pV5Z-PP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pCVDZ-PP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pCVTZ-PP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pCVQZ-PP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pCV5Z-PP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pCVDZ-PP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pCVTZ-PP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pCVQZ-PP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pCV5Z-PP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pwVDZ-PP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pwVTZ-PP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pwVQZ-PP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pwV5Z-PP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pwVDZ-PP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pwVTZ-PP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pwVQZ-PP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pwV5Z-PP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pVDZ-DK</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pVTZ-DK</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pVQZ-DK</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pV5Z-DK</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pVDZ-DK</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pVTZ-DK</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pVQZ-DK</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pV5Z-DK</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pwCVDZ-DK</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pwCVTZ-DK</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pwCVQZ-DK</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pwCV5Z-DK</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pV(D+d)Z</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pV(T+d)Z</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pV(Q+d)Z</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pV(5+d)Z</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pV(6+d)Z</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>W1-Opt</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>W1-QZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pwVDZ-DK</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pwVTZ-DK</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pwVQZ-DK</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>aug-cc-pwV5Z-DK</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>Partridge-1</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>Partridge-2</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>Partridge-3</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>Partridge-4</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>ANO-SZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>LANL08</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>LANL08(f)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>LANL2DZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>LANL2TZ</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>LANL2TZ(f)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>Sapporo-DZP-2012</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>Sapporo-TZP-2012</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>Sapporo-QZP-2012</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>Sapporo-DKH3-DZP-2012</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>Sapporo-DKH3-TZP-2012</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>Sapporo-DKH3-QZP-2012</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>SARC-DKH-SVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>SARC-DKH-TZVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>SARC-DKH-TZVPP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>SARC2-DKH-QZV</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>SARC2-DKH-QZVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>SARC2-ZORA-QZV</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>SARC2-ZORA-QZVP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>D95</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>D95p</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>EPR-II</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>EPR-III</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>IGLO-II</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>IGLO-III</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>UGBS</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>CP</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>CP(PPP)</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>Wachters+f</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pVDZ-F12</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pVTZ-F12</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pVQZ-F12</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pVDZ-PP-F12</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pVTZ-PP-F12</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pVQZ-PP-F12</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pCVDZ-F12</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pCVTZ-F12</td>
			<td>X</td>

		    </tr>
		    <tr>
			<td>cc-pCVQZ-F12</td>
			<td>X</td>

		    </tr>
	    	</tbody>
		</table>	
	</details>
	<h4 class="title is-4">DFT Functionals</h4>
	<details>
  		<summary>View all DFT functionals</summary>
		<table class="table">
		    <thead>
			<tr>
			    <th>Functionals</th>
			    <th>ORCA</th>
			</tr>
		    </thead>
		    <tbody>
			    <tr>
				<td>HFS</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>XAlpha</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>LSD</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>VWN5</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>VWN3</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>PWLDA</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>BNULL</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>BVWN</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>BP</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>PW91</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>mPWPW</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>mPWLYP</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>BLYP</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>GP</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>GLYP</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>PBE</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>revPBE</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>RPBE</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>PWP</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>OLYP</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>OPBE</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>XLYP</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>B97-D</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>B97-D3</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>PW86PBE</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>RPW86PBE</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>M06L</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>TPSS</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>revTPSS</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>SCANfunc</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>B1LYP</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>B3LYP</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>B1P</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>B3P</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>G1LYP</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>G3LYP</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>G1P</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>G3P</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>PBE0</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>PWP1</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>M06</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>M062X</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>mPW1PW</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>mPW1LYP</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>PW91_0</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>O3LYP</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>X3LYP</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>PW6B95</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>B97</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>BHANDHLYP</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>wB97</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>wB97X</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>wB97X-D3</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>wB97X-V</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>wB97X-D3BJ</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>CAM-B3LYP</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>LC-BLYP</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>TPSSH</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>TPSS0</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>B2PLYP</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>mPW2PLYP</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>B2GP-PLYP</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>B2K-PLYP</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>B2T-PLYP</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>PWPB95</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>wB2PLYP</td>
				<td>X</td>

			    </tr>
			    <tr>
				<td>wB2GP-PLYP</td>
				<td>X</td>

			    </tr>
		    </tbody>
		</table>
	</summary>
</div>
{% endblock %}

