{% extends 'frontend/base.html' %}

{% load i18n bulma_tags %}

{% load static %}
{% load details_tags %}

{% block extrahead %}
	<title>CalcUS - {{ ensemble.name }}</title>
	<link rel="stylesheet" href="{% static 'frontend/ChemDoodleWeb.css' %}" type="text/css">
	<script type="text/javascript" src="{% static 'frontend/ChemDoodleWeb.js' %}"></script>
	<link rel="stylesheet" href="{% static 'frontend/uis/jquery-ui-1.11.4.css' %}" type="text/css">
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="{% static 'frontend/uis/ChemDoodleWeb-uis.js' %}"></script>

	<link rel="stylesheet" href="{% static 'frontend/dygraph.css' %}" type="text/css">
	<script src="{% static 'frontend/dygraph.min.js' %}"></script>
	<script src="{% static 'frontend/3Dmol-min.js' %}"></script>

	<style>
		#ensemble_name > br { 
			display: none 
		}
	</style>
	<script>
		$(document).ready(function(){
			(function(ChemDoodle) {
				ChemDoodle.relabel = function(molecule){
				for(let i = 0, ii = molecule.atoms.length; i<ii; i++){
					molecule.atoms[i].altLabel = String(i+1);
				}
	  		};

			})(ChemDoodle);
		});
	</script>
	<script>
		var loadScript = function(src, callbackfn) {
			var newScript = document.createElement("script");
		    	newScript.type = "text/javascript";
		    	newScript.setAttribute("async", "true");
		    	newScript.setAttribute("src", src);

		    	if(newScript.readyState) {
				newScript.onreadystatechange = function() {
			    		if(/loaded|complete/.test(newScript.readyState)) callbackfn();
				}
		    	} else {
				newScript.addEventListener("load", callbackfn, false);
		    	}

		    document.documentElement.firstChild.appendChild(newScript);
		}

		let num = 0;
		let conf_length = 1;
		var curr_p = 0;

		$.ajaxSetup({ cache: false }); 
		$(document).ready(function(){
			$.ajax({
				method: "POST",	 	 
				url: "/get_structure/",
				headers: {
					"X-CSRFToken": '{{ csrf_token }}',
				},
				data: {'id': {{ ensemble.id }}},
				success: function(data, textStatus, xhr) {
					if (xhr.status != 204) {
						let mol = ChemDoodle.readXYZ(data);

						ChemDoodle.relabel(mol);	
						editor.loadMolecule(mol);

						$("#next_step_div").load("/next_step/{{ calculation.id }}");
						$.ajax({
							method: "GET",	 	 
							url: "/conformer_table/{{ ensemble.id }}",
							headers: {
								"X-CSRFToken": '{{ csrf_token }}',
							},
							success: function(data, textStatus, xhr) {
								if (xhr.status != 204) {
									$("#conf_table").html(data);
									conf_length = document.getElementById("conf_table").rows.length;

									refresh_details({{ ensemble.unique_parameters.0.id }});
								}
							}
						});

					}
				}
			});
		});

		function select_conf(conf_num) {
			document.getElementById("conf_table").rows[num].classList.remove("is-selected");
			
			num = conf_num;
			document.getElementById("conf_table").rows[num].classList.add("is-selected");
			refresh();
		}

		function refresh() {
			$.ajax({
				method: "POST",	 	 
				url: "/get_structure/",
				headers: {
					"X-CSRFToken": '{{ csrf_token }}',
				},

				data: {'id': {{ ensemble.id }} , 'num': get_conf_number()},
				success: function(data, textStatus, xhr) {
					if (xhr.status != 204) {
						let mol = ChemDoodle.readXYZ(data);
						editor.loadMolecule(mol);
					}

				}
		  
			});
			if (curr_p != 0) {
				refresh_structure();
			}
		}

		function increase_conf() {
			if(num < conf_length - 1) {
				document.getElementById("conf_table").rows[num].classList.remove("is-selected");
				num = num + 1;
				document.getElementById("conf_table").rows[num].classList.add("is-selected");
				refresh();
			}

		}

		function decrease_conf() {
			if(num > 0) {
				document.getElementById("conf_table").rows[num].classList.remove("is-selected");
				num = num - 1;
				document.getElementById("conf_table").rows[num].classList.add("is-selected");
				refresh();
			}
		}

		function refresh_ensemble () {
			$.ajax({
				method: "POST",	 	 
				url: "/details_ensemble/",
				headers: {
					"X-CSRFToken": '{{ csrf_token }}',
				},

				data: {'id': {{ ensemble.id }}, 'p_id': curr_p},
				success: function(data, textStatus, xhr) {
					if (xhr.status != 204) {
						$("#details_ensemble_div").html(data);
					}

				}
		  
			});
		}

		function refresh_structure () {
			$.ajax({
				method: "POST",	 	 
				url: "/details_structure/",
				headers: {
					"X-CSRFToken": '{{ csrf_token }}',
				},

				data: {'id': {{ ensemble.id }}, 'num': get_conf_number(), 'p_id': curr_p},
				success: function(data, textStatus, xhr) {
					if (xhr.status != 204) {
						$("#details_structure_div").html(data);
					}

				}
		  
			});


		}

		function refresh_details(p_id) {

			curr_p = p_id;

			actives = document.getElementById("tabs").getElementsByClassName("is-active");
			for (i=0; i < actives.length; ++i) {
				actives[i].classList.remove("is-active");
			}
			
			$("#tab_" + p_id).addClass("is-active");

			$.ajax({
				method: "POST",	 	 
				url: "/conformer_table/",
				headers: {
					"X-CSRFToken": '{{ csrf_token }}',
				},
				data: {
					'ensemble_id': {{ ensemble.id }},
					'param_id': p_id,
				},
				success: function(data, textStatus, xhr) {
					if (xhr.status != 204) {
						$("#conf_table").html(data);
						conf_length = document.getElementById("conf_table").rows.length;
						document.getElementById("conf_table").rows[num].classList.add("is-selected");
						refresh_ensemble();
						refresh_structure();
					}
				}
			});

		}
		
		function get_conf_number() {
			return document.getElementById("conf_table").rows[parseInt(num)].cells[0].innerHTML;
		}
		function launch_selected() {
			url = "/launch/{{ ensemble.id }}/" + get_conf_number();
			window.location.href = url;
		}
		function download_selected_structure() {
			url = "/download_structures/{{ ensemble.id }}/" + get_conf_number();
			window.location.href = url;
		}
		function selectText(node) {
		    	node = document.getElementById(node);

		    	if (document.body.createTextRange) {
				const range = document.body.createTextRange();
				range.moveToElementText(node);
				range.select();
		    	} else if (window.getSelection) {
				const selection = window.getSelection();
				const range = document.createRange();
				range.selectNodeContents(node);
				selection.removeAllRanges();
				selection.addRange(range);
			} else {
				console.warn("Could not select text in node: Unsupported browser.");
			}
		}

		function edit_title() {
			el = document.getElementById("ensemble_name");
			if (el.getAttribute("contentEditable") == "true") {
				el.setAttribute("contentEditable", "false");
				$("#icon_rename").removeClass("fa-check");
				$("#icon_rename").addClass("fa-edit");
				name = el.textContent;
				$.ajax({
					method: "POST",	 	 
					url: "/rename_ensemble/",
					headers: {
						"X-CSRFToken": '{{ csrf_token }}',
					},
					data: {'id': {{ ensemble.id }}, 'new_name': name},
				});

			}
			else {
				el.setAttribute("contentEditable", "true");
				$("#icon_rename").removeClass("fa-edit");
				$("#icon_rename").addClass("fa-check");
				selectText("ensemble_name");
				$('[contenteditable=true]').on('keypress', function(e) {
					if (e.keyCode == 13) {
						e.preventDefault();
						edit_title();
					}
				});
				
			}
						
		}

		function del_ensemble() {
			var res = confirm("Delete the ensemble?");	
			if (res) {
				$.ajax({
					method: "POST",	 	 
					url: "/delete_ensemble/",
					headers: {
						"X-CSRFToken": '{{ csrf_token }}',
					},
					data: {'id': {{ ensemble.id }}},
					success: function() {
						window.location = "/molecule/" + {{ ensemble.parent_molecule.id }}
					}

				});

			}
		}
		function flag() {
			icon = document.getElementById("icon_flag");
			if(icon.style.color == "silver") {
				$.ajax({
					method: "POST",	 	 
					url: "/toggle_flag/",
					data: {
						'id': {{ ensemble.id }},
						'val': 0,
					},
					headers: {
						"X-CSRFToken": '{{ csrf_token }}',
					},
					success: function() {
						icon.style.color = "";
					}

				});
			}
			else {
				$.ajax({
					method: "POST",	 	 
					url: "/toggle_flag/",
					data: {
						'id': {{ ensemble.id }},
						'val': 1,
					},
					headers: {
						"X-CSRFToken": '{{ csrf_token }}',
					},
					success: function() {
						icon.style.color = "silver";
					}

				});

			}

		}
	</script>
	<style>
		.hscroll {
			overflow-x: auto;
		}

	</style>

{% endblock %}

{% block content %}

{% csrf_token %}

<div class="container">
	<nav class="breadcrumb" aria-label="breadcrumbs">
	 	<ul>
	    		<li><a href="/projects/">Projects</a></li>
			<li><a href="/projects/{{ ensemble.parent_molecule.project.author }}">{{ ensemble.parent_molecule.project.author }}</a></li>
			<li><a href="/projects/{{ ensemble.parent_molecule.project.author }}/{{ ensemble.parent_molecule.project }}">{{ ensemble.parent_molecule.project }}</a></li>
			<li><a href="/molecule/{{ ensemble.parent_molecule.id }}">{{ ensemble.parent_molecule.name }}</a></li>
			<li class="is-active"><a aria-current="page" href="#">{{ ensemble.name }}</a></li>
	  	</ul>
	</nav>

	<div id="status_box">
		<div class="box is-rounded" id="ensemble_title" style="background-color: {{ ensemble.get_node_color }};">
				<p class="title is-3" style="display: inline;" id="ensemble_name">{{ ensemble.name }}</p>
				<p style="float: right;">
				<a onclick="flag()"><i class="fas fa-flag" id="icon_flag" title="Flag" {% if ensemble.flagged %}style="color: silver;" {% endif %}></i></a>
				{% if ensemble.origin %}<a href="/ensemble/{{ ensemble.origin.id }}"><i class="fas fa-level-up-alt" title="Go to parent ensemble"></i></a>{% endif %}
				<a onclick="edit_title();"><i class="fas fa-edit" id="icon_rename" title="Rename"></i></a>
				<a onclick="del_ensemble();"><i class="fas fa-trash-alt" title="Delete"></i></a>
				</p>
		</div>
	</div>

	<br />
	<span class="tag is-danger is-large">Geometries</span>
	<div class="columns box is-desktop">
		<div class="column is-narrow">
			<script>
				let editor = new ChemDoodle.EditorCanvas3D('editor', 400, 400, {useServices: false});
				editor.styles.set3DRepresentation('Stick');
				editor.styles.backgroundColor = '#FFFFFF';
				editor.oneMolecule = false;
			</script>
			<br />
			<button class="button" onclick="window.location.href='/download_structures/{{ ensemble.id }}'">Download ensemble in .xyz <i class="fas fa-download"></i></button>
			<br />	
			<button class="button" onclick="download_selected_structure();">Download selected structure in .xyz <i class="fas fa-download"></i></button>
			<br />	
			<button class="button" onclick="decrease_conf()">Previous Structure</button>
			<button class="button" onclick="increase_conf()">Next Structure</button>
			<br/>
			<br/>
			<a class="button" href="/launch/{{ ensemble.id }}" id="next_step_ensemble">Launch calculation on ensemble<i class="fas fa-external-link-alt" ></i></a>
			<br/>
			<button class="button" onclick="launch_selected();" id="next_step_structure">Launch calculation on selected structure <i class="fas fa-external-link-alt" ></i></button>


		</div>
		<div class="column">
			<center>
			<div class="hscroll">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Energy (Ha)</th>
							<th>Rel. energy ({{ profile.pref_units_name }})</th>
							<th>Degeneracy</th>
							<th>Boltzmann Weight at 298K</th>
						</tr>
					</thead>
					<tbody id="conf_table">

					</tbody>
				</table>
			</div>
			</center>
		</div>
	</div>

	<br />	
	<br />	

	<div class="tabs is-boxed" id="tabs">
	  	<ul>
			{% for p in ensemble.unique_parameters %}
			<li id="tab_{{ p.id }}"><a onclick="refresh_details({{ p.id }})">{{ p }}{% get_geom_flag ensemble p %}</a></li>
			{% endfor %}
	  	</ul>
	</div>

	<div id="details_ensemble_div">	

	</div>
	<div id="details_structure_div">	

	</div>

	<br />
	{% if profile == calculation.author %}
		<a class="button is-danger" href="/delete/{{ calculation.id }}">Delete this calculation</a>
	{% endif %}
</div>

{% endblock content %}
