{% extends 'frontend/base.html' %} {% load i18n %} {% load static %} {% load details_tags %} {% block extrahead %}
<title>{{ ensemble.name }}</title>

<link rel="stylesheet" href="{% static 'frontend/ChemDoodleWeb.css' %}" type="text/css">
<script type="text/javascript" src="{% static 'frontend/ChemDoodleWeb.js' %}"></script>
<link rel="stylesheet" href="{% static 'frontend/uis/jquery-ui-1.11.4.css' %}" type="text/css">
<script src="{% static 'frontend/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend/uis/ChemDoodleWeb-uis.js' %}"></script>

<script src="{% static 'frontend/bulma-slider.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'frontend/dygraph.min.css' %}" type="text/css">

<script src="{% static 'frontend/dygraph.min.js' %}"></script>
<script src="{% static 'frontend/3Dmol-min.js' %}"></script>
<script src="{% static 'frontend/3Dmol.ui-min.js' %}"></script>
<script src="https://unpkg.com/konva@9.2.0/konva.min.js"></script>
<style>
    #ensemble_name {
        color: #f2f5f3;
    }
    #ensemble_name > br {
        display: none;
    }
    #details_ensemble_div {
        margin-bottom: 30px;
    }

    #ensemble_id{
        margin-top: 5px;
        font-weight: 600;
    }

    ul.tree,
    ul.tree ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    ul.tree ul {
        margin-left: 10px;
    }
    ul.tree li {
        margin: 0;
        padding: 0 7px;
        line-height: 20px;
        color: #369;
        font-weight: bold;
        border-left: 1px solid rgb(100, 100, 100);
    }
    ul.tree li:last-child {
        border-left: none;
    }
    ul.tree li:before {
        position: relative;
        top: -0.3em;
        height: 1em;
        width: 12px;
        color: white;
        border-bottom: 1px solid rgb(100, 100, 100);
        content: "";
        display: inline-block;
        left: -7px;
    }
    ul.tree li:last-child:before {
        border-left: 1px solid rgb(100, 100, 100);
    }

    #charges_viewer_div > canvas,
    #vib_animation > canvas {
        border: 1px solid black;
    }

    @-webkit-keyframes animatetop {
        from {
            top: -300px;
            opacity: 0;
        }
        to {
            top: 0;
            opacity: 1;
        }
    }
    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0;
        }
        to {
            top: 0;
            opacity: 1;
        }
    }

    #esp_span, #pot_span {
        font-weight: bold;
    }
    
</style>
<script>
    $(document).ready(function () {
        var details = document.querySelector("details");
        details.addEventListener("toggle", load_related_calculations);
    });

    $.ajaxSetup({
        cache: false,
    });

    function refresh_details(p_id) {
        curr_p = p_id;

        actives = document.getElementById("tabs").getElementsByClassName("is-active");
        for (i = 0; i < actives.length; i++) {
            actives[i].classList.remove("is-active");
        }

        $("#tab_" + p_id).addClass("is-active");

        first_conf_num = 0;

        selected_confs = document.getElementById("conf_table").getElementsByClassName("is-selected");
        if (selected_confs.length > 0) {
            first_conf_num = selected_confs[0].getAttribute("data-num");
        }

        $.ajax({
            method: "POST",
            url: "/conformer_table/",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}",
            },
            data: {
                ensemble_id: "{{ ensemble.id }}",
                param_id: p_id,
            },
            success: function (data, textStatus, xhr) {
                if (xhr.status != 204) {
                    $("#conf_table").html(data);
                    conf_length = document.getElementById("conf_table").rows.length;
                    num = -1;

                    if (first_conf_num == 0) {
                        document.getElementById("conf_table").rows[0].classList.add("is-selected");
                        num = 0;
                        refresh();
                    } else {
                        confs = document.getElementById("conf_table").getElementsByTagName("tr");
                        for (i = 0; i < confs.length; i++) {
                            c = confs[i];
                            if (c.getAttribute("data-num") == first_conf_num) {
                                c.classList.add("is-selected");
                                num = i;
                                break;
                            }
                        }
                        if (num == -1) {
                            document.getElementById("conf_table").rows[0].classList.add("is-selected");
                            num = 0;
                            refresh();
                        }
                    }
                    refresh_ensemble();
                    refresh_structure();
                }
            },
        });
    }

    function selectText(node) {
        node = document.getElementById(node);

        if (document.body.createTextRange) {
            const range = document.body.createTextRange();
            range.moveToElementText(node);
            range.select();
        } else if (window.getSelection) {
            const selection = window.getSelection();
            const range = document.createRange();
            range.selectNodeContents(node);
            selection.removeAllRanges();
            selection.addRange(range);
        } else {
            console.warn("Could not select text in node: Unsupported browser.");
        }
    }

    function edit_title() {
        el = document.getElementById("ensemble_name");
        if (el.getAttribute("contentEditable") == "true") {
            el.setAttribute("contentEditable", "false");
            $("#icon_rename").removeClass("fa-check");
            $("#icon_rename").addClass("fa-edit");
            name = el.textContent;
            $.ajax({
                method: "POST",
                url: "/rename_ensemble/",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                },
                data: {
                    id: "{{ ensemble.id }}",
                    new_name: name,
                },
            });
        } else {
            el.setAttribute("contentEditable", "true");
            $("#icon_rename").removeClass("fa-edit");
            $("#icon_rename").addClass("fa-check");
            selectText("ensemble_name");
            $("[contenteditable=true]").on("keypress", function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    edit_title();
                }
            });
        }
    }

    function del_ensemble() {
        Bulma().alert({
            type: 'danger',
            title: 'Confirm deletion',
            body: 'Delete the ensemble?',
            confirm: {
                label: "Delete",
                onClick: function() {
                    $.ajax({
                        method: "POST",
                        url: "/delete_ensemble/",
                        headers: {
                            "X-CSRFToken": "{{ csrf_token }}",
                        },
                        data: {
                            id: "{{ ensemble.id }}",
                        },
                        success: function () {
                            window.location = "/molecule/{{ ensemble.parent_molecule.id }}";
                        },
                    });
                }
            },
            cancel: {
                label: "Cancel"
            }
        });
    }
    function flag() {
        icon = document.getElementById("icon_flag");
        if (icon.style.color == "silver") {
            $.ajax({
                method: "POST",
                url: "/toggle_flag/",
                data: {
                    id: "{{ ensemble.id }}",
                    val: 0,
                },
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                },
                success: function () {
                    icon.style.color = "";
                },
            });
        } else {
            $.ajax({
                method: "POST",
                url: "/toggle_flag/",
                data: {
                    id: "{{ ensemble.id }}",
                    val: 1,
                },
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                },
                success: function () {
                    icon.style.color = "silver";
                },
            });
        }
    }
    function load_related_calculations() {
        output = document.getElementById("related_calculations_div");
        if (output.innerHTML.trim() != "") {
            return;
        }
        $("#related_calculations_div").load("/get_related_calculations/{{ ensemble.id }}");
    }

</script>
{% include "frontend/properties/conformers_head.html" %}

{% endblock %} 

{% block content %} 
{% csrf_token %}

<div class="container">
    <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="/projects/">Projects</a>
            </li>
            <li>
                <a href="/projects/{{ ensemble.parent_molecule.project.author.id }}">{{ ensemble.parent_molecule.project.author }}</a>
            </li>
            <li>
                <a href="/projects/{{ ensemble.parent_molecule.project.author.id }}/{{ ensemble.parent_molecule.project }}">{{ ensemble.parent_molecule.project }}</a>
            </li>
            <li>
                <a href="/molecule/{{ ensemble.parent_molecule.id }}">{{ ensemble.parent_molecule.name }}</a>
            </li>
            <li class="is-active">
                <a aria-current="page" href="#">{{ ensemble.name }}</a>
            </li>
        </ul>
    </nav>

    <div id="status_box">
        <div class="box is-rounded" id="ensemble_title" style="background-color: {{ ensemble.get_node_color }};">
            <p class="title is-3" style="display: inline" id="ensemble_name">{{ ensemble.name }}</p>
            <p style="float: right">
                <a onclick="flag()"><i class="fas fa-flag" id="icon_flag" title="Flag" {% if ensemble.flagged %}style="color: silver;" {% endif %}></i></a>
                {% if ensemble.origin %}<a href="/ensemble/{{ ensemble.origin.id }}"><i class="fas fa-level-up-alt" title="Go to parent ensemble"></i></a>{% endif %}
                <a onclick="edit_title();"><i class="fas fa-edit" id="icon_rename" title="Rename"></i></a>
                <a onclick="del_ensemble();"><i class="fas fa-trash-alt" title="Delete"></i></a>
            </p>
        </div>
    </div>
    <div>
        <div id="ensemble_id"></div>
        <details>
            <summary>Related Calculations</summary>
            <div id="related_calculations_div"></div>
        </details>
    </div>

    <br />
    <span class="tag is-danger is-large">Geometries</span>

    {% include "frontend/properties/conformers_body.html" %}

    <br />
    <br />
    <div class="tabs is-boxed" id="tabs">
        <ul>
            {% get_sorted_params ensemble as sorted_params %} {% for p in sorted_params %}
            <li id="tab_{{ p.id }}">
                <a onclick="refresh_details('{{ p.id }}')">{{ p }}{% get_geom_flag ensemble p %}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div id="details_ensemble_div"></div>

    <div id="details_structure_div"></div>

    <br />
    {% if request.user == calculation.author %}
    <a class="button is-danger" href="/delete/{{ calculation.id }}">Delete this calculation</a>
    {% endif %}
    <script>
        document.getElementById("ensemble_id").innerHTML= "Ensemble "+("{{ensemble.id}}").slice(0,5)
        
        $("#launch_selected_form").submit(function () {
            var structures = document.querySelectorAll("#conf_table > tr.is-selected");

            selected_structures = [];
            for (i = 0; i < structures.length; i++) {
                struct_num = structures[i].dataset["num"];
                selected_structures.push(struct_num);
            }

            $("<input />").attr("type", "hidden").attr("name", "structures").attr("value", selected_structures.join(",")).appendTo(this);
        });
    </script>
</div>

{% endblock content %}
