{% extends 'frontend/base.html' %}

{% load static %}

{% block extrahead %}
	<title>CalcUS - Flowchart</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/alyssaxuu/flowy/flowy.min.css"> 
    <script src="https://cdn.jsdelivr.net/gh/alyssaxuu/flowy/flowy.min.js"></script>
	<style>
		.title {
			margin-top: 50px;
			margin-bottom: 20px;
		}

		h1 {
			text-align: center;
		}

		.content {
			
		}
        
        .blockelem {
            cursor: pointer;
            text-align: center;
            padding-top: 10px;
            border: 1px solid transparent;
            transition-property: box-shadow, height;
            transition-duration: .2s;
            transition-timing-function: cubic-bezier(.05, .03, .35, 1);
            border-radius: 5px;
            box-shadow: 0px 0px 30px rgba(22, 33, 74, 0);
            box-sizing: border-box;
        }

        .block {
            white-space: nowrap;
            cursor: pointer;
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */
        }

        .no-select {
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */
        }

        .footer {
            display: none;
        }

        .flowy-button {
            margin: 5px;
        }
	</style>
{% endblock %}

{% block content %}
<div class="content" >
    <div class="no-select" style="width:10%;float:left;">
        <div class="create-flowy blockelem">Calculation 1</div>
        <div class="create-flowy blockelem">Calculation 2</div>
        <div class="create-flowy blockelem">Calculation 3</div>
        <div class="create-flowy blockelem">Calculation 4</div>
        <div class="create-flowy blockelem">Calculation 5</div>
        <div class="create-flowy blockelem">Calculation 6</div>
    </div>
    <div style="margin:10px">
        <div style="width:80%;height:400px;float:left;outline: 2px solid black;" id="canvas">
        </div>
    </div> 
    <div style="width:10%;float:right">
        <button class="button flowy-button" onclick="deleteAllBlocks()">Delete All</button>
        <button class="button flowy-button" onclick="flowchartOutput()">Output</button>
        <button class="button flowy-button" onclick="flowchartInput()">Input</button>
        <button class="button flowy-button" onclick="Submit()">Submit</button>
    </div> 
</div>
<script>
    var spacing_x = 40;
    var spacing_y = 100;
    var flowyOut;
    document.addEventListener("DOMContentLoaded", function(){
        hardCodedInput();
    })
    // Initialize Flowy
    flowy(document.getElementById("canvas"), onGrab, onRelease, onSnap, onRearrange, spacing_x, spacing_y);
    function onGrab(block){
        // When the user grabs a block
        console.log("Grabbed")
    }

    function onRelease(){
        // When the user releases a block
        console.log("Released")
    }

    function onSnap(block, first, parent){
        // When a block snaps with another one
        console.log("Snapped")
        return true;
    }

    function onRearrange(block, parent){
        // When a block is rearranged
        console.log("Rearranged")
        return false;
    }

    function deleteAllBlocks() {
        flowy.deleteBlocks();
        hardCodedInput();
    }

    function flowchartOutput() {
        console.log("Output")
        console.log(JSON.stringify(flowy.output()));
        flowyOut = flowy.output();
        var htmlContent = JSON.stringify(flowy.output());
        var bl = new Blob([htmlContent], {type: "text/json"});
        var a = document.createElement("a");
        a.href = URL.createObjectURL(bl);
        a.download = "flowchart.json";
        a.hidden = true;
        document.body.appendChild(a);
        a.innerHTML = "File Link";
        a.click();
    }

    function flowchartInput() {
        flowy.import(flowyOut);
    }

    function Submit() {
        console.log("Submitted")
    }
    
    function hardCodedInput() { 
        var hardCodedObject = {
            "html": "\n        <div class=\"indicator invisible\"></div><div class=\"blockelem block\" style=\"left: 612.844px; top: 95px;\">Input<input type=\"hidden\" name=\"blockid\" class=\"blockid\" value=\"0\"></div>",
            "blockarr": [
                {
                    "parent": -1,
                    "childwidth": 0,
                    "id": 0,
                    "x": 454.078125,
                    "y": 31,
                    "width": 40,
                    "height": 36
                }
            ],
            "blocks": [
                {
                    "id": 0,
                    "parent": -1,
                    "data": [
                        {
                            "name": "blockid",
                            "value": "0"
                        }
                    ],
                    "attr": [
                        {
                            "class": "blockelem block"
                        },
                        {
                            "style": "left: 612.844px; top: 95px;"
                        }
                    ]
                }
            ]
        }
        console.log(hardCodedObject);
        flowy.import(hardCodedObject);
    }
</script>
{% endblock %}

