{% extends 'frontend/base.html' %}

{% load static %}

{% block extrahead %}
	<title>CalcUS - Flowchart</title>
	<script src="{% static 'frontend/jquery.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'frontend/flowy.min.css' %}" type="text/css">
	<script src="{% static 'frontend/flowy.min.js' %}"></script>
    <script src="https://kit.fontawesome.com/8bfdbc9f0e.js" crossorigin="anonymous"></script>
	{% include 'frontend/calc_form_head.html' %}
	<style>
		.title {
			margin-top: 50px;
			margin-bottom: 20px;
		}

		h1 {
			text-align: center;
		}

		.content {
			
		}
        
        .blockelem:first-child {
            margin-top: 20px;
        }
        
        .blockelem {
            cursor: pointer;
            text-align: center;
            padding-top: 10px;
            border: 1px solid transparent;
            transition-property: box-shadow, height;
            transition-duration: .2s;
            transition-timing-function: cubic-bezier(.05, .03, .35, 1);
            border-radius: 5px;
            box-shadow: 0px 0px 30px rgba(22, 33, 74, 0);
            box-sizing: border-box;
        }

        .block {
            margin-top: 0px!important;
            white-space: nowrap;
            cursor: pointer;
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */
        }

        .no-select {
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */
        }

        .footer {
            display: none;
        }

        .flowy-button {
            margin: 5px;
        }

        #canvas {
            position: absolute;
            width: calc(100% - 38%);
            height: calc(100% - 71px);
            top: 71px;
            left: 23%;
            z-index: 0;
            overflow: auto;
            outline: 2px solid black;
        }
        .main_content {
            width: 90%!important;
            flex: 1;
            margin-left: 5%!important;
        }
	</style>
{% endblock %}

{% block content %}
<div class="content" >
    <div class="no-select" style="width:20%;float:left;">
		{% for proc in procs %}
		<div style="margin:-10px;">
            <div style="display:inline-block" class="create-flowy blockelem is-size-7">{{ proc.name }}
				<i onclick="openParaModal()" style="cursor: pointer;margin-left:5px;" class="fa-solid fa-wrench"></i>
			</div>
        </div>
		{% endfor %}
    </div>
    <div style="width:10%;float:right">
        <button class="button flowy-button" onclick="deleteAllBlocks()">Delete All</button>
		<button class="button is-small flowy-button js-modal-trigger" data-target="modal-load-flowchart">Load Flowchart from DB</button>
		<button class="button is-small flowy-button js-modal-trigger" data-target="modal-open-naming-flowchart-modal">Save Flowchart to DB</button>
		<button class="button flowy-button" onclick="flowchartOutput()">Output</button>
		<label class="label">Import a flowchart</label>
		<div class="file is-small is-boxed has-name">
			<label class="file-label">
			  <input id="importJsonFile" class="file-input" type="file" name="resume">
			  <span class="file-cta">
				<span class="file-icon">
				  <i class="fas fa-upload"></i>
				</span>
				<span class="file-label">
				  File Upload
				</span>
			  </span>
			  <span id="importedFlowchartName" class="file-name">
				No file chosen
			  </span>
			</label>
		</div>
    </div>
    <div id="canvas">

    </div>
</div>
<div id="modal-open-naming-flowchart-modal" class="modal">
	<div class="modal-background"></div>
  	<div class="modal-card">
    	<header class="modal-card-head">
      		<p class="modal-card-title">Enter Flowchart Title</p>
    	</header>
    	<section class="modal-card-body">
      		<input id="flowchart-title" class="input is-primary" type="text" placeholder="Unnamed Flowchart">
    	</section>
    	<footer class="modal-card-foot">
     		<button onclick="saveFlowchartName()" class="button is-success">Save changes</button>
      		<button class="button">Cancel</button>
    	</footer>
  	</div>
	<button class="modal-close is-large" aria-label="close"></button>
</div>
<div id="modal-load-flowchart" class="modal">
	<div class="modal-background"></div>
  	<div class="modal-card">
    	<header class="modal-card-head">
      		<p class="modal-card-title">Load Flowcharts</p>
    	</header>
    	<section class="modal-card-body">
			<div class="select">
				<select id="flowchart-load-select">
				{% for flowchart in flowchartsData %}
					<option data-id="{{flowchart.id}}" value="{{ flowchart.flowchart }}">{{ flowchart.name }}</option>
				{% endfor %}
				</select>
			</div>
    	</section>
    	<footer class="modal-card-foot">
     		<button onclick="loadFlowchart()" class="button is-success">Load Flowchart</button>
      		<button class="button">Cancel</button>
    	</footer>
  	</div>
	<button class="modal-close is-large" aria-label="close"></button>
</div>
<div class="modal modal-para" id="modal-js-example">
    <div class="modal-background"></div>
    <div class="modal-card">
    	<header class="modal-card-head">
        	<p class="modal-card-title">Set Parameters</p>
        	<button class="delete" aria-label="close"></button>
      	</header>
      	<section class="modal-card-body">
			{% include 'frontend/calc_form_body.html' %}
	  	</section>
    </div>
</div>
<script>
	{% for i in flowchartsData %}
		{% for j in i.step_set.all%}
			console.log("{{j.id}}")
		{% endfor %}
	{% endfor %}

	function decodeJSON(inputJSON) {
		const replaceWithcomma = '"'
		var result = inputJSON.replace(/&quot;/g, replaceWithcomma)
		const replacewithLessThan = '<'
		result = result.replace(/&amp;lt;/g, replacewithLessThan)
		const replacewithGreaterThan = '>'
		result = result.replace(/&amp;gt;/g, replacewithGreaterThan)
		result = result.replace(/&lt;/g, replacewithLessThan)
		result = result.replace(/&gt;/g, replacewithGreaterThan)
		result = result.replace(/<i>/g, '<i onclick=\\"openParaModal()\\" style=\\"cursor: pointer;margin-left:5px;\\" class=\\"fa-solid fa-wrench\\">')
		return result;
	}

	function saveFlowchartName() {
		const flowchartTitleUser = document.getElementById("flowchart-title").value
		Submit(flowchartTitleUser)
	}

	function loadFlowchart() {
		const flowchartOption = document.getElementById("flowchart-load-select")
		console.log(flowchartOption.firstElementChild.getAttribute("data-id"))
		data_id = flowchartOption.firstElementChild.getAttribute("data-id")
		data_id = parseInt(data_id)
		console.log(typeof data_id)
		var frontend_id_array = []
		var db_id_array = []
		var JSON_object = JSON.parse(decodeJSON(document.getElementById("flowchart-load-select").value))
		for(i = 0;i<JSON_object.blockarr.length;i++)
			frontend_id_array.push(parseInt(JSON_object.blockarr[i].id))
		frontend_id_array.sort();
		{% for i in flowchartsData %}
			if("{{i.id}}"==data_id)
				console.log("{{i.step_set.all}}")
				{% for j in i.step_set.all%}
					db_id_array.push(parseInt("{{j.id}}"))
				{% endfor %}
		{% endfor %}
		for(i=0;i<db_id_array.length;i++)
			db_id_map.set(frontend_id_array[i], db_id_array[i])
		flowy.deleteBlocks()
		flowy.import(JSON.parse(decodeJSON(document.getElementById("flowchart-load-select").value)))
	}

	var spacing_x = 40;
    var spacing_y = 100;
    var flowyOut;
	var saveCalculationName = new Map();
	var saveCalculationParentId = new Map();
	var db_id_map = new Map();
	var calc_para_map = new Map();
	var calc_name_array = [];
	var calc_parentId_array = [];
	var calc_objectId_array = [];
    document.addEventListener("DOMContentLoaded", function(){
        hardCodedInput();
    })
    // Initialize Flowy
    flowy(document.getElementById("canvas"), onGrab, onRelease, onSnap, onRearrange, spacing_x, spacing_y);
    function onGrab(block){
        // When the user grabs a block
        console.log("Grabbed")
    }

    function onRelease(){
        // When the user releases a block
        console.log("Released")
    }

    function onSnap(block, first, parent){
        // When a block snaps with another one
        console.log("Snapped")
		var inner_text = block.innerHTML;
		var index_of_Opening_tag = inner_text.indexOf("<");
		inner_text = inner_text.substring(0, index_of_Opening_tag);
		inner_text = inner_text.trim();
		saveCalculationName.set(block.children[1].value, inner_text)
		return true;
    }

    function onRearrange(block, parent){
        // When a block is rearranged
        console.log("Rearranged")
		saveCalculationName.delete(block.children[1].value)
        return false;
    }

    function deleteAllBlocks() {
        flowy.deleteBlocks();
        hardCodedInput();
    }

    function flowchartOutput() {
        console.log("Output")
        flowyOut = flowy.output();
		for(var i=0;i<flowyOut.blocks.length;i++)
		{
			flowyOut.blocks[i].calculationType = saveCalculationName.get(flowyOut.blocks[i].id.toString())
			//saveCalculationParentId.set(flowyOut.blocks[i].id.toString(), flowyOut.blocks[i].parent.toString())
			calc_name_array.push(saveCalculationName.get(flowyOut.blocks[i].id.toString()))
			calc_parentId_array.push(flowyOut.blocks[i].parent)
			calc_objectId_array.push(flowyOut.blocks[i].id)
		}
		console.log(flowyOut)
		console.log(saveCalculationParentId)
        var htmlContent = JSON.stringify(flowyOut);
        var bl = new Blob([htmlContent], {type: "text/json"});
        var a = document.createElement("a");
        a.href = URL.createObjectURL(bl);
        a.download = "flowchart.json"
        a.hidden = true;
        document.body.appendChild(a);
        a.innerHTML = "File Link";
        a.click();
    }

    function flowchartInput() {
        flowy.import(flowyOut);
    }

    function Submit(flowchartTitle) {
        console.log("Submitted")
		if(flowchartTitle!="")
			name = flowchartTitle
		else
			name = "Unnamed Flowchart"
		flowchart_data = JSON.stringify(flowy.output());
		const cars = ["Tigor", "Tiago", "Harrier"];
		$.ajax({
			method: "POST",	 	 
			url: "/create_flowchart/",
			headers: {
				"X-CSRFToken": '{{ csrf_token }}',
			},
			data: {'flowchart_name': name, 'flowchart_data': flowchart_data, "calc_name[]": calc_name_array, "calc_id[]": calc_objectId_array, "calc_parent_id[]": calc_parentId_array},
			success: function() {
				console.log("Success")	
			}
		});
    }

	var para_calc_id
	function verify_form_flowchart() {
		data = $("#calcform").serializeArray()
		form = $("#calcform");
		formData = new FormData(form[0])
		calc_para_map.set(para_calc_id, formData)
	}

	function openParaModal() {
		console.log("Clicked")
		document.getElementById('calcform').reset();
		var inner_text = event.target.parentElement.innerHTML;
		var index_of_Opening_tag = inner_text.indexOf("<");
		inner_text = inner_text.substring(0, index_of_Opening_tag);
		inner_text = inner_text.trim();
		var select_calculation = document.getElementById('calc_type');
		for(i=0;i<select_calculation.length;i++)
		{
			if(select_calculation[i].value==inner_text)
			{
				select_calculation[i].disabled = false;
				select_calculation[i].selected = true;
			}
			else
				select_calculation[i].disabled = true;
		}
		calc_selection_changed();
		console.log(event.target.parentElement.children[1].value)
		para_calc_id = event.target.parentElement.children[1].value
		form_data = calc_para_map.get(event.target.parentElement.children[1].value)
		if (form_data)
		{
			for(var key of form_data.keys()) {
				var newVal = form_data.get(key)
				if(newVal)
				{
					if(document.getElementById(key))
					{
						if(document.getElementById(key).type != "file")
						{
							document.getElementById(key).value = newVal
							check("functional")
							check("basis_set")
							check("solvent")
							refresh_availabilities();
						}
					}
				}
			}
		}
		$(".modal-para").addClass("is-active");
    }
    
    function hardCodedInput() { 
        var hardCodedObject = {
			"html": "\n\n    <div class=\"indicator invisible\"></div><div class=\"blockelem block\" style=\"left: 377.297px; top: 4px;\">Input<input type=\"hidden\" name=\"blockid\" class=\"blockid\" value=\"0\"></div>",
			"blockarr": [
				{
					"childwidth": 0,
					"parent": -1,
					"id": 0,
					"x": 397.296875,
					"y": 22,
					"width": 40,
					"height": 36
				}
			],
			"blocks": [
				{
					"id": 0,
					"parent": -1,
					"data": [
						{
							"name": "blockid",
							"value": "0"
						}
					],
					"attr": [
						{
							"class": "blockelem block"
						},
						{
							"style": "left: 377.297px; top: 4px;"
						}
					]
				}
			]
		}
            
        //console.log(hardCodedObject);
        flowy.import(hardCodedObject);
    }

	document.querySelector('#importJsonFile').addEventListener('change', function() {
		if (this.files && this.files[0]) {
			var reader = new FileReader();
		  	reader.onload = function(e) {
				annotationsObject = JSON.parse(reader.result);
				flowy.deleteBlocks();
				flowy.import(annotationsObject)
				document.getElementById("importedFlowchartName").textContent = document.getElementById("importJsonFile").files[0].name;
				importedFlowchart = annotationsObject;
		  	};
		  	reader.readAsText(this.files[0])
		}
	});

    document.addEventListener('DOMContentLoaded', () => {
        // Functions to open and close a modal
        function openModal($el) {
          $el.classList.add('is-active');
        }
      
        function closeModal($el) {
          $el.classList.remove('is-active');
        }
      
        function closeAllModals() {
          (document.querySelectorAll('.modal') || []).forEach(($modal) => {
            closeModal($modal);
          });
        }
      
        // Add a click event on buttons to open a specific modal
        (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
          const modal = $trigger.dataset.target;
          const $target = document.getElementById(modal);
      
          $trigger.addEventListener('click', () => {
            openModal($target);
          });
        });
      
        // Add a click event on various child elements to close the parent modal
        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
          const $target = $close.closest('.modal');
      
          $close.addEventListener('click', () => {
            closeModal($target);
          });
        });
      
        // Add a keyboard event to close all modals
        document.addEventListener('keydown', (event) => {
          const e = event || window.event;
      
          if (e.keyCode === 27) { // Escape key
            closeAllModals();
          }
        });
    });
</script>
{% endblock %}

