{% extends 'frontend/base.html' %} 

{% load static %} 
{% block extrahead %}

<style>
    .title {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    h1 {
        text-align: center;
    }
    .content {
        width: 80%;
        margin-left: 10%;
        font-size: 1.5em;
    }
    #home_logo {
        margin-top: 8%;
    }

    @media screen and (min-width: 1921px) {
        #home_logo {
            max-width: 400px;
        }
        #logo_div {
            width: 42%;
            margin-left: 28%;
        }
    }
    @media screen and (min-width: 1408px) and (max-width: 1920px) {
        #home_logo {
            max-width: 325px;
        }
        #logo_div {
            width: 52%;
            margin-left: 23%;
        }
    }
    @media screen and (min-width: 1024px) and (max-width: 1407px) {
        #home_logo {
            max-width: 300px;
        }
        #logo_div {
            width: 60%;
            margin-left: 20%;
        }
    }
    @media screen and (min-width: 769px) and (max-width: 1023px) {
        #home_logo {
            max-width: 300px;
        }
        #logo_div {
            width: 70%;
            margin-left: 15%;
        }
    }
    @media screen and (max-width: 768px) {
        #home_logo {
            max-width: 250px;
        }
        #logo_div {
            width: 80%;
            margin-left: 10%;
        }
    }

    .footer {
        display: none;
    }

    .fa {
        margin-right: 10px;
    }
    #gh_button,
    #paper_button,
    #trial_button {
        font-size: 0.7em;
        text-align: center;
        margin-top: 1em;
    }
    #paper_button {
        margin-left: 1em;
        margin-right: 1em;
    }

    #trial_button, #register_button {
        margin-top: 3em;
        width: 18em;
        height: 4em;
        color: black;
        font-weight: bold;
    }

    #tag_title {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    #tagline {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 0px;
    }
    .tile {
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 4em !important;
    }
    #logo_sep {
        margin-bottom: 5em;
    }
    #teaser1 {
        object-fit: cover;
        max-height: 25em;
    }
    #waiting_list_div {
        margin-top: 2em;
    }
    #contact_tile > a {
        text-decoration: underline;
    }
    #register_link, .xtb_link {
        text-decoration: underline;
        color: blue;
    }
    #free_span {
        color: #00A75B;
    }
    #video_div {
        text-align: center;
        margin-bottom: 1em;
    }
</style>

{% endblock %} 
{% block content %}
<div class="content">
    <div id="logo_div">
        <center>
            {% if IS_CLOUD %}
            <img id="home_logo" src="{% static 'frontend/calcus_cloud_logo.png' %}" />
            <br />
            {% else %}
            <img id="home_logo" src="{% static 'frontend/calcus.png' %}" />
            <br />
            {% endif %}

            <div id="tag_title">
                <p id="tagline">Quantum Chemistry Web Platform</p>
            </div>

            <a class="button is-warning is-large" href="https://github.com/cyllab/CalcUS" id="gh_button" target="_blank"><i class="fa fa-lg fa-brands fa-github"></i> View Project</a>
            <a class="button is-warning is-large" href="https://doi.org/10.1021/acs.jcim.1c01502" id="paper_button" target="_blank"><i class="fa fa-lg fa-solid fa-scroll"></i>View Publication</a>
            {% if IS_CLOUD and ALLOW_TRIAL and not request.user.is_authenticated %}
            <br>
            <a class="button is-primary is-large is-rounded is-focused" href="/start_trial/" id="trial_button"><i class="fa fa-lg fa-solid fa-gift"></i>Try for free now</a>
            {% endif %}
        </center>
    </div>
    <hr id="logo_sep" />

    {% if IS_CLOUD %}
    <div class="tile is-ancestor">
        <div class="tile is-6 is-parent">
            <div class="tile is-child">
                <p class="title">Launch state-of-the-art calculations</p>
                <p class="subtitle">Run ridiculously fast semi-empirical <a href="https://github.com/grimme-lab/xtb" class="xtb_link">xTB calculations</a> on real computing resources, no configuration required</p>
            </div>
        </div>
        <div class="tile is-6">
            <img id="teaser1" src="{% static 'home/pentane.png' %}" />
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-6">
            <img id="teaser2" src="{% static 'home/launch.png' %}" />
        </div>
        <div class="tile is-6 is-parent">
            <div class="tile is-child">
                <p class="title">Focus on concepts, not minutae</p>
                <p class="subtitle">The user-friendly interface handles input file creation and management so you can concentrate on the bigger picture</p>
            </div>
        </div>
    </div>

    {% if not request.user.is_authenticated %}
    <div class="tile is-ancestor">
        <center style="width: 100%">
            <h2 class="title is-2">Get <span id="free_span">3600 free seconds</span> of compute time per month</h2>
            <br>
            Create a free account and accelerate your research immediately
            <br>
            <br>
            <a class="button is-primary is-large is-rounded is-focused" href="/register/" id="register_button">Create account</a>

        </center>
    </div>
    {% endif %}
    {% endif %}

    <div id="video_div">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/WdNKY32p_dM" title="CalcUS Cloud Example" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="tile is-ancestor" id="contact_tile">
        <center style="width: 100%">
            <h2 class="title is-2">You have questions?</h2>
            <br>
            Feel free to contact us for any inquiry at contact@calcus.cloud
            <br>
            <br>
            <a class="button is-warning is-large" href="mailto:contact@calcus.cloud">Contact us</a>
        <center>
    </div>

</div>
{% endblock %}
