{% extends 'frontend/base.html' %} {% load static %} {% block extrahead %}
<title>CalcUS</title>

<style>
    .title {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    h1 {
        text-align: center;
    }
    .content {
        width: 80%;
        margin-left: 10%;
        font-size: 1.5em;
    }
    #home_logo {
        margin-top: 10%;
    }

    @media screen and (min-width: 1921px) {
        #home_logo {
            max-width: 400px;
        }
        #logo_div {
            width: 34%;
            margin-left: 33%;
        }
    }
    @media screen and (min-width: 1408px) and (max-width: 1920px) {
        #home_logo {
            max-width: 400px;
        }
        #logo_div {
            width: 40%;
            margin-left: 30%;
        }
    }
    @media screen and (min-width: 1024px) and (max-width: 1407px) {
        #home_logo {
            max-width: 350px;
        }
        #logo_div {
            width: 50%;
            margin-left: 25%;
        }
    }
    @media screen and (min-width: 769px) and (max-width: 1023px) {
        #home_logo {
            max-width: 350px;
        }
        #logo_div {
            width: 60%;
            margin-left: 20%;
        }
    }
    @media screen and (max-width: 768px) {
        #home_logo {
            max-width: 300px;
        }
        #logo_div {
            width: 80%;
            margin-left: 10%;
        }
    }

    .footer {
        display: none;
    }

    .fa {
        margin-right: 10px;
    }
    #gh_button,
    #paper_button {
        font-size: 1em;
        text-align: center;
    }
    #paper_button {
        margin-left: 1em;
    }

    #tag_title {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    #tagline {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 0px;
    }
    .tile {
        padding-left: 1em;
        padding-right: 1em;
    }
    #logo_sep {
        margin-bottom: 5em;
    }
    #teaser1 {
        object-fit: cover;
        max-height: 25em;
    }
    #waiting_list_div {
        margin-top: 2em;
    }
    #waiting_list_tile {
        margin-top: 4em;
    }
</style>
{% endblock %} {% block content %}
<div class="content">
    <div id="logo_div">
        <center>
            {% if IS_CLOUD or True %}
            <img id="home_logo" src="{% static 'frontend/calcus_cloud_logo.png' %}" />
            <br />
            {% else %}
            <img id="home_logo" src="{% static 'frontend/calcus.png' %}" />
            <br />
            {% endif %}

            <div id="tag_title">
                <p id="tagline">Quantum Chemistry Web Platform</p>
                Education Edition<br />
            </div>

            <a class="button is-primary" href="https://github.com/cyllab/CalcUS" id="gh_button" target="_blank"><i class="fa fa-lg fa-brands fa-github"></i> View Project</a>
            <a class="button is-info" href="https://doi.org/10.1021/acs.jcim.1c01502" id="paper_button" target="_blank"
                ><i class="fa fa-lg fa-solid fa-scroll"></i>View Publication</a
            >
        </center>
    </div>
    <hr id="logo_sep" />

    <div class="tile is-ancestor">
        <div class="tile is-6 is-parent">
            <div class="tile is-child">
                <p class="title">Teach practical quantum chemistry</p>
                <p class="subtitle">Students run fast xTB calculations on real computing resources, no configuration required</p>
            </div>
        </div>
        <div class="tile is-6">
            <img id="teaser1" src="{% static 'home/pentane.png' %}" />
        </div>
    </div>
    <div class="tile is-ancestor" id="waiting_list_tile">
        <center style="width: 100%">
            <h2 class="title is-2">Join the Waiting List</h2>
            <br />
            You will be notified by email when this service becomes available
            <div id="waiting_list_div">
                <script type="text/javascript" src="https://www.waitlistr.com/lists/cebe378a/widget.js"></script>
            </div>
        </center>
    </div>
</div>
{% endblock %}
