{% extends 'frontend/base.html' %}

{% load static %}

{% block extrahead %}
	<link rel="stylesheet" href="{% static 'frontend/ChemDoodleWeb.css' %}" type="text/css">
	<script type="text/javascript" src="{% static 'frontend/ChemDoodleWeb.js' %}"></script>
	<link rel="stylesheet" href="{% static 'frontend/uis/jquery-ui-1.11.4.css' %}" type="text/css">
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="{% static 'frontend/uis/ChemDoodleWeb-uis.js' %}"></script>
	<script>
		let page = {{ page }};
		$(document).ready(function(){
			refresh_list();
		});
		
		function refresh_list() {
			var sel = document.getElementById("calc_project");
			opt = sel.options[sel.selectedIndex].text;
			$.ajax({
				data: {
					csrfmiddlewaretoken: ('{{csrf_token}}'),
					project: opt,	
					page: page,
				},
				method: "GET",
				url: '/list/',
				success: function (data, textStatus, xhr) {
					if (xhr.status != 204) {
				    		$("#calculations_list").html(data);
					}
				},
				error: function () {
				    $("#calculations_list").html("");
					
				}
			    });

		}
		function set_page(newpage) {
			page = newpage;
			refresh_list();
		}
	</script>
{% endblock %}

{% block content %}
<div class="container">
	{% if user.is_authenticated %}
		<div class="select" >
			<select name="calc_project" id="calc_project" onchange="set_page(1);">
				<option name="all">All projects</option>
				{% for proj in user.profile.project_set.all %}
				<option name="{{ proj }}">{{ proj }}</option>
				{% endfor %}
			</select>
		</div>

		<div id="calculations_list">
		
		</div>
		<br>
	{% else %}
		Please login to access the Sandbox
	{% endif %}

<br />
{% endblock %}

