{% if calculation.status != 3 %}
		<tr>
			<td>Energy:</td>
			<td>{{ calculation.result_ensemble.structure_set.all.0.energy }} Ha</td>
		</tr>
		{% if calculation.result_ensemble.structure_set.all.0.free_energy != 0 %}
		<tr>
			<td>Free Energy:</td>
			<td>{{ calculation.structure_set.all.0.free_energy }} Ha</td>
		</tr>
		{% endif %}
		<tr>
			<td>HOMO-LUMO Gap</td>
			<td>{{ calculation.structure_set.all.0.homo_lumo_gap }} eV</td>
		</tr>
		<tr>
			<td>Boltzmann Weighted Energy:</td>
			<td>{{ calculation.weighted_energy }} Ha</td>
		</tr>

{% else %}
		<tr>
			<td><strong><font color="red">Error message:</font></strong></td>
			<td><strong><font color="red">{{ calculation.error_message }}</font></strong></td>
		</tr>

{% endif %}


