{% extends 'frontend/base.html' %}

{% load i18n bulma_tags %}

{% load static %}

{% block extrahead %}
	<link rel="stylesheet" href="{% static 'frontend/ChemDoodleWeb.css' %}" type="text/css">
	<script type="text/javascript" src="{% static 'frontend/ChemDoodleWeb.js' %}"></script>
	<link rel="stylesheet" href="{% static 'frontend/uis/jquery-ui-1.11.4.css' %}" type="text/css">
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="{% static 'frontend/uis/ChemDoodleWeb-uis.js' %}"></script>

	<script>
		function project_selection_changed() {
			choice = document.getElementById("calc_project");
			field = document.getElementById("new_project_name_field");
			if(choice.value == "New Project") {
				field.style.display = "block";	
			}
			else {
				field.style.display = "none";	
			}
		}
	</script>
{% endblock %}

{% block content %}

{% csrf_token %}

<div class="columns">
	<div class="column is-half">
		<script>
		  let sketcher = new ChemDoodle.SketcherCanvas('sketcher', 500, 300, {useServices:false, oneMolecule:false});
		  sketcher.styles.atoms_useJMOLColors = true;
		  sketcher.styles.bonds_clearOverlaps_2D = true;
		  sketcher.styles.shapes_color = 'c10000';
		  sketcher.repaint();
		</script>

	</div>
	<div class="column">
		<form action="/submit_calculation/" method="post" id="calcform" enctype="multipart/form-data">

			<div class="field">
				<label class="label">Draw a structure or choose a file</label>
				<div class="control">
					<input type="file" name="file_structure">
				</div>
			</div>
			{% csrf_token %}

			<div class="columns">
				<div class="column">
					<div class="field">
						<label class="label">Calculation Name</label>
						<div class="control">
							<input class="input" name="calc_name" type="text" placeholder="My Calculation" required>
						</div>
					</div>
				</div>
				<div class="column is-narrow">
					<div class="field">
						<label class="label">Solvent</label>
						<div class="control" >
							<div class="select">
							  <select name="calc_solvent">
							    <option selected="selected">Vacuum</option>
							    <option>Acetone</option>
							    <option>Acetonitrile</option>
							    <option>Benzene</option>
							    <option>Dichloromethane</option>
							    <option>Chloroform</option>
							    <option>Carbon disulfide</option>
							    <option>Dimethylformamide</option>
							    <option>Dimethylsulfoxide</option>
							    <option>Diethyl ether</option>
							    <option>Methanol</option>
							    <option>n-Hexane</option>
							    <option>Tetrahydrofuran</option>
							    <option>Toluene</option>
							    <option>Water</option>
							  </select>
							</div>
						</div>
					</div>
				</div>

				<div class="column is-narrow">
					<div class="field">
						<label class="label">Charge</label>
						<div class="control" >
							<div class="select">
							  <select  name="calc_charge">
							    <option>+2</option>
							    <option>+1</option>
							    <option selected="selected">0</option>
							    <option>-1</option>
							    <option>-2</option>
							  </select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="columns">
				<div class="column is-narrow">
					<div class="field">
						<label class="label">Project</label>
						<div class="control">
							<div class="select" >
							  <select name="calc_project" onchange="project_selection_changed()" id="calc_project">
								  {% for proj in profile.project_set.all %}
								  <option name="{{ proj }}">{{ proj }}</option>
								  {% endfor %}
								  <option name="new_project">New Project</option>
							  </select>
							</div>
						</div>
					</div>

				</div>
				<div class="column">
					<div class="field" style="display: none;" id="new_project_name_field">
						<label class="label">Name of new project</label>
						<div class="control">
							<input class="input" name="new_project_name" type="text" placeholder="My Project">
						</div>
					</div>
				</div>

			</div>


			<div class="field">
				<label class="label">Calculation Type</label>
				<div class="control" >
					<div class="select">
					  <select  name="calc_type">
					    <option>Geometrical Optimisation</option>
					    <option>Conformer Search</option>
					    <option>UV/Vis Spectrum Prediction</option>
					    <option>NMR Spectrum Prediction</option>
					  </select>
					</div>
				</div>
			</div>

			<div class="field">
				<div class="control">
					<button class="button is-primary">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>
<script>
	$('#calcform').submit(function(){
	    $('<input />').attr('type', 'hidden')
		    .attr('name', "structure")
		    .attr('value', ChemDoodle.writeMOL(sketcher.getMolecule()))
		    .appendTo('#calcform');

	    return true;
	}); 

$( document ).ready(function() {
	project_selection_changed();
});
</script>

{% endblock content %}
