{% extends 'frontend/base.html' %}

{% load i18n bulma_tags %}

{% load static %}

{% block extrahead %}
	<link rel="stylesheet" href="{% static 'frontend/ChemDoodleWeb.css' %}" type="text/css">
	<script type="text/javascript" src="{% static 'frontend/ChemDoodleWeb.js' %}"></script>
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<link rel="stylesheet" href="{% static 'frontend/uis/jquery-ui-1.11.4.css' %}" type="text/css">
	<script type="text/javascript" src="{% static 'frontend/uis/ChemDoodleWeb-uis.js' %}"></script>

	<style>
	.pick_bs_div {
		display: none;
  		position: fixed; 
  		padding-top: 50px;
  		left: 0; 
  		top: 0;
  		width: 100%;
  		height: 100%; 
  		background-color: rgb(0, 0, 0);
  		background-color: rgba(0, 0, 0, 0.5);
	}
	.modal-content {
  		position: relative; 
  		background-color: white;
  		padding: 20px; 
  		margin: auto; 
  		width: 75%;  
  		-webkit-animation-name: animatetop;
  		-webkit-animation-duration: 0.4s;
  		animation-name: animatetop;
  		animation-duration: 0.4s
	}	
	.close-btn {
	  float: right; 
	  color: lightgray; 
	  font-size: 24px;  
	  font-weight: bold;
	}
	  .close-btn:hover {
	  color: darkgray;
	}
	  @-webkit-keyframes animatetop {
	  from {top:-300px; opacity:0} 
	  to {top:0; opacity:1}
	}
	  @keyframes animatetop {
	  from {top:-300px; opacity:0}
	  to {top:0; opacity:1}
	}
	</style>
	<script>
	(function(ChemDoodle) {
		ChemDoodle.relabel = function(molecule){
	    		for(let i = 0, ii = molecule.atoms.length; i<ii; i++){
	    			molecule.atoms[i].altLabel = String(i+1);
	    		}
	  	};
	})(ChemDoodle);

	let constraint_num = 1;
	String.prototype.format = function() {
  		a = this;
		for (i=0; i < 30; i++) {
    			a = a.replace("{}", arguments[0])
		}
  		return a
	}
	</script>
	<script>
		var project_presets = {
			{% for proj in profile.project_set.all %}
			'{{ proj.name }}': {% if proj.preset %}{{ proj.preset.id }} {% else %} -1 {% endif %},
			{% endfor %}
		}
		function load_preset(id) {
			$.ajax({
				method: "POST",	 	 
				url: "/load_preset/" + id,
				headers: {
					"X-CSRFToken": '{{ csrf_token }}',
				},
				success: function(data) {
					eval(data);
					refresh_availabilities();
					solvent_selection_changed();
				},
			});

		}

		{% if ensemble %}
			function filter_changed() {
				choice = document.getElementById("calc_filter");
				value_input = document.getElementById("calc_filter_value");
				param_input = document.getElementById("calc_filter_params");
				label = document.getElementById("filter_label");
				if(choice.value == "None") {
					value_input.style.display = "none";
					param_input.style.display = "none";
				}
				else if(choice.value == "By Boltzmann Weight") {
					value_input.style.display = "block";
					param_input.style.display = "block";
					label.innerHTML = "Higher than";
				}
				else if(choice.value == "By Relative Energy") {
					value_input.style.display = "block";
					param_input.style.display = "block";
					label.innerHTML = "Lower than (" + "{{ profile.pref_units_name }}" + ")";
				}
			}

		{% endif %}

		function solvent_selection_changed() {
			choice = document.getElementById("calc_solvent");
			solvation_method = document.getElementById("calc_solvation_model_field");
			if(choice.value == "Vacuum") {
				solvation_method.style.display = "none";	
			}
			else {
				solvation_method.style.display = "block";	
			}
		}

		function calc_selection_changed() {
			choice = document.getElementById("calc_type");
			constraint_div = document.getElementById("constraint_div");
			if(choice.value == "Constrained Optimisation") {
				constraint_div.style.display = "block";	
				editor.styles.atoms_displayLabels_3D = true;
			}
			else {
				constraint_div.style.display = "none";	
				editor.styles.atoms_displayLabels_3D = false;
			}
			set_visibility_name();
			refresh_availabilities();
		}
		
		function set_visibility_name() {
			choice = document.getElementById("calc_type");
			field = document.getElementById("calc_name_field");
			if(ensemble == true) {
				if(choice.value == "Geometrical Optimisation" ||  choice.value == "Constrained Optimisation" || choice.value == "Conformational Search" ||  choice.value == "TS Optimisation") {
					field.style.display = "block";
				}
				else {
					field.style.display = "none";
				}
			}
			else {
				field.style.display = "block";

			}

		}

		function constraint_type_selection_changed(id) {
			choice = document.getElementById("constraint_type_{}".format(id));
			inp2 = document.getElementById("calc_constraint_{}_2".format(id));
			inp3 = document.getElementById("calc_constraint_{}_3".format(id));
			inp4 = document.getElementById("calc_constraint_{}_4".format(id));
			from = document.getElementById("calc_label_from_{}".format(id));
			to = document.getElementById("calc_label_to_{}".format(id));

			if (choice.value == "Distance") {
				inp2.style.display = "block";	
				inp3.style.display = "none";	
				inp4.style.display = "none";	
				from.innerHTML = "From (Å)";
				to.innerHTML = "To (Å)";
			}
			else if (choice.value == "Angle") {
				inp2.style.display = "block";	
				inp3.style.display = "block";	
				inp4.style.display = "none";	
				from.innerHTML = "From (°)";
				to.innerHTML = "To (°)";
			}
			else {
				inp2.style.display = "block";	
				inp3.style.display = "block";	
				inp4.style.display = "block";	
				from.innerHTML = "From (°)";
				to.innerHTML = "To (°)";
			}
		}

		function constraint_mode_changed(id) {
			choice = document.getElementById("constraint_mode_{}".format(id));
			div = document.getElementById("calc_scan_div_{}".format(id));
			if (choice.value == "Freeze") {
				div.style.display = "none";	
			}
			else if (choice.value == "Scan") {
				div.style.display = "block";	
				check_scan_from();
			}
		}

		function check_scan_from() {
			software = document.getElementById("calc_software");
			if (software.value == "Gaussian") {
				to_hide = $(".scan_from");
				for (i=0; i < to_hide.length; i++) {
					to_hide[i].style.display = "none";
				}
			}
			else {
				to_hide = $(".scan_from");
				for (i=0; i < to_hide.length; i++) {
					to_hide[i].style.display = "block";
				}
			}
		}

		function project_selection_changed() {
			choice = document.getElementById("calc_project");
			field = document.getElementById("new_project_name_field");
			if(choice.value == "New Project") {
				field.style.display = "block";
			}
			else {
				field.style.display = "none";	
				if(project_presets[choice.value] != -1) {
					load_preset(project_presets[choice.value]);
				}
			}
		}

		function refresh_availabilities() {
			choice = document.getElementById("calc_software");

			full_options = document.querySelectorAll(".software_specific");

			full_options.forEach(element => {
  				element.style.display = 'none';
			});

			options = document.querySelectorAll('.avail_' + choice.value);
			options.forEach(element => {
  				element.style.display = 'block';
			});


			choice = document.getElementById("calc_theory_level");

			full_options = document.querySelectorAll(".method_specific");

			full_options.forEach(element => {
  				element.style.display = 'none';
			});

			options = document.querySelectorAll('.avail_' + choice.value);
			options.forEach(element => {
  				element.style.display = 'block';
			});

			if(choice.value == "HF"){
				hf3c = document.getElementById("hf3c").checked;
				if (hf3c == true) {
					document.getElementById("calc_basis_set_field").style.display = "none";
				}
				else {
					document.getElementById("calc_basis_set_field").style.display = "block";
				}
			}
			else if(choice.value == "DFT") {
				pbeh3c = document.getElementById("pbeh3c").checked;
				if (pbeh3c == true) {
					document.getElementById("calc_basis_set_field").style.display = "none";
					document.getElementById("calc_functional_field").style.display = "none";
				}
				else {
					document.getElementById("calc_basis_set_field").style.display = "block";
					document.getElementById("calc_functional_field").style.display = "block";
				}
			}

			choice = document.getElementById("calc_type");

			full_options = document.querySelectorAll(".type_specific");

			full_options.forEach(element => {
  				element.style.display = 'none';
			});

			options = document.querySelectorAll('.avail_' + choice.value.replace(' ', '_'));
			options.forEach(element => {
  				element.style.display = 'block';
			});

			[].forEach.call(document.getElementById("parameters_column").querySelectorAll('select'), function(sel) {

				ind = sel.selectedIndex;
				if(ind != -1) {
					opt = sel.options[ind];
					if(opt.style.display == "none") {
						for(i=0; i < sel.options.length; i++) {
							opt = sel.options[i];
							if(opt.style.display != "none") {
								sel.selectedIndex = i;
							}
						}
					}
				}
			})

		}

		function add_constraint() {
			constraint_num += 1;
			$("#constraint_list").append(`
			<div class="control" id="constraint_1"> \
				<div class="columns"> \
					<div class="column"> \
						<div class="select"> \
							<select name="constraint_mode_{}" id="constraint_mode_{}" onchange="constraint_mode_changed({})"> \
							<option>Freeze</option> \
							<option>Scan</option> \
							</select> \
						</div> \
					</div> \
					<div class="column"> \
						<div class="select"> \
				<select name="constraint_type_{}" id="constraint_type_{}" onchange="constraint_type_selection_changed({});"> \
							<option>Distance</option> \
							<option>Angle</option> \
							<option>Dihedral</option> \
							</select> \
						</div> \
					</div> \
					<div class="column"> \
						<input class="input" type="text" width="5" name="calc_constraint_{}_1" id="calc_constraint_{}_1"> \
					</div> \
					<div class="column"> \
						<input class="input" type="text" width="5" name="calc_constraint_{}_2" id="calc_constraint_{}_2"> \
					</div> \
					<div class="column"> \
						<input class="input" type="text" width="5" name="calc_constraint_{}_3" id="calc_constraint_{}_3" style="display: none;"> \
					</div> \
					<div class="column"> \
						<input class="input" type="text" width="5" name="calc_constraint_{}_4" id="calc_constraint_{}_4" style="display: none;"> \
					</div> \
					<div class="column"> \
				<button type="button" class="button is-danger" onclick="$('#calc_scan_div_{}').remove(); $(this).parent().parent().parent().remove();">-</button> \
					</div> \
				</div> \
			</div> \
				<div style="display: none;" id="calc_scan_div_{}"> \
				<div class="columns"> \
				<div class="column"> \
					<p id="calc_label_from_{}"> From (Å)</p> \
				<input class="input software_specific avail_xtb avail_ORCA" type="text" width="5" name="calc_scan_{}_1" id="calc_scan_{}_1"> \
				</div> \
				<div class="column"> \
					<p id="calc_label_to_{}"> To (Å)</p> \
				<input class="input" type="text" width="5" name="calc_scan_{}_2" id="calc_scan_{}_2"> \
				</div> \
				<div class="column"> \
					# Steps \
				<input class="input" type="text" width="5" name="calc_scan_{}_3" id="calc_scan_{}_3"> \
				</div> \
			</div> \
			</div>`.format(constraint_num));

		}
		
		function get_3D() {
			let mol = ChemDoodle.writeMOL(sketcher.getMolecule());

			$.ajax({
				method: "POST",	 	 
				url: "/gen_3D/",
				headers: {
					"X-CSRFToken": '{{ csrf_token }}',
				},

				data: {'mol': mol},
				statusCode: {
					404: function(data) {
						$("#3d_msg").html("Error while generating structure");
					},
					200: function(data) {
						$("#3d_msg").html("");
						let mol_read = ChemDoodle.readXYZ(data);
						ChemDoodle.relabel(mol_read);
						editor.loadMolecule(mol_read);	
					}
				}
			});
		}
		

		function add_file_name() {
			path = $("#file_structure").val();
			file_name = path.replace('C:\\fakepath\\', '').split('.')[0];
			curr_name = document.getElementById("calc_name").value;
			if(curr_name == "") {
				$("#calc_name").val(file_name);
			}
		}

		function set_project_default() {
			$.ajax({
				data: $("#calcform").serialize(), 
				headers: {
					"X-CSRFToken": '{{ csrf_token }}',
				},

				type: "POST", 
				url: "/set_project_default/",
				success: function (response) { 
					$("#preset_msg").html(response);
				}
			});
		}
		
		function save_preset() {
			preset_name = prompt("Name of the preset?", "")
			if(preset_name != null) {
				data = $("#calcform").serializeArray();
				data.push({ name: 'preset_name', value: preset_name});
				$.ajax({
					data: data, 
					headers: {
						"X-CSRFToken": '{{ csrf_token }}',
					},

					type: "POST", 
					url: "/save_preset/",
					success: function (response) { 
						$("#preset_msg").html(response);
						refresh_presets();
					}
				});
			}

		}
		
		function load_selected_preset() {
			preset = document.getElementById("presets").value;
			load_preset(preset);
		}
		function delete_preset() {
			preset = document.getElementById("presets").value;
			$.ajax({
				headers: {
					"X-CSRFToken": '{{ csrf_token }}',
				},

				type: "POST", 
				url: "/delete_preset/" + preset,
				success: function (response) { 
					$("#preset_msg").html(response);
					refresh_presets();
				}
			});
	
		}

		function refresh_presets() {
			$("#presets").load("/presets/");
		}

		{% if ensemble %}
		let ensemble = true;
		{% else %}
		let ensemble = false;
		{% endif %}
	</script>
{% endblock %}

{% block content %}

{% csrf_token %}
	<datalist id="basis_sets_options">
	    <option value="6-31+G(d,p)">6-31+G(d,p)</option>
	    <option value="Def2SVP">Def2SVP</option>
	    <option value="Def2TZVP">Def2TZVP</option>
	    <option value="aug-cc-pVDZ">aug-cc-pVDZ</option>
	    <option value="aug-cc-pVTZ">aug-cc-pVTZ</option>
	</datalist>
	<datalist id="functional_options">
	    <option value="M06">M06</option>
	    <option value="M062X">M062X</option>
	    <option value="PBE0">PBE0</option>
	    <option value="B3LYP">B3LYP</option>
	    <option value="wB97XD">wB97XD</option>
	</datalist>


	<div class="columns is-desktop">
		<div class="column">
			{% if not ensemble and not structure and not calc %}
			<script>
				let sketcher = new ChemDoodle.SketcherCanvas('sketcher', 400, 300, {useServices:false, oneMolecule:false});
				sketcher.styles.atoms_usePYMOLColors = true;
				sketcher.oneMolecule = false;
				sketcher.styles.bonds_clearOverlaps_2D = true;
				sketcher.styles.shapes_color = 'c10000';
				sketcher.repaint();
			</script>
			<br />
			<button class="button" onclick="get_3D();">Generate 3D representation</button>
			{% endif %}

			<script>
				let editor = new ChemDoodle.EditorCanvas3D('editor', 400, 300, {useServices:false, oneMolecule:false});
				editor.styles.atoms_usePYMOLColors = true;
				editor.oneMolecule = false;
				editor.styles.set3DRepresentation('Stick');
				editor.styles.shapes_color = 'c10000';
				editor.repaint();
			</script>
			<div id="3d_msg">
			</div>

		</div>
		<div class="column" id="parameters_column">
			<div class="column" >
				<div class="box">
					<center>
						<div class="select">
							<select id="presets">
							</select>
						</div>
						<br />
						<a class="button" onclick="load_selected_preset()">Load Preset</a>
						<a class="button" onclick="save_preset()">Save Preset</a>
						<a class="button" onclick="delete_preset()">Delete Preset</a>
						<br />
						<a class="button" onclick="set_project_default()">Set current parameters as project defaults</a>
						<div id="preset_msg">

						</div>
					</center>
				</div>
			</div>

			<form action="/submit_calculation/" method="post" id="calcform" enctype="multipart/form-data">

				{% if not ensemble and not structure %}
				<div class="field">
					<label class="label">Draw a structure or choose a file</label>
					<div class="control">
						<input type="file" name="file_structure" id="file_structure" multiple="multiple" onchange="add_file_name()">
					</div>
				</div>

				{% endif %}
				{% csrf_token %}

				<div class="columns">
					<div class="column">
						<div class="field" id="calc_name_field">
							<label class="label">Name</label>
							<div class="control">
								<input class="input" name="calc_name" id="calc_name" type="text">
							</div>
						</div>
					</div>

					<div class="column is-narrow">
						<div class="field">
							<label class="label">Solvent</label>
							<div class="control" >
								<div class="select">
									<select name="calc_solvent" id="calc_solvent" onchange="solvent_selection_changed();">
								    		<option selected="selected">Vacuum</option>
								    		<option>Acetone</option>
								    		<option>Acetonitrile</option>
								    		<option>Benzene</option>
								    		<option>Dichloromethane</option>
								    		<option>Chloroform</option>
								    		<option>Carbon disulfide</option>
								    		<option>Dimethylformamide</option>
								    		<option>Dimethylsulfoxide</option>
								    		<option>Diethyl ether</option>
								    		<option>Methanol</option>
								    		<option>n-Hexane</option>
								    		<option>Tetrahydrofuran</option>
								    		<option>Toluene</option>
								    		<option>Water</option>
								  	</select>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-narrow">
						<div class="field" id="calc_solvation_model_field">
							<label class="label">Solvation Model</label>
							<div class="control" >
								<div class="select" >
								  <select name="calc_solvation_model" id="calc_solvation_model">
								    <option class="software_specific avail_xtb">GBSA</option>
								    <option class="software_specific avail_Gaussian avail_ORCA">SMD</option>
								    <option class="software_specific avail_Gaussian avail_ORCA">SMD18</option>
								    <option class="software_specific avail_Gaussian">PCM</option>
								    <option class="software_specific avail_Gaussian avail_ORCA">CPCM</option>
								  </select>
								</div>
							</div>
						</div>
					</div>

					<div class="column is-narrow">
						<div class="field">
							<label class="label">Charge</label>
							<div class="control" >
								<div class="select">
								  <select name="calc_charge" id="calc_charge">
								    <option>+2</option>
								    <option>+1</option>
								    <option selected="selected">0</option>
								    <option>-1</option>
								    <option>-2</option>
								  </select>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-narrow">
						<div class="field">
							<label class="label">Multiplicity</label>
							<div class="control" >
								<div class="select">
								  <select name="calc_multiplicity" id="calc_multiplicity">
								    <option selected="selected">1</option>
								    <option>2</option>
								    <option>3</option>
								  </select>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="columns">
					<div class="column is-narrow">
						<div class="field">
							<label class="label">Project</label>
							<div class="control">
								<div class="select" >
								  <select name="calc_project" onchange="project_selection_changed()" id="calc_project">
									  {% for proj in profile.project_set.all %}
									  <option name="{{ proj }}">{{ proj }}</option>
									  {% endfor %}
									  <option name="new_project">New Project</option>
								  </select>
								</div>
							</div>
						</div>

					</div>
					<div class="column">
						<div class="field" style="display: none;" id="new_project_name_field">
							<label class="label">Name of new project</label>
							<div class="control">
								<input class="input" name="new_project_name" type="text" placeholder="My Project">
							</div>
						</div>
					</div>

				</div>

				<div class="field">
					<label class="label">Software</label>
					<div class="control" >
						<div class="select">
							<select name="calc_software" id="calc_software" onchange="refresh_availabilities();">
								<option>xtb</option>
								<option>ORCA</option>
								<option>Gaussian</option>
							</select>
						</div>
					</div>
				</div>

				<div class="field">
					<label class="label">Calculation Type</label>
					<div class="control" >
						<div class="select">
							<select name="calc_type" id="calc_type" onchange="calc_selection_changed();">
							{% for proc in procs %}
							<option class="software_specific {% if proc.avail_xtb %}avail_xtb{% endif %} {% if proc.avail_ORCA %}avail_ORCA{% endif %} {% if proc.avail_Gaussian %}avail_Gaussian{% endif %}">{{ proc.name }}</option>
							{% endfor %}
							</select>
						</div>
					</div>
				</div>
				<div style="display: none;" id="constraint_div">
					<div class="field">
						<label class="label">Constraints and scan coordinates</label>
						<div id="constraint_list">
							<div class="control" id="constraint_1">
								<div class="columns">
									<div class="column">
										<div class="select">
											<select name="constraint_mode_1" id="constraint_mode_1" onchange="constraint_mode_changed(1)">
											<option selected="selected">Freeze</option>
											<option>Scan</option>
											</select>
										</div>
									</div>

									<div class="column">
										<div class="select">
											<select name="constraint_type_1" id="constraint_type_1" onchange="constraint_type_selection_changed(1);">
											<option selected="selected">Distance</option>
											<option>Angle</option>
											<option>Dihedral</option>
											</select>
										</div>
									</div>
									<div class="column">
										<input class="input" type="text" width="5" name="calc_constraint_1_1" id="calc_constraint_1_1">
									</div>
									<div class="column">
										<input class="input" type="text" width="5" name="calc_constraint_1_2" id="calc_constraint_1_2">
									</div>
									<div class="column">
										<input class="input" type="text" width="5" name="calc_constraint_1_3" id="calc_constraint_1_3" style="display: none;">
									</div>
									<div class="column">
										<input class="input" type="text" width="5" name="calc_constraint_1_4" id="calc_constraint_1_4" style="display: none;">
									</div>
									<div class="column">
										<button type="button" class="button is-primary" onclick="add_constraint();">+</button>
									</div>
								</div>
								<div style="display: none;" id="calc_scan_div_1">
								<div class="columns" >
									<div class="column">
										<p id="calc_label_from_1"> From (Å)</p>
										<input class="input software_specific avail_xtb avail_ORCA" type="text" width="5" name="calc_scan_1_1" id="calc_scan_1_1">
									</div>
									<div class="column">
										<p id="calc_label_to_1"> To (Å)</p>
										<input class="input" type="text" width="5" name="calc_scan_1_2" id="calc_scan_1_2">
									</div>
									<div class="column">
										# Steps
										<input class="input" type="text" width="5" name="calc_scan_1_3" id="calc_scan_1_3">
									</div>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="software_specific avail_ORCA avail_Gaussian">
					<div class="field">
						<label class="label">Theory Level</label>
						<div class="control" >
							<div class="select">
								<select name="calc_theory_level" id="calc_theory_level" onchange="refresh_availabilities();">
									<option>Semi-empirical</option>
									<option>HF</option>
									<option>DFT</option>
									<option class="software_specific avail_ORCA">RI-MP2</option>
								</select>
							</div>
						</div>
					</div>
					<div class="columns">
						<div class="method_specific avail_DFT">
							<div class="column is-narrow software_specific avail_ORCA ">
								<div class="field">
									<label class="label">Special</label>
									<label class="checkbox">
										<input type="checkbox" name="pbeh3c" id="pbeh3c" onchange="refresh_availabilities();">
										PBEh-3c
									</label>		
								</div>
							</div>
						</div>
						<div class="method_specific avail_HF">
							<div class="column is-narrow software_specific avail_ORCA ">
								<div class="field">
									<label class="label">Special</label>
									<label class="checkbox">
										<input type="checkbox" id="hf3c" name="hf3c" onchange="refresh_availabilities();">
										HF-3c
									</label>		
								</div>
							</div>
						</div>
						<div class="column method_specific avail_Semi-empirical">
							<div class="field">
								<label class="label">Method</label>
								<div class="control">
									<div class="select">
										<select name="calc_se_method" id="calc_method">
											<option>AM1</option>
											<option>PM3</option>
											<option class="software_specific avail_Gaussian">PM6</option>
											<option class="software_specific avail_Gaussian">PM7</option>
										</select>
									</div>
								</div>
							</div>
						</div>


						<div class="column method_specific avail_DFT">
							<div class="field" id="calc_functional_field">
								<label class="label">Functional</label>
								<div class="control">
									<input class="input" name="calc_functional" id="calc_functional" type="text" list="functional_options">
								</div>
							</div>
						</div>
						<div class="column method_specific avail_DFT avail_RI-MP2 avail_HF">
							<div class="field" id="calc_basis_set_field">
								<label class="label">Basis set</label>
								<div class="control">
									<input class="input" name="calc_basis_set" id="calc_basis_set" type="text" list="basis_sets_options">
								</div>
							</div>
						</div>
						<div class="column">
							<div class="field">
								<label class="label">Additional keyword</label>
								<div class="control">
									<input class="input" name="calc_misc" id="calc_misc" type="text" placeholder="" >
								</div>
							</div>
						</div>

					</div>
				</div>
				<br />
				<div>
					<details class="box">
						<summary>Advanced Options</summary>
						<br />
						<div class="method_specific avail_DFT">
							<div class="field software_specific avail_Gaussian">
								<label class="label">Density Fitting</label>
								<div class="control">
									<input class="input" name="calc_df" id="calc_df" type="text" placeholder="" >
								</div>
							</div>
						</div>
						<div class="software_specific avail_xtb">
							<div class="field type_specific avail_Conformational_Search">
								<label class="label">Method</label>
								<div class="control">
									<div class="select">
										<select name="calc_conf_option" id="calc_conf_option">
											<option selected="selected">GFN2-xTB</option>
											<option>GFN-FF</option>
											<option>GFN2-xTB//GFN-FF</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="method_specific avail_DFT avail_RI-MP2 avail_HF">
							<div class="field">
								<label class="label">Custom basis sets</label>
								<div class="control">
									<input class="input" name="calc_custom_bs" id="calc_custom_bs" type="text" placeholder="" >
								<button class="button is-info" id="pick_bs_button" type="button">Pick custom basis sets</button>
								</div>
							</div>

							<div class="modal pick_bs_div" id="pick_bs_div">
								<div class="modal-card">
									<header class="modal-card-head">
										<p class="modal-card-title">Specific basis sets</p>
										<button type="button" class="close-btn modal-close is-large" aria-label="close"></button>
									</header>
									<section class="modal-card-body" id="custom_bs_body">
									</section>
									<footer class="model-card-foot">
										footer
									</footer>
								</div>
							</div>
						</div>

					</details>
				</div>
				<br />
				<div class="field">
					<label class="label">Resource</label>
					<div class="control" >
						<div class="select">
						<select name="calc_ressource">
							{% if profile.group or profile.is_PI %}
								<option>Local</option>
							{% endif %}
							{% for access in profile.accesses %}
								<option>{{ access.cluster_address }}</option>
							{% endfor %}
						  </select>
						</div>
					</div>
				</div>

				{% if ensemble %}
					<div class="columns">
						<div class="column">
							<div class="field">
								<label class="label">Filter</label>
								<div class="control" >
									<div class="select">
									<select name="calc_filter" onchange="filter_changed();" id="calc_filter">
										<option>None</option>
										<option>By Relative Energy</option>
										<option>By Boltzmann Weight</option>
									  </select>
									</div>
								</div>
							</div>
						</div>
						<div class="column">
							<div class="field" style="display: none;" id="calc_filter_value">
								<label class="label" id="filter_label">Higher than</label>
								<div class="control">
									<input class="input" name="filter_value" type="text" id="filter_value_input">
								</div>
							</div>
						</div>
						<div class="column">
							<div class="field" id="calc_filter_params">
								<label class="label">Parameters</label>
								<div class="control" >
									<div class="select">
									<select name="filter_parameters">
										{% for p in ensemble.unique_parameters %}
											<option value="{{ p.id }}">{{ p }}</option>
										{% endfor %}
									  </select>
									</div>
								</div>
							</div>
						</div>

					</div>

				{% endif %}

				<div class="field">
					<div class="control">
						<button class="button is-primary" id="submit_button">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script>
		$('#calcform').submit(function(){
			$('<input />').attr('type', 'hidden')
				.attr('name', "constraint_num")
				.attr('value', constraint_num)
				.appendTo(this);

			{% if ensemble %}
			$('<input />').attr('type', 'hidden')
				.attr('name', "starting_ensemble")
				.attr('value', {{ ensemble.id }})
				.appendTo(this);
			{% endif %}

			{% if structure %}
			$('<input />').attr('type', 'hidden')
				.attr('name', "starting_struct")
				.attr('value', {{ structure.id }})
				.appendTo(this);
			{% endif %}

			{% if calc %}
			$('<input />').attr('type', 'hidden')
				.attr('name', "starting_calc")
				.attr('value', {{ calc.id }})
				.appendTo(this);
				.attr('name', "starting_frame")
				.attr('value', {{ frame_id }})
				.appendTo(this);
			{% endif %}

			if (editor.molecules.length > 0) {
				let mol2 = ChemDoodle.writeMOL(editor.getMolecule());

				$('<input />').attr('type', 'hidden')
					.attr('name', "structure").val(mol2).appendTo("#calcform");
			}

			if (sketcher.molecules.length > 0) {
				let mol = ChemDoodle.writeMOL(sketcher.getMolecule());

				$('<input />').attr('type', 'hidden')
					.attr('name', "structureB").val(mol).appendTo("#calcform");
			}

			return true;
		}); 

	$( document ).ready(function() {
		{% if not ensemble and not structure %}
		project_selection_changed();
		{% endif %}

		refresh_presets();

		solvent_selection_changed();

		refresh_availabilities();

		{% if proj %}
		proj = document.getElementById("calc_project");
		proj.value = "{{ proj.name }}";
		{% endif %}

		{% if ensemble %}
			$("#calc_project").val("{{ ensemble.parent_molecule.project.name }}");
			$.ajax({
				method: "POST",	 	 
				url: "/get_structure/",
				headers: {
					"X-CSRFToken": '{{ csrf_token }}',
				},

				data: {'id': {{ ensemble.id }}, 'num': 1},
				success: function(data, textStatus, xhr) {
					let mol_read = ChemDoodle.readXYZ(data);
					ChemDoodle.relabel(mol_read);
					editor.loadMolecule(mol_read);	
				}
			});
			$.ajax({
				method: "POST",	 	 
				url: "/load_params_ensemble/" + {{ ensemble.id }},
				headers: {
					"X-CSRFToken": '{{ csrf_token }}',
				},
				success: function(data) {
					eval(data);
					refresh_availabilities();
					solvent_selection_changed();
				},
			});

		{% endif %}

		{% if structure %}
			$("#calc_project").val("{{ structure.parent_ensemble.parent_molecule.project.name }}");
			let mol_read = ChemDoodle.readXYZ(`{{ structure.xyz_structure }}`);
			ChemDoodle.relabel(mol_read);
			editor.loadMolecule(mol_read);	
			$.ajax({
				method: "POST",	 	 
				url: "/load_params_structure/" + {{ structure.id }},
				headers: {
					"X-CSRFToken": '{{ csrf_token }}',
				},
				success: function(data) {
					eval(data);
					refresh_availabilities();
					solvent_selection_changed();
				},
			});

		{% endif %}
		{% if calc %}
			$("#calc_project").val("{{ calc.order.project.name }}");
			$.ajax({
				method: "POST",	 	 
				url: "/get_calc_frame/{{ calc.id }}/{{ frame_id }}",
				headers: {
					"X-CSRFToken": '{{ csrf_token }}',
				},
				success: function(data) {
					let mol_read = ChemDoodle.readXYZ(data);
					ChemDoodle.relabel(mol_read);
					editor.loadMolecule(mol_read);	
				},
			});

		{% endif %}

	});
	</script>
	<script>
	let modalBtn = document.getElementById("pick_bs_button")
	let modal = document.querySelector(".pick_bs_div")
	let closeBtn = document.querySelector(".close-btn")
	modalBtn.onclick = function(){
		div = $("#custom_bs_body");
		if (div.html().replace(/^\s+|\s+$/g, '') == ""){
			$("#custom_bs_body").load("/periodictable/");
		}
  		modal.style.display = "block"
	}
	closeBtn.onclick = function(){
  		modal.style.display = "none"
		print_output();
	}
	window.onclick = function(e){
  		if(e.target == modal){
    			modal.style.display = "none"
		print_output();
  		}
	}		
	function print_output() {
		output = document.getElementById("calc_custom_bs");
		tmp_output = document.getElementById("custom_bs");

		output.value = tmp_output.value;
	}


	</script>

{% endblock content %}
