{% extends 'frontend/launch_template.html' %}

{% block launchhead %}
<script>
    {% include "frontend/form/preset_head.js" %}
    {% include "frontend/form/project_head.js" %}
    {% include "frontend/form/file_upload_head.js" %} 
    {% include "frontend/form/aux_file_head.js" %} 
    {% include "frontend/form/derivatives_head.js" %}
    {% include "frontend/form/type_head.js" %}
    {% include "frontend/form/constraints_head.js" %}
    {% include "frontend/form/resource_head.js" %}

	{% if ensemble and not structures %}
    {% include "frontend/form/filter_head.js" %}
	{% endif %}
</script>
{% endblock %}

{% block formblock %}

{% include "frontend/form/edit_structure_body.html" %}

<div class="columns" id="main_columns">
    <div class="column is-narrow has-text-centered">
        {% include "frontend/form/input_widgets_body.html" %} 
    </div>
    <div class="column" id="parameters_div">
	<div class="column" >
        {% if not IS_CLOUD %}
            {% include "frontend/form/preset_body.html" %}
        {% endif %}
	</div>

	<form method="post" id="calcform" enctype="multipart/form-data">
		{% if not ensemble and not structure %}
		<div class="columns">
			{% if not is_batch %}
            {% include "frontend/form/file_upload_body.html" %}
			{% endif %}
		</div>

        {% if not is_batch %}
            {% include "frontend/form/derivatives_body.html" %}
        {% endif %}

        {% include "frontend/form/aux_file_upload_body.html" %}

		{% endif %}
		{% csrf_token %}

		<div class="columns">
			<div class="column">
				{% if not calc and not ensemble and not structure %}
                {% include "frontend/form/mol_name_body.html" %}
				{% endif %}
                {% include "frontend/form/ensemble_name_body.html" %}
			</div>

			<div class="column is-narrow">
                {% include "frontend/form/charge_body.html" %}
			</div>
			<div class="column is-narrow">
                {% include "frontend/form/multiplicity_body.html" %}
			</div>
		</div>

        <div class="columns">
            <div class="column is-narrow">
                {% include "frontend/form/solvent_body.html" %}
            </div>
            <div class="column is-narrow">
                {% include "frontend/form/solvation_model_body.html" %}
            </div>
            <div class="column is-narrow">
                {% include "frontend/form/solvation_radii_body.html" %}
            </div>
        </div>

		{% if not is_batch %}
        {% include "frontend/form/project_body.html" %}
		{% endif %}

		<div class="columns">
            <div class="column is-3">
                {% include "frontend/form/software_body.html" %}
            </div>

            <div class="column is-3">
                {% include "frontend/form/driver_body.html" %}
			</div>


            <div class="column is-6">
                {% include "frontend/form/type_body.html" %}
		    </div>

		</div>

        {% include "frontend/form/aux_structure_body.html" %}

        {% include "frontend/form/constraints_body.html" %}


        <div>
            <div class="columns">
                <div class="column is-3">
                    {% include "frontend/form/theory_level_body.html" %}
                </div>
                <div class="column optional-column">
                {% include "frontend/form/special_body.html" %}
                </div>

                <div class="column optional-column">
                {% include "frontend/form/se_method_body.html" %}
                </div>
                <div class="column optional-column">
                {% include "frontend/form/xtb_method_body.html" %}
                </div>

                <div class="column optional-column">
                {% include "frontend/form/dft_method_body.html" %}
                </div>

                <div class="column optional-column">
                {% include "frontend/form/basis_set_body.html" %}
                </div>
            </div>
        </div>
        <div>
            {% include "frontend/form/specifications_body.html" %}

            {% include "frontend/form/df_body.html" %}

            {% include "frontend/form/custom_bs_body.html" %}
		</div>
		<br />
		{% if IS_CLOUD %}
		<input type="hidden" id="calc_resource" name="calc_resource" value="Local">
		{% else %}
            {% include "frontend/form/resource_body.html" %}
		{% endif %}

		{% if ensemble and not structures %}
            {% include "frontend/form/filter_body.html" %}
		{% endif %}

        <center>
		<div class="field" id="submit_field">
			<span id="form_error_msg"></span>
			<div class="control">
				<a class="button is-primary" id="submit_button" onclick="verify_form()">Submit</a>
			</div>
            {% if IS_CLOUD %}
            <div class="cloud_comp_info">
                <span id="cloud_num_cores">1 to 4</span> core will be used (maximum runtime: <span id="cloud_timeout">{% if request.user.is_trial %}5 minutes{% elif request.user.is_subscriber %}6 hours{% else %}15 minutes{% endif %}</span></span>)
                {% if request.user.is_trial %}
                <br>
                <a href="/create_full_account/">You are using a trial account. Convert to a free full account to unlock more computing power and longer runtimes</a>
                {% elif not request.user.is_subscriber %}
                <br>
                <a href="/pricing/">Become a subscriber to increase your maximum runtime</a>
                {% endif %}
            </div>
            {% endif %}
		</div>
        <center>
	</form>
</div>
{% endblock %}

{% block appendix %}
<script>
    window.onload = function () {
        document.getElementById("calcform").action = "/submit_calculation/";
        {% if start_tour %}
        tour.addStep({
            id: 'tour_intro',
            text: 'It seems like it is your first time here, do you want to go through a quick tour of the interface?',
            buttons: [
                {
                    text: 'No thanks',
                    action: tour.cancel
                },
                {
                    text: 'Yes!',
                    action: tour.next
                }
            ]
        });

        tour.addStep({
            id: 'tour_briefing',
            text: 'This tour will tell you about the main options of the interface. You can navigate using the arrow keys or abort the tour using the escape key.',
            buttons: [
                {
                    text: 'Start',
                    action: tour.next
                }
            ]
        });

        _add_step('tour_sketcher', 'This is the sketcher. You can draw molecules as input. Specific elements can be chosen using your keyboard while hovering over an atom.', '#sketcher', 'left');
        _add_step('tour_3D', 'You can verify that the 3D structure is correct by clicking here. The structure will be loaded in the viewer above.', '#gen_3D_btn', 'left');
        _add_step('tour_file_upload', 'Instead of using the sketcher, you can also upload structure files (.xyz, .mol, .mol2, .sdf...)', '#file_structure', 'bottom');
        _add_step('tour_charge', 'If your molecule isn\'t neutral and in a singlet state, enter the proper charge and multiplicity.', '#charge_field', 'bottom');

        _add_step('tour_mol', 'You need to specify a molecule name for your input. This can be anything, but should be clear for you.', '#calc_mol_name_field', 'bottom');
        _add_step('tour_ensemble', 'This field specifies what the specific result of the calculation will be called. If you don\'t specify a name, the calculation type will be used as name.', '#calc_name_field', 'bottom');
        _add_step('tour_project', 'You need to select a project (or create a new one) for each calculation. Projects are used to keep related results together and to make it easier to find past results.', '#project_field', 'bottom');
    
        {% if IS_CLOUD %}
        _add_step('tour_software', 'The software to use for the calculation is selected here. CalcUS Cloud currently only offers xtb, although more packages will be supported in the future.', '#software_field', 'bottom');
        {% else %}
        _add_step('tour_software', 'The software to use for the calculation is selected here. Your options may be limited by the software that you have locally.', '#software_field', 'bottom');
        {% endif %}

        _add_step('tour_driver', 'The driver is the package that manages the procedure that you are using (for example, the geometrical optimization algorithm). It can simply be the same as the software which runs the energy calculation, if the algorithm is available in it. In some cases, it is necessary or useful to use a separate driver to have access to more options. <br><br> For example, while xtb cannot perform TS optimization, the Pysisyphus driver can be used in combination with xtb in order to perform TS optimizations', '#driver_field', 'bottom');

        {% if IS_CLOUD %}
        _add_step('tour_type', 'The calculation type defines what the goal of the calculation is. The available options will change depending on the software package and might require specific drivers.', '#type_field', 'bottom');
        {% else %}
        _add_step('tour_type', 'The calculation type defines what the goal of the calculation is. Some options might require a specific drivers.', '#type_field', 'bottom');
        {% endif %}

        {% if IS_CLOUD %}
        _add_step('tour_theory_level', 'This option allows you to choose the theory level to use. CalcUS Cloud only offers the eXtended Tight-Binding (xtb) methods developed by Stefan Grimme and coworkers.', '#calc_theory_level', 'bottom');
        {% else %}
        _add_step('tour_theory_level', 'This option allows you to choose the theory level to use. The available options will vary depending on the selected software. Additional details about the method to use will be required.', '#calc_theory_level', 'bottom');
        {% endif %}

        {% if IS_CLOUD %}
        _add_step('tour_method', 'You can choose here the specific flavor of tight-binding to use. In summary, GFN2-xTB is the most recent and accurate method, while GFN1-xTB and GFN0-xTB are somewhat faster and more approximate. GFN-FF is a forcefield derived from the methodology used in the other methods and it is much faster. Refer to <a href="https://xtb-docs.readthedocs.io/en/latest/contents.html">the official documentation for more information</a><br><br>In general, <b>GFN2-xTB is recommended for almost all calculations</b>, since it is still extremely fast. <b>The only exceptions are conformational searches, which are much more computationally intensive; GFN-FF is recommended for these</b> unless your molecule is small or is not well represented by forcefield.', '#calc_xtb_method', 'bottom');
        {% endif %}

            _add_step('tour_solvent', 'If desired, implicit solvation for a given solvent can be added here.', '#solvent_field', 'bottom');

            _add_step('tour_specifications', 'Additional options can be added here (<a href=https://calcus.readthedocs.io/en/latest/software-packages.html#specifications"> see the CalcUS documentation</a>)', '#custom_specifications_field', 'bottom');

        tour.addStep({
            id: 'tour_end',
            text: 'This concludes the quick tour. If you need help, contact <a href="mailto:support@calcus.cloud">support@calcus.cloud</a> or <a href="https://github.com/cyllab/CalcUS">visit the project\'s Github repository</a>.',
            buttons: [
                {
                    text: 'Complete tour',
                    action: tour.complete
                }
            ]
        });

        tour.start();
        {% endif %}
    };
</script>
{% endblock %}
