{% if theory == 'DFT' %}
<div class="columns">
	<div class="column">
		<div class="field">
			<label class="label">Functional</label>
			<div class="control">
				<input class="input" name="calc_functional" type="text" placeholder="M062X" required>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="field">
			<label class="label">Basis set</label>
			<div class="control">
				<input class="input" name="calc_basis_set" type="text" placeholder="Def2SVP" required>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="field">
			<label class="label">Additional keyword</label>
			<div class="control">
				<input class="input" name="calc_misc" type="text" placeholder="" >
			</div>
		</div>
	</div>

</div>

{% endif %}
