{% extends 'frontend/base.html' %} {% load i18n %} {% load static %} {% block extrahead %}
<title>CalcUS - Launch</title>
<style>
    .modal-card {
        max-width: 850px;
        width: 100%;
    }
    .close_btn {
        float: right;
        color: lightgray;
        font-size: 24px;
        font-weight: bold;
    }
    .close_btn:hover {
        color: darkgray;
    }
    #parameters_column {
        max-width: 50em;
        margin: 0 auto;
    }
    #main_columns {
        max-width: calc(60em + 400px);
        margin: 0 auto;
    }
    @media screen and (max-width: 1407px) {
        #main_columns {
            display: block;
        }

    }
    @-webkit-keyframes animatetop {
        from {
            top: -300px;
            opacity: 0;
        }
        to {
            top: 0;
            opacity: 1;
        }
    }
    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0;
        }
        to {
            top: 0;
            opacity: 1;
        }
    }

    @media screen and (min-width: 1408px) {
        #content_container {
            width: 80%;
            margin-left: 10%;
        }
    }
    #pick_bs_button {
        margin-top: 1em;
    }
    .solv_select {
        min-width: 8em;
    }
    .wide_select, [name=calc_software], [name=calc_type], [name=calc_theory_level], [name=calc_se_method], [name=calc_xtb_method], [name=calc_driver] {
        width: 100%;
    }
    .field {
        margin-top: 0.5em;
    }

</style>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="{% static 'frontend/ChemDoodleWeb.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/uis/ChemDoodleWeb-uis.js' %}"></script>
    <link rel="stylesheet" href="{% static 'frontend/uis/jquery-ui-1.11.4.css' %}" type="text/css">

{% include 'frontend/calc_form_head.html' %} {% endblock %} {% block content %} {% csrf_token %}

<div class="columns" id="main_columns">
    <div class="column is-narrow has-text-centered">
        {% if not ensemble and not structure and not calc %}
        <script>
            let sketcher = new ChemDoodle.SketcherCanvas("sketcher", 400, 300, {
                useServices: false,
                oneMolecule: false,
            });
            sketcher.styles.atoms_usePYMOLColors = true;
            sketcher.oneMolecule = false;
            sketcher.styles.bonds_clearOverlaps_2D = true;
            sketcher.styles.shapes_color = "c10000";
            sketcher.repaint();
        </script>
        <br />
        <button class="button" onclick="get_3D();" id="gen_3D_btn">Generate 3D representation</button>
        {% endif %}

        <script>
            let editor = new ChemDoodle.EditorCanvas3D("editor", 400, 300, {
                useServices: false,
                oneMolecule: false,
            });
            editor.styles.atoms_usePYMOLColors = true;
            editor.oneMolecule = false;
            editor.styles.set3DRepresentation("Stick");
            editor.styles.shapes_color = "c10000";
            editor.repaint();
        </script>
        <div id="3d_msg"></div>
    </div>
    {% include 'frontend/calc_form_body.html' %}
</div>
<script>
    window.onload = function () {
        document.getElementById("calcform").action = "/submit_calculation/";
    };
</script>
{% endblock content %}
