<div class="field">
	<label class="label">Calculation Type</label>
	<div class="control" >
		<div class="select">
			<select name="calc_type" id="calc_type" onchange="calc_selection_changed();">
				{% for proc in procs %}
				<option>{{ proc.name }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
</div>
<div style="display: none;" id="constraint_div">
	<div class="field">
		<label class="label">Constraints and scan coordinates</label>
		<div id="constraint_list">
			<div class="control" id="constraint_1">
				<div class="columns">
					<div class="column">
						<div class="select">
							<select name="constraint_mode_1" id="constraint_mode_1" onchange="constraint_mode_changed(1)">
							<option selected="selected">Freeze</option>
							<option>Scan</option>
							</select>
						</div>
					</div>

					<div class="column">
						<div class="select">
							<select name="constraint_type_1" id="constraint_type_1" onchange="constraint_type_selection_changed(1);">
							<option selected="selected">Distance</option>
							<option>Angle</option>
							<option>Dihedral</option>
							</select>
						</div>
					</div>
					<div class="column">
						<input class="input" type="text" width="5" name="calc_constraint_1_1" id="calc_constraint_1_1">
					</div>
					<div class="column">
						<input class="input" type="text" width="5" name="calc_constraint_1_2" id="calc_constraint_1_2">
					</div>
					<div class="column">
						<input class="input" type="text" width="5" name="calc_constraint_1_3" id="calc_constraint_1_3" style="display: none;">
					</div>
					<div class="column">
						<input class="input" type="text" width="5" name="calc_constraint_1_4" id="calc_constraint_1_4" style="display: none;">
					</div>
					<div class="column">
						<button type="button" class="button is-primary" onclick="add_constraint();">+</button>
					</div>
				</div>
				<div style="display: none;" id="calc_scan_div_1">
				<div class="columns" >
					<div class="column">
						From
						<input class="input" type="text" width="5" name="calc_scan_1_1" id="calc_scan_1_1">
					</div>
					<div class="column">
						To
						<input class="input" type="text" width="5" name="calc_scan_1_2" id="calc_scan_1_2">
					</div>
					<div class="column">
						# Steps
						<input class="input" type="text" width="5" name="calc_scan_1_3" id="calc_scan_1_3">
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% if software == 'ORCA' or software == 'Gaussian' %}
<script>
	function refresh_theory_options() {
		let theory = document.getElementById("calc_theory_level").value;
		$.ajax({
			method: "POST",	 	 
			url: "/get_theory_details/",
			headers: {
				"X-CSRFToken": '{{ csrf_token }}',
			},
			data: {'theory': theory, 'software': "{{ software }}"},

			success: function(data, textStatus, xhr) {
				$("#theory_options").html(data);	
			}
		});
	}
	refresh_theory_options();
</script>
<div>
	<div class="field">
		<label class="label">Theory Level</label>
		<div class="control" >
			<div class="select">
				<select name="calc_theory_level" id="calc_theory_level" onchange="refresh_theory_options();">
					<option>Semi-empirical</option>
					<option>HF</option>
					<option>DFT</option>
					{% if software == 'ORCA' %}
					<option>RI-MP2</option>
					{% endif %}				
				</select>
			</div>
		</div>
	</div>
	<div id="theory_options">
	</div>
</div>

{% endif %}
