{% extends 'frontend/base.html' %}
{% load i18n %}
{% load static %}

{% block extrahead %}
<title>Launch a calculation</title>
<style>
    .modal-card {
        width: 60vw;
        max-height: 95vh;
    }
    .close_btn {
        float: right;
        color: lightgray;
        font-size: 24px;
        font-weight: bold;
    }
    .close_btn:hover {
        color: darkgray;
    }
    #parameters_div {
        max-width: 40em;
        margin: 0 auto;
    }
    #parameters_column {
        max-width: 50em;
        margin: 0 auto;
    }
    #main_columns {
        max-width: calc(60em + max(400px, 20vw));
        margin: 0 auto;
        margin-top: 1em;
    }
    @media screen and (max-width: 1407px) {
        #main_columns {
            display: block;
        }

    }
    @-webkit-keyframes animatetop {
        from {
            top: -300px;
            opacity: 0;
        }
        to {
            top: 0;
            opacity: 1;
        }
    }
    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0;
        }
        to {
            top: 0;
            opacity: 1;
        }
    }
    .shepherd-button {
        background: #3039E4 !important;
        margin: auto auto auto auto !important;
        width: 10em;
    }
    .shepherd-text {
        text-align: justify;
    }
    .shepherd-text > a {
        color: blue;
        text-decoration: underline;
    }
    .shepherd-content {
        padding: 1em;
    }
    .shepherd-step-highlight {
        margin: 10em;
    }
    @media screen and (min-width: 1408px) {
        #content_container {
            width: 80%;
            margin-left: 10%;
        }
    }
    #pick_bs_button {
        margin-top: 1em;
    }
    
    #editor_appletinfotablediv {
        border: 2px solid black;
    }
    .element {
        width: 2em;
        height: 2em;
    }
    .bond {
        width: 5em;
        height: 2em;
    }

    .overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.7);
      transition: opacity 500ms;
      visibility: hidden;
      opacity: 0;
      z-index: 100;
    }
    .overlay:target {
      visibility: visible;
      opacity: 1;
    }

    .popup {
      margin: 70px auto;
      padding: 20px;
      background: #fff;
      border-radius: 5px;
      width: 30%;
      position: relative;
      transition: all 5s ease-in-out;
    }

    .popup .close {
      position: absolute;
      top: 20px;
      right: 30px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none !important;
      color: #333;
    }
    .popup .close:hover {
        color: #06D85F;
    }
    .rec-method {
        width: 10em;
    }
    #sketcher_div {
        margin-top: 2em;
    }
    #sketcher {
        border: .1em solid #aaa;
    }
</style>
    <link rel="stylesheet" href="{% static 'frontend/form_style.css' %}" type="text/css">

    <script src="{% static 'frontend/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/ChemDoodleWeb.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/uis/ChemDoodleWeb-uis.js' %}"></script>
    <link rel="stylesheet" href="{% static 'frontend/uis/jquery-ui-1.11.4.css' %}" type="text/css">

    <script type="text/javascript" src="{% static 'frontend/JSmol.min.js' %}"></script>

    {% if start_tour %}
    <script type="text/javascript" src="{% static 'frontend/floating-ui.core.umd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/floating-ui.dom.umd.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/shepherd.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'frontend/shepherd.css' %}">

    <script>
        const tour = new Shepherd.Tour({
            useModalOverlay: true,
            defaultStepOptions: {
                classes: '',
                scrollTo: { behavior: 'smooth', block: 'center' },
                modalOverlayOpeningPadding: "10",
                floatingUIOptions: {  middleware: [window.FloatingUIDOM.offset({ mainAxis: 30})] }
            },
            exitOnEsc: true,
            keyboardNavigation: true,
        });

        ['complete', 'cancel'].forEach(event => Shepherd.on(event, () => {
            $.ajax({
                method: "POST",
                url: "/tour_done/",
                data: {"action": event},
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}',
                }
            });
        }));
    </script>
    {% endif %}

<script>
    function debounce(callback, wait) {
        let timeout;
        return (...args) => {
            const context = this;
            clearTimeout(timeout);
            timeout = setTimeout(() => callback.apply(context, args), wait);
        };
    }

    /* Sets atomic labels as the atomic numbers in the xyz structure */
    (function (ChemDoodle) {
        ChemDoodle.relabel = function (molecule) {
            for (let i = 0, ii = molecule.atoms.length; i < ii; i++) {
                molecule.atoms[i].altLabel = String(i + 1);
            }
        };
    })(ChemDoodle);


    /* Define the format function */
    String.prototype.format = function() {
        a = this;
        for (i=0; i < 30; i++) {
            a = a.replace("{}", arguments[0])
        }
        return a
    }
    function load_preset() { }
    function refresh_presets() { }

	function check(param) {
		val = $("#calc_" + param).val();
		data = {};
		data[param] = val;
		data['software'] = $("#calc_software").val();
		$.ajax({
			method: "POST",	 	 
			url: "/check_" + param + "/",
			data: data,
			headers: {
				"X-CSRFToken": '{{ csrf_token }}',
			},
			success: function(msg) {
				is_red = $("#calc_" + param).hasClass("is-danger");
				if(msg == "" && is_red) {
					$("#calc_" + param).removeClass("is-danger");
				}
				else if(msg != "" && !is_red){
					$("#calc_" + param).addClass("is-danger");
				}
				$("#" + param + "_check_msg").html(msg);
			},
		});

	}

    var constraint_num = 0;
    
	const allow_local_calc = {{ ALLOW_LOCAL_CALC|yesno:"true,false" }};
	const allow_remote_calc = {{ ALLOW_REMOTE_CALC|yesno:"true,false" }};
	const local_allowed_theory_levels = [{% for l in LOCAL_ALLOWED_THEORY_LEVELS %}"{{ l }}", {% endfor %}];
	const local_allowed_steps = [{% for s in LOCAL_ALLOWED_STEPS %}"{{ s }}", {% endfor %}];

	function verify_form() {
		$("#submit_button").addClass("is-loading");
		
        // Adding the selected Project to localStorage on pressing Submit Button
        choice = document.getElementById("calc_project");
        localStorage.setItem("lastSelectedProject", choice.value);

        choice = document.getElementById("calc_resource");
        localStorage.setItem("lastSelectedResource", choice.value);


        data = new FormData(document.forms.namedItem("calcform"));

		data.append("constraint_num", constraint_num);

		{% if ensemble or structures %}
		data.append("starting_ensemble", "{{ ensemble.id }}");
		{% endif %}

		{% if structures %}
		data.append("starting_structs", "{{ structures }}");
		{% endif %}

		{% if calc %}
		data.append("starting_calc", "{{ calc.id }}");
		data.append("starting_frame", {{ frame_num }});
		{% endif %}

		{% if not ensemble and not structure and not calc and is_flowchart is None %}
        // Duplicate code, should be refactored...
		if (viewer.molecules.length > 0) {
			let mol = ChemDoodle.writeMOL(viewer.getMolecule());
			data.append("structure_3D", mol);
		}
        if (viewer.molecules.length == 0 && sketcher.molecules.length > 0) {
			let mol = ChemDoodle.writeMOL(sketcher.getMolecule());

			data.append("structure", mol);
		}
		{% endif %}

		upload_aux_el = $("#aux_file_structure");
		if(upload_aux_el.length != 0) {
			num_aux_files = upload_aux_el[0].files.length;
		}
		else {
			num_aux_files = 0;
		}
		data.append("num_aux_files", num_aux_files);

        const request = new XMLHttpRequest();
        request.onload = function() {
            if(request.status == 200) {
				$("#calcform").submit();
				$("#form_error_msg").html("");
            }
            else {
		        $("#form_error_msg").html("Could not submit the calculation: " + request.response);
				$("#submit_button").removeClass("is-loading");
            }
        };

        request.open("POST", "/verify_calculation/");
        request.send(data);
	}


	function get_3D() {
		let mol = ChemDoodle.writeMOL(sketcher.getMolecule());
        document.getElementById("gen_3D_btn").classList.add("is-loading");
		$.ajax({
			method: "POST",	 	 
			url: "/gen_3D/",
			headers: {
				"X-CSRFToken": '{{ csrf_token }}',
			},

			data: {'mol': mol},
			statusCode: {
				404: function(data) {
					$("#3d_msg").html("Error while generating structure");
				},
				200: function(data) {
					$("#3d_msg").html("");
                    Jmol.script(editor, 'load inline "' + data + '"');
					let mol_read = ChemDoodle.readXYZ(data);
					ChemDoodle.relabel(mol_read);
					viewer.loadMolecule(mol_read);	
				}
			}
        }).always(function() {
            document.getElementById("gen_3D_btn").classList.remove("is-loading");
        });
	}

	function preview_upload(file_list) {
		if(file_list.length == 1 && file_list[0].type == "chemical/x-xyz") {
			var reader = new FileReader();
			reader.readAsText(file_list[0], "UTF-8");
			reader.onload = function(e) {
                let xyz = e.target.result;
                let sxyz = xyz.split('\n');
                let mol_read = null;
                if(sxyz[0].split(' ').length < 2) {
				    mol_read = ChemDoodle.readXYZ(xyz);
                }
                else {
                    let l;
                    for(l=0;l < sxyz.length; l++) {
                        if(sxyz[l].trim() == "")
                            break;
                    }
				    mol_read = ChemDoodle.readXYZ(String(l) + "\n\n" + xyz);
                }
				ChemDoodle.relabel(mol_read);
				viewer.loadMolecule(mol_read);	
			}
		}
		else if(file_list.length == 1 && file_list[0].type == "chemical/x-mdl-molfile") {
			var reader = new FileReader();
			reader.readAsText(file_list[0], "UTF-8");
			reader.onload = function(e) {
				let mol_read = ChemDoodle.readMOL(e.target.result, multiplier=1);
				ChemDoodle.relabel(mol_read);
				viewer.loadMolecule(mol_read);	
			}

		}
		else if(file_list.length == 1) {
			var reader = new FileReader();
			reader.readAsText(file_list[0], "UTF-8");
			reader.onload = function(e) {
				ext = file_list[0].name.split('.').pop();
				$.ajax({
					data: {"mol": e.target.result, "ext": ext}, 
					headers: {
						"X-CSRFToken": '{{ csrf_token }}',
					},

					type: "POST", 
					url: "/get_mol_preview/",
					statusCode: {
						200: function (response) { 
							let mol_read = ChemDoodle.readXYZ(response, multiplier=1);
							ChemDoodle.relabel(mol_read);
							viewer.loadMolecule(mol_read);	
						},
						204: function (response) { 
							$("#3d_msg").html("Could not generate preview: unsupported file format");
						},
						400: function(response) {
							$("#3d_msg").html("Could not generate preview: the file is too large");
						}
					}
				});

			}
		}
	}

	{% if ensemble or structure %}
	let ensemble = true;
	{% else %}
	let ensemble = false;
	{% endif %}

    {% include "frontend/form/availability.js" %}
    {% include "frontend/form/input_widgets_head.js" %}
</script>
{% block launchhead %}{% endblock %}
{% endblock %}

{% block content %}
{% block formblock %}{% endblock %}
<script>
	$('#calcform').submit(function(){
		$('<input />').attr('type', 'hidden')
			.attr('name', "constraint_num")
			.attr('value', constraint_num)
			.appendTo(this);

		{% if ensemble or structures %}
		$('<input />').attr('type', 'hidden')
			.attr('name', "starting_ensemble")
			.attr('value', "{{ ensemble.id }}")
			.appendTo(this);
		{% endif %}

		{% if structures %}
		$('<input />').attr('type', 'hidden')
			.attr('name', "starting_structs")
			.attr('value', "{{ structures }}")
			.appendTo(this);
		{% endif %}

		{% if calc %}
		$('<input />').attr('type', 'hidden')
			.attr('name', "starting_calc")
			.attr('value', "{{ calc.id }}")
			.appendTo(this);
		$('<input />').attr('type', 'hidden')
			.attr('name', "starting_frame")
			.attr('value', {{ frame_num }})
			.appendTo(this);
		{% endif %}

		{% if not ensemble and not structure and not calc %}
		if (viewer.molecules.length > 0) {
			let mol = ChemDoodle.writeMOL(viewer.getMolecule());

			$('<input />').attr('type', 'hidden')
				.attr('name', "structure_3D").val(mol).appendTo("#calcform");
		}
        if (viewer.molecules.length == 0 && sketcher.molecules.length > 0) {
			let mol = ChemDoodle.writeMOL(sketcher.getMolecule());

			$('<input />').attr('type', 'hidden')
				.attr('name', "structure").val(mol).appendTo("#calcform");
		}
		{% endif %}

	});

$( document ).ready(function() {
	{% if not ensemble and not structure and is_flowchart is None and not is_batch %}
	preselect_last_project();
	set_availables($("#parameters_div"));
	project_selection_changed(document.getElementById("calc_project"));
	{% endif %}

	refresh_presets();

	refresh_availabilities($("#parameters_div"), $("#parameters_div"), false);

    $('#parameters_div').find("input, select").on("change", function() {
	    refresh_availabilities($("#parameters_div"), $("#parameters_div"), false);
    });


	{% if proj %}
	proj = document.getElementById("calc_project");
	proj.value = "{{ proj.name }}";
    project_selection_changed(proj);
	{% endif %}

	{% if init_params_id %}
		$.ajax({
			method: "POST",
			url: "/load_params/{{ init_params_id }}",
			headers: {
				"X-CSRFToken": '{{ csrf_token }}',
			},
			success: function(data) {
				eval(data);
				refresh_availabilities($("#parameters_div"));
				$('#calc_software').data('software', $("#calc_software").val());
				refresh_availabilities($("#parameters_div"));//Whatever

			},
		});
	{% endif %}
	{% if resource %}
	resource = document.getElementById("calc_resource");
	resource.value = "{{ resource }}";
	{% endif %}
	{% if ensemble and not structure %}
		$("#calc_project").val("{{ ensemble.parent_molecule.project.name }}");
		$.ajax({
			method: "POST",
			url: "/get_structure/",
			headers: {
				"X-CSRFToken": '{{ csrf_token }}',
			},

			data: {'id': "{{ ensemble.id }}", 'num': 1},
			success: function(data, textStatus, xhr) {
				let mol_read = ChemDoodle.readXYZ(data);
				ChemDoodle.relabel(mol_read);
				viewer.loadMolecule(mol_read);
			}
		});

	{% endif %}

	{% if structure %}
		$("#calc_project").val("{{ structure.parent_ensemble.parent_molecule.project.name }}");
		let mol_read = ChemDoodle.readXYZ(`{{ structure.xyz_structure }}`);
		ChemDoodle.relabel(mol_read);
		viewer.loadMolecule(mol_read);
	{% endif %}
	{% if calc %}
		$("#calc_project").val("{{ calc.order.project.name }}");
		$.ajax({
			method: "POST",
			url: "/get_calc_frame/{{ calc.id }}/{{ frame_num }}",
			headers: {
				"X-CSRFToken": '{{ csrf_token }}',
			},
			success: function(data) {
				let mol_read = ChemDoodle.readXYZ(data);
				ChemDoodle.relabel(mol_read);
				viewer.loadMolecule(mol_read);
				$('#calc_software').data('software', $("#calc_software").val());

			},
		});
	{% endif %}
	project_selection_changed(document.getElementById("calc_project"));

    if(!local_allowed_theory_levels.includes("ALL")) {
        full_options = document.querySelector("#calc_theory_level").querySelectorAll("option");
        full_options.forEach(element => {
            if(!local_allowed_theory_levels.includes(element.value)) {
                element.disabled = true;
            }

        });
    }

    if(!local_allowed_steps.includes("ALL")) {
        full_options = document.querySelector("#calc_type").querySelectorAll("option");
        full_options.forEach(element => {
            if(!local_allowed_steps.includes(element.value)) {
                element.disabled = true;
            }

        });
    }
    checkbox_deriv = document.getElementsByName("calc_gen_derivatives")[0]
    if(checkbox_deriv != null)
        calc_deriv_changed(checkbox_deriv);
});

var modalBtnBs = document.getElementById("pick_bs_button");
var modalBs = document.querySelector(".pick_bs_div");
var closeBtnBs = document.querySelector(".close_bs");
if(modalBtnBs) {
    modalBtnBs.onclick = function(){
        div = $("#custom_bs_body");
        if (div.html().replace(/^\s+|\s+$/g, '') == ""){
            $("#custom_bs_body").load("/periodictable/");
        }
        modalBs.style.display = "block";
    }
    closeBtnBs.onclick = function(){
        modalBs.style.display = "none";
        print_output_bs();
    }
}


function print_output_bs() {
	output = document.getElementById("calc_custom_bs");
	tmp_output = document.getElementById("custom_bs");

	output.value = tmp_output.value;
}

window.onclick = function(e){
	if(e.target == modalBs){
		modalBs.style.display = "none";
		print_output_bs();
	}
}


$('#calc_software').change(function(e){
	var software = $(this).data('software');

	$('#calc_specifications').data(software, $('#calc_specifications').val());
	$('#calc_specifications').val($('#calc_specifications').data($(this).val()));

	$(this).data('software', $(this).val());
})

add_constraint(true);

{% if not ensemble and not structure and not calc and is_flowchart is None and not is_batch %}
	let upload_el = document.getElementById("file_structure");
    if(upload_el) 
	    upload_el.addEventListener("change", file_upload_changed, false);
{% endif %}

let aux_upload_el = document.getElementById("aux_file_structure");
if(aux_upload_el) 
    aux_upload_el.addEventListener("change", aux_file_upload_changed, false);

$("#calc_functional").on('input', debounce(function() {check("functional")}, 250));
$("#calc_basis_set").on('input', debounce(function() {check("basis_set")}, 250));
$("#calc_solvent").on('input', debounce(function() {check("solvent")}, 250));

    function _add_step(id, text, el, pos) {
        tour.addStep({
            id: id,
            text: text,
            attachTo: {
                element: el,
                on: pos
            },
            buttons: [
                {
                    text: 'Back',
                    action: tour.back
                },
                {
                    text: 'Next',
                    action: tour.next
                }
            ]
        });
    }
    {% include "frontend/form/edit_structure_appendix.js" %}
</script>
{% block appendix %}
{% endblock %}
{% endblock %}
