{% extends 'frontend/base.html' %} {% load static %} {% block extrahead %}
<title>Learn quantum chemistry</title>
<meta name="description" content="Learning material showcasing useful quantum chemistry procedures and example applications to organic reactions.">

<script src="{% static 'frontend/jquery.min.js' %}"></script>

<script>
    document.addEventListener("DOMContentLoaded", (event) => {
        document.querySelectorAll("sh code").forEach((block) => {
            hljs.highlightBlock(block);
        });
    });
</script>
<style>
    p {
        white-space: pre-line;
    }

    .title {
        margin-top: 50px;
        margin-bottom: 20px;
    }
    sh {
        white-space: pre-line;
        border: 1px solid #ddd;
        color: #666;
        font-size: 15px;
        line-height: 1.6;
        margin-top: 1.6em;
        margin-bottom: 1.6em;
        max-width: 100%;
        padding: 1em 1.5em;
        display: block;
    }
    codetitle {
        font-weight: bold;
        text-align: center;
    }
    h1 {
        text-align: center;
    }
    #toc {
        list-style-type: none;
    }
    li > a,
    p > a {
        color: green;
    }
    .content {
        width: 50%;
        margin: 0 auto;
        max-width: 40em;
    }

    .learn-item {
        text-align: center;
        padding: 5px;
        font-weight: bold; 
    }
</style>
{% endblock %} {% block content %}
<div class="content">
    <h1 class="title is-1">Learn</h1>

    <ul data-toc=".content" data-toc-headings="h2,h3,h4,h5" id="toc"></ul>

    <h3 class="title is-3">Best practices</h3>
    <div>
        <ul>
            <a class="learn-item box has-background-warning" href="/learn/conformational_search">Conformational sampling</a>
        </ul>
    </div>
    {% if not IS_CLOUD %}
    <h4 class="title is-4">Examples</h4>
    <div>
        <b>This example is outdated and will be replaced by better educational content soon</b>
        {% for ex in examples %}
        <a class="box learn-item" href="/learn/example/{{ ex.id }}"> {{ ex.title }} </a>
        {% endfor %}
    </div>

    <h4 class="title is-4">Recipes</h4>
    <div>
        {% for r in recipes %}
        <a class="box learn-item" href="/learn/recipe/{{ r.id }}"> {{ r.title }} </a>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
