{% if latest_frontend %}
<div class="grid">
    {% for calculation in latest_frontend %}
	<a href="{% url 'frontend:details' calculation.id %}">
		<article class="grid-item message" {% if calculation.unseen %}{% if calculation.status == 2 or calculation.status == 3 %}style="border: 5px solid yellow"{% endif %}{% endif %}>
			<div class="message-header {% if calculation.status == 1 %} has-background-warning {% elif calculation.status == 2 %} has-background-success {% elif calculation.status == 3 %} has-background-danger{% endif %}">
				{{ calculation.id }}
{% if calculation.status == 1 %} <i class="fas fa-spinner"></i> {% elif calculation.status == 2 %} 
<i class="fas fa-check"></i>{% elif calculation.status == 3 %} <i class="fas fa-times"></i>{% endif %}
			</div>
			<div class"message-body">
				<center>
					<img src="/icon/{{ calculation.id }}" width="200px">
					<strong>{{ calculation.name }}</strong> <br />
					{{ calculation.procedure.name }}
				</center>
			</div>
		</article>
	</a>
    {% endfor %}
</div>
{% else %}
    <p>No calculation found</p>
{% endif %}

