{% extends 'frontend/base.html' %}

{% load i18n bulma_tags %}
{% load static %}

{% block extrahead %}
	<title>CalcUS - Manage PI Requests</title>
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script charset="utf-8">
	function refresh_requests_table() {
		$("#requests_table").load("/get_pi_requests_table");
	}

	$(document).ready(function() {
    		refresh_requests_table();
	});

	function accept(r_id) {
		$.ajax({
			method: "GET",	 	 
			url: "/accept_pi_request/" + r_id,
			success: function(data, textStatus, xhr) {
				if (xhr.status != 204) {
					refresh_requests_table();
					refresh_pi_requests_notification();

				}
			}
		});

	}
	function deny(r_id) {
		$.ajax({
			method: "GET",	 	 
			url: "/deny_pi_request/" + r_id,
			success: function(data, textStatus, xhr) {
				if (xhr.status != 204) {
					refresh_requests_table();
					refresh_pi_requests_notification();
				}
			}
		});

	}

</script>
{% endblock %}

{% block content %}
{% csrf_token %}

<div class="box" id="requests_table">
</div>
{% endblock content %}
