{% extends 'frontend/base.html' %}

{% load i18n bulma_tags %}
{% load static %}

{% block extrahead %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

	<script>
		function test_access() {
			$.ajax({
				type: "POST",
				url: "/test_access/",
				headers:{
					"X-CSRFToken": '{{ csrf_token }}',
				},
				data: {'access_id': {{ access.id }}}, 
				success: function(data)
				{
					let id = data;
					var my_refresh = setInterval(function() {

					$.ajax({
						type: "POST",
						url: "/get_command_status/",
						data: {'command_id': id}, 
						headers:{
							"X-CSRFToken": '{{ csrf_token }}',
						},

						success: function(data)
						{
							$("#test_msg").html(data);
							if (data != "Pending") {
								clearInterval(my_refresh);
							}
						}
					});
		 			 
			 		}, 1000);

				}
			});

		}

	</script>
{% endblock %}
{% block content %}
{% csrf_token %}

<div class="columns">
	<div class="column">
		<div class="box">
		<table class="table">
			<tbody>
				<tr>
					<th>Cluster address</th>
					<td>{{ access.cluster_address }}</td>
				</tr>
				<tr>
					<th>Username</th>
					<td>{{ access.cluster_username }}</td>
				</tr>
				<tr>
					<th>CPU</th>
					<td>{{ access.pal }}</td>
				</tr>
				<tr>
					<th>Memory (MB)</th>
					<td>{{ access.memory }}</td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>

	<div class="column">
		<div class="box">
			<button class="button is-primary" onclick="test_access();">Test this access</button>
			<br />
			<a class="button is-danger" href="/delete_access/{{ access.id }}">Delete this access</a>
			<br />
			<div id="test_msg">
			</div>
		</div>
	</div>
</div>



{% endblock content %}
