{% extends 'frontend/base.html' %} {% load static %} {% block extrahead %}
<title>CalcUS - {{ molecule.name }}</title>
<link rel="stylesheet" href="{% static 'frontend/ChemDoodleWeb.css' %}" type="text/css" />
<script type="text/javascript" src="{% static 'frontend/ChemDoodleWeb.js' %}"></script>
<link rel="stylesheet" href="{% static 'frontend/uis/jquery-ui-1.11.4.css' %}" type="text/css" />
<script src="{% static 'frontend/jquery.min.js' %}"></script>

<script type="text/javascript" src="{% static 'frontend/uis/ChemDoodleWeb-uis.js' %}"></script>

<script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>

<script src="https://unpkg.com/dagre@0.8.2/dist/dagre.js"></script>
<script src="{% static 'frontend/cytoscape-dagre.js' %}"></script>
<style>
    #ensembles_graph {
        height: 400px;
        width: 90%;
    }

    .hscroll {
        overflow-x: auto;
    }
</style>
<script>
    function refresh_ensemble_table() {
        $.ajax({
            method: "GET",
            url: "/ensemble_table_body/{{ molecule.id }}",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}",
            },
            success: function (data) {
                $("#ensemble_table_body").html(data);
            },
        });
    }
    function refresh_map() {
        $.ajax({
            method: "GET",
            url: "/ensemble_map/{{ molecule.id }}",
            headers: {
                "X-CSRFToken": "{{ csrf_token }}",
            },
            success: function (data) {
        
                console.log('{{molecule.id}}' + data)

                var cy = (window.cy = cytoscape({
                    container: document.getElementById("ensembles_graph"),
                    boxSelectionEnabled: false,
                    autounselectify: true,
                    wheelSensitivity: 0.1,
                    layout: {
                        name: "dagre",
                    },
                    style: [
                        {
                            selector: "node",
                            style: {
                                "background-color": "data(color)",
                                shape: "round-rectangle",
                                label: "data(label)",
                                "text-valign": "center",
                                "text-halign": "center",
                                "font-size": "10px",
                                width: "label",
                                padding: "5px",
                                "border-width": "data(bwidth)",
                                "border-color": "data(bcolor)",
                            },
                        },

                        {
                            selector: "edge",
                            style: {
                                width: 4,
                                "target-arrow-shape": "triangle",
                                "line-color": "#000000",
                                "target-arrow-color": "#000000",
                                "curve-style": "bezier",
                            },
                        },
                    ],
                    elements: JSON.parse(data),
                }));
                cy.on("tap", "node", function () {
                    //try {
                    //	window.open( this.data('href') );
                    //} catch(e){
                    window.location.href = this.data("href");
                    //}
                });
            },
        });
    }

    window.addEventListener("DOMContentLoaded", function () {
        refresh_ensemble_table();
        refresh_map();
    });
</script>
{% endblock %} {% block content %}
<script>
    function selectText(node) {
        node = document.getElementById(node);

        if (document.body.createTextRange) {
            const range = document.body.createTextRange();
            range.moveToElementText(node);
            range.select();
        } else if (window.getSelection) {
            const selection = window.getSelection();
            const range = document.createRange();
            range.selectNodeContents(node);
            selection.removeAllRanges();
            selection.addRange(range);
        } else {
            console.warn("Could not select text in node: Unsupported browser.");
        }
    }
    function edit_field(e_id) {
        el = document.getElementById("e_name_" + e_id);
        if (el.getAttribute("contentEditable") == "true") {
            el.setAttribute("contentEditable", "false");
            $("#icon_" + e_id).removeClass("fa-check");
            $("#icon_" + e_id).addClass("fa-edit");
            name = el.textContent;
            $.ajax({
                method: "POST",
                url: "/rename_ensemble/",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                },
                data: {
                    id: e_id,
                    new_name: name,
                },
                success: function () {
                    refresh_map();
                },
            });
        } else {
            el.setAttribute("contentEditable", "true");
            $("#icon_" + e_id).removeClass("fa-edit");
            $("#icon_" + e_id).addClass("fa-check");
            selectText("e_name_" + e_id);
            $("[contenteditable=true]").on("keypress", function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    edit_field(e_id);
                }
            });
        }
    }

    let num = 1;
    let conf_number = 1;
    var curr_p = 0;

    $.ajaxSetup({
        cache: false,
    });
    $(document).ready(function () {
        var my_refresh = setInterval(function () {
            $.ajax({
                method: "POST",
                url: "/get_structure/",
                headers: {
                    "X-CSRFToken": "{{ csrf_token }}",
                },
                data: {
                    id: "{{ molecule.ensemble_set.first.id }}",
                    num: 1,
                },
                success: function (data, textStatus, xhr) {
                    if (xhr.status != 204) {
                        let mol = ChemDoodle.readXYZ(data);

                        clearInterval(my_refresh);
                        editor.loadMolecule(mol);
                    }
                },
            });
        }, 1000);
    });

    function del(e_id) {
        Bulma().alert({
            type: 'danger',
            title: 'Confirm deletion',
            body: 'Delete the ensemble?',
            confirm: {
                label: "Delete",
                onClick: function () {
                    $.ajax({
                        method: "POST",
                        url: "/delete_ensemble/",
                        headers: {
                            "X-CSRFToken": "{{ csrf_token }}",
                        },
                        data: {
                            id: e_id,
                        },
                        success: function () {
                            setTimeout(refresh_map(), 1000);
                            refresh_ensemble_table();
                        },
                    });
                }
            },
            cancel: {
                label: "Cancel"
            }
        });
    }
</script>

<div class="container">
    <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
        <ul>
            <li>
                <a href="/projects/">Projects</a>
            </li>
            <li>
                <a href="/projects/{{ molecule.project.author.id }}">{{ molecule.project.author.name }}</a>
            </li>
            <li>
                <a href="/projects/{{ molecule.project.author.id }}/{{ molecule.project.name }}">
                    {{molecule.project.name }}</a>
            </li>
            <li class="is-active">
                <a aria-current="page" href="#">{{ molecule.name }}</a>
            </li>
        </ul>
    </nav>
    <div class="box">
        <center>
            <h3 class="title is-3">Preview of {{ molecule.name }}</h3>
        </center>
        <div class="columns">
            <div class="column is-narrow">
                <center>
                    <script>
                        let editor = new ChemDoodle.EditorCanvas3D("editor", 200, 200, {
                            useServices: false,
                        });
                        editor.styles.set3DRepresentation("Stick");
                        editor.styles.backgroundColor = "#FFFFFF";
                        editor.oneMolecule = false;
                    </script>
                </center>
            </div>
            <div class="column">
                <div class="hscroll">
                    <br />
                    <center>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Ensemble</th>
                                    <th>Unique methods</th>
                                    <th>Unique calculations</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="ensemble_table_body"></tbody>
                        </table>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <center>
            <h3 class="title is-3">Ensemble Map</h3>
        </center>

        <div id="ensembles_graph"></div>
    </div>

    {% endblock %}
</div>