{% if reqs.count > 0 %}	
	<table class="table">
		<thead>
			<tr>
				<th colspan="2">Actions</th>
				<th>Name of requester</th>
				<th>Group name</th>
				<th>Request date</th>
			</tr>
		</thead>
		<tbody>
			{% for req in reqs %}
				<tr>
					<td><button class="button is-success" onclick="accept({{ req.id }});">Accept</button>
						<td><button class="button is-danger" onclick="deny({{ req.id }});">Deny</button>
					<td>{{ req.issuer.username }}</td>
					<td>{{ req.group_name }}</td>
					<td>{{ req.date_issued }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	There are currently no pending requests.
{% endif %}

