{% extends 'frontend/base.html' %} 
{% load static %} 

{% block extrahead %}
<title>Pricing of Cloud-based Quantum Chemistry</title>
<meta name="description" content="CalcUS Cloud offers affordable access to a computational chemistry web platform leveraging cloud computing. It provides access to quantum chemistry software in order to promote education, self-learning and research."> 

<script src="{% static 'frontend/jquery.min.js' %}"></script>

<script src="https://js.stripe.com/v3/"></script>
<script>
    fetch("/stripe_config/")
        .then((result) => { return result.json(); })
        .then((data) => {
        const stripe = Stripe(data.publicKey);
    });
    function length_changed(el) {
        if(el.checked) {
            $(".monthly").each(function(ind, el) {
                $(el).hide();
            });
            $(".yearly").each(function(ind, el) {
                $(el).show();
            });
        }
        else {
            $(".yearly").each(function(ind, el) {
                $(el).hide();
            });
            $(".monthly").each(function(ind, el) {
                $(el).show();
            });
        }
    }
</script>
<style>
    #pricing-table-div {
        max-width: 90em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4em;
        margin-bottom: 6em;
    }
    .sub_btn {
        margin-bottom: 1.5em;
    }

    #free_msg {
        font-size: 0.8em;
        margin-top: 0.3em;
    }
    #time_note {
        font-size: 0.8em;
        margin-top: 0.3em;
    }
    .pricing-plan {
        max-width: 16em;
    }
    .plan-desc {
        font-weight: bold;
    }
    #discount_strike {
        margin-right: 0.2em;
    }

    strike {
        text-decoration: none;
        position: relative;
    }

    strike::before {
        top: 40%;
        background: red;
        width: 110%;
        transform: rotate(-15deg);
        position: absolute;
        opacity: .6;
        content: '';
        height: .3rem;
        border-radius: .2rem;
        left: -8%;
        white-space: nowrap;
        display: block;
    }
    strike.straight::before {
        transform: rotate(0deg);
        left: -1%;
        width: 102%;
    }
    .fa-check {
        color: #00a759ff;
    }
    .title {
        text-align: center;
        margin-top: 1.5em;
        margin-bottom: 0.5em;
    }
    .details {
        max-width: 40%;
        min-width: 28em;
        margin: 0 auto;
        font-size: 16pt;
        text-align: center;
    }
    .details > a {
        color: blue;
    }
    #sub_length_div {
        text-align: center;
    }
    #sub_length_div > label {
        font-size: 1.5em;
        margin-bottom: 0.5em;
    }
    #sub_monthly_label {
        margin-right: 0.3em;
    }
    @media screen and (min-width: 1408px) {
        .main_content {
            width: 84% !important;
            margin: 0 auto !important;
        }
    }
    @media screen and (min-width: 1024px) and (max-width: 1407px) {
        .main_content {
            width: 96% !important;
            margin: 0 auto !important;
        }
    }
    @media screen and (max-width: 1023px) {
        .main_content {
            width: 98%;
            flex: 1;
            margin: 0 auto;
        }
    }

    .content {
        width: 100%;
        flex: 1;
        margin: 0 auto;
    }
    .button {
        justify-content: center !important;
    }
</style>

{% endblock %} 

{% block content %}
<div class="content">
    <h1 class="title is-1">Unlock the Potential of Quantum Chemistry</h1>
    <div id="pricing-table-div">
        <div class="field" id="sub_length_div">
            <label id="sub_monthly_label">Monthly</label>
            <input id="sub_length_switch" type="checkbox" class="switch is-large is-success is-rounded" onchange="length_changed(this);">
            <label for="sub_length_switch">Yearly</label>
        </div>
        <div class="pricing-table is-comparative">
            <div class="pricing-plan is-features">
                <div class="plan-header">Features</div>
                <div class="plan-price"><span class="plan-price-amount">&nbsp;</span></div>
                <div class="plan-items">
                    <div class="plan-item plan-desc">xTB calculations</div>
                    <div class="plan-item plan-desc">Monthly calculation time</div>
                    <div class="plan-item plan-desc">Maximum calculation runtime</div>
                    <div class="plan-item plan-desc">Create groups and classes</div>
                </div>
                <div class="plan-footer">
                </div>
            </div>
            <div class="pricing-plan is-info">
                <div class="plan-header">Free</div>
                <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span>0</span>/month</div>
                <div class="plan-items">
                    <div class="plan-item"><i class="fas fa-solid fa-check fa-lg"></i></div>
                    <div class="plan-item"><b>1 CPU-hour</b></div>
                    <div class="plan-item">15 minutes</div>
                    <div class="plan-item"><i class="fas fa-solid fa-times fa-lg"></i></div>
                </div>
                <div class="plan-footer">
                    <a class="button is-fullwidth is-info" href="/register/"{% if not request.user.is_anonymous and not request.user.is_temporary %}disabled="disabled"{% endif %}>Register</a>
                    <em id="free_msg">No credit card required</em>
                </div>
            </div>
            <div class="pricing-plan is-success is-active monthly">
                <div class="plan-header">Researcher</div>
                <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span><strike id="discount_strike"><span class="plan-price-amount plan-regular-price">29</span></strike>19</span>/month</div>
                <div class="plan-items">
                    <div class="plan-item"><i class="fas fa-solid fa-check fa-lg"></i></div>
                    <div class="plan-item"><b>60 CPU-hours*</b></div>
                    <div class="plan-item"><b>6 hours</b></div>
                    <div class="plan-item"><i class="fas fa-solid fa-check fa-lg"></i></div>
                </div>
                <div class="plan-footer">
                    <form action="/checkout/" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="priceId" value="{{ SUBSCRIPTION_DATA.researcher.monthly }}">
                        <button class="button is-primary is-fullwidth" type="submit" id="subscribe_researcher_btn_month">Subscribe</button>
                    </form>
                    <em id="time_note">*additional time available</em>
                </div>
            </div>
            <div class="pricing-plan is-success is-active yearly" style="display: none;">
                <div class="plan-header">Researcher</div>
                <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span><strike id="discount_strike"><span class="plan-price-amount plan-regular-price">290</span></strike>190</span>/year</div>
                <div class="plan-items">
                    <div class="plan-item"><i class="fas fa-solid fa-check fa-lg"></i></div>
                    <div class="plan-item"><b>60 CPU-hours*</b></div>
                    <div class="plan-item"><b>6 hours</b></div>
                    <div class="plan-item"><i class="fas fa-solid fa-check fa-lg"></i></div>
                </div>
                <div class="plan-footer">
                    <form action="/checkout/" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="priceId" value="{{ SUBSCRIPTION_DATA.researcher.yearly }}">
                        <button class="button is-primary is-fullwidth" type="submit" id="subscribe_researcher_btn_year">Subscribe</button>
                    </form>
                    <em id="time_note">*additional time available</em>
                </div>
            </div>

            <div class="pricing-plan is-danger monthly">
                <div class="plan-header">Team</div>
                <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span><strike id="discount_strike"><span class="plan-price-amount plan-regular-price">199</span></strike>149</span>/month</div>
                <div class="plan-items">
                    <div class="plan-item"><i class="fas fa-solid fa-check fa-lg"></i></div>
                    <div class="plan-item"><b>500 CPU-hours*</b></div>
                    <div class="plan-item"><b>12 hours</b></div>
                    <div class="plan-item"><i class="fas fa-solid fa-check fa-lg"></i></div>
                </div>
                <div class="plan-footer">
                    <form action="/checkout/" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="priceId" value="{{ SUBSCRIPTION_DATA.team.monthly }}">
                        <button class="button is-primary is-fullwidth" type="submit" id="subscribe_team_btn_month">Subscribe</button>
                    </form>
                    <em id="time_note">*additional time available</em>
                </div>
            </div>
            <div class="pricing-plan is-danger yearly" style="display: none;">
                <div class="plan-header">Team</div>
                <div class="plan-price"><span class="plan-price-amount"><span class="plan-price-currency">$</span><strike id="discount_strike"><span class="plan-price-amount plan-regular-price">1950</span></strike>1450</span>/year</div>
                <div class="plan-items">
                    <div class="plan-item"><i class="fas fa-solid fa-check fa-lg"></i></div>
                    <div class="plan-item"><b>500 CPU-hours*</b></div>
                    <div class="plan-item"><b>12 hours</b></div>
                    <div class="plan-item"><i class="fas fa-solid fa-check fa-lg"></i></div>
                </div>
                <div class="plan-footer">
                    <form action="/checkout/" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="priceId" value="{{ SUBSCRIPTION_DATA.team.yearly }}">
                        <button class="button is-primary is-fullwidth" type="submit" id="subscribe_team_btn_year">Subscribe</button>
                    </form>
                    <em id="time_note">*additional time available</em>
                </div>
            </div>
            <div class="pricing-plan is-warning yearly monthly">
                <div class="plan-header">Organisation</div>
                <div class="plan-price"><span class="plan-price-amount"><a href="mailto:contact@calcus.cloud">Contact us</a></span></div>
                <div class="plan-items">
                    <div class="plan-item"><i class="fas fa-solid fa-check fa-lg"></i></div>
                    <div class="plan-item">According to needs</div>
                    <div class="plan-item">According to needs</div>
                    <div class="plan-item"><i class="fas fa-solid fa-check fa-lg"></i></div>
                </div>
                <div class="plan-footer">
                    <form>
                        <a class="button is-primary is-fullwidth" href="mailto:contact@calcus.cloud">Contact us</a>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <h3 class="title is-3">Try Risk-free</h3>
    <div class="details">
        If you are not <b>entirely satisfied</b> with your CalcUS Cloud subscription, we will refund you <em>the full price up</em> to 14 days after your purchase, simply <a href="mailto:contact@calcus.cloud">send us an email</a>. After that, you can still <b>cancel anytime you want</b>.
    <div/>

    <h3 class="title is-3">Advantageous yearly plans</h3>
    <div class="details">
        Get 2 months free per year when you subscribe for a yearly subscription instead of a monthly subscription.
    <div/>

    <h3 class="title is-3">Organisational subscriptions</h3>
    <div class="details">
        Want to get access for your entire organisation with a custom plan satisfying your specific needs? <a href="mailto:contact@calcus.cloud">Get in touch with us!</a>
    <div/>
</div>
{% endblock %}
