{% extends 'frontend/base.html' %}

{% load i18n bulma_tags %}
{% load static %}

{% block extrahead %}
	<title>CalcUS - Profile</title>
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

	<script charset="utf-8">
		$(document).ready(function() {
			$("#owned_accesses").load("/owned_accesses/")
    			refresh_groups();
		});

		function update_pref() {
			$.ajax({
				type: 'POST',
				url: "/update_preferences/",
				headers: {
					"X-CSRFToken": '{{ csrf_token }}',
				},
				data: $("#pref_form").serialize(), 
				success: function(response) { 
					$("#pref_msg_box").html("Updated!");	
				},
			});
		}

		function add_user(group_id) {
			let username = $("#user_to_add").val();
			let code = $("#code").val();
			$.ajax({
				method: "POST",	 	 
				url: "/add_user/",
				headers: {
					"X-CSRFToken": '{{ csrf_token }}',
				},

				data: {'username': username, 'group_id': group_id, 'code': code},
				success: function(data, textStatus, xhr) {
					if (xhr.status != 204) {
						refresh_groups();
					}

				}
		  
			});

		}

		function remove_user(group_id, member_id) {
			$.ajax({
				method: "POST",	 	 
				url: "/remove_user/",
				headers: {
					"X-CSRFToken": '{{ csrf_token }}',
				},

				data: {'member_id': member_id, 'group_id': group_id},
				success: function(data, textStatus, xhr) {
					if (xhr.status != 204) {
						refresh_groups();
					}

				}
		  
			});

		}

		function refresh_groups() {
			$("#groups_div").load("/profile_groups/");
		}
	</script>
	<style>
		.container {
			width: 80%;
		}
	</style>


{% endblock %}
{% block content %}
{% csrf_token %}

<div class="container">
	<br>
	<div class="box">
		<h5 class="title is-5">Preferences</h5>
		<form onsubmit="update_pref(); return false;" id="pref_form">
			{% csrf_token %}
			<div class="field">
				<label class="label">Units</label>
				<div class="control">
					<div class="select">
					 	<select name="pref_units" id="pref_units">
							<option {% if profile.pref_units == 0 %}selected="selected"{% endif %} value="kJ/mol">kJ/mol</option>
					    		<option {% if profile.pref_units == 1 %}selected="selected"{% endif %} value="kcal/mol">kcal/mol</option>
					    		<option {% if profile.pref_units == 2 %}selected="selected"{% endif %} value="Ha">Ha</option>
					  	</select>
					</div>
				</div>
			</div>
			<div class="field">
				<label class="label">Default options for Gaussian</label>
				<input type="text" value="{{ profile.default_gaussian }}" name="default_gaussian">
			</div>
			<div class="field">
				<label class="label">Default options for ORCA</label>
				<input type="text" value="{{ profile.default_orca }}" name="default_orca">
			</div>

			<div class="field">
				<div class="control">
					<button class="button is-primary" id="submit_button">Update</button>
				</div>
			</div>
		</form>
		<div id="pref_msg_box">
		</div>
	</div>
	<br>

	{% if not profile.is_PI %}
	<div class="box">
		<div class="columns is-vcentered">
			<div class="column is-4">
				<form action="/apply_pi/" method="POST">
					{% csrf_token %}
					<div class="field">
						<div class="control">
							<label class="label">Group name</label>
							<input type="text" name="group_name"></input>
						</div>
					</div>
					<button class="button is-primary">Apply for a PI account</button>
				</form>
			</div>

			<div class="column">
				Your account will have to be approved by the administrator before you are able to launch calculations.	
			</div>
		</div>
	</div>
	{% endif %}
	<div class="box">
		<div class="columns">
			<div class="column is-narrow has-text-centered">
				<h5 class="title is-5">Add new cluster access</h5>
				<form class="form" id="add_clusteraccess_form" method="post">
					{% csrf_token %}

					<div class="field">
						<label class="label">Cluster Address</label>
						<div class="control">
							<input class="input" name="cluster_address" type="text" required>
						</div>
					</div>
					<div class="field">
						<label class="label">Username</label>
						<div class="control">
							<input class="input" name="cluster_username" type="text" required>
						</div>
					</div>
					<div class="field">
						<label class="label">Cores</label>
						<div class="control">
							<input class="input" name="cluster_cores" type="number" value="8" min="1" max="64" required>
						</div>
					</div>
					<div class="field">
						<label class="label">Memory (MB)</label>
						<div class="control">
							<input class="input" name="cluster_memory" type="number" value="15000" min="2000" step="1000" required>
						</div>
					</div>
					<div class="field">
						<label class="label">Password for Access</label>
						<div class="control">
							<input class="input" name="cluster_password" type="password" required>
						</div>
					</div>

					<div class="field">
						<div class="control has-text-centered">
							<button class="button is-primary" id="add_access_button">Submit</button>
						</div>
					</div>
				</form>
				<div class="control is-hidden" id="public_key_div">
					<label class="label">Public Key (add this to your allowed keys!)</label>
					<textarea class="textarea" id="public_key_area" readonly></textarea>
				</div>

			</div>
			<div class="column has-text-centered">
				<h5 class="title is-5">Owned accesses</h5>
				<div id="owned_accesses">
					
				</div>
			</div>
		</div>
	</div>

	<div class="box">
		<center>
			<h5 class="title is-5">Group</h5>
		</center>
		<div id="groups_div">
		</div>
	</div>
	<div class="box">
		<center>
			<h5 class="title is-5">Account</h5>
			<a class="button is-danger" href="/change_password/">Change password</a>
		</center>
	</div>

	<script>
		$("#add_clusteraccess_form").submit(function(e) {

		    e.preventDefault(); 
		    var form = $(this);

		    $.ajax({
			   type: "POST",
			   url: "/add_clusteraccess/",
			   data: form.serialize(), 
			   success: function(data)
			   {
				$("#public_key_div").removeClass('is-hidden');
				$("#public_key_area").html(data);
				$("#owned_accesses").load("/owned_accesses/")
			   }
			 });
		});

	</script>
</div>
{% endblock content %}
