{% extends 'frontend/base.html' %}

{% load static %}

{% block extrahead %}
	<link rel="stylesheet" href="{% static 'frontend/ChemDoodleWeb.css' %}" type="text/css">
	<script type="text/javascript" src="{% static 'frontend/ChemDoodleWeb.js' %}"></script>
	<link rel="stylesheet" href="{% static 'frontend/uis/jquery-ui-1.11.4.css' %}" type="text/css">
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

	<script src="https://unpkg.com/masonry-layout@4.2.0/dist/masonry.pkgd.min.js"></script>
	<style>

	</style>

{% endblock %}

{% block content %}
	<script>
		function selectText(node) {
		    	node = document.getElementById(node);

		    	if (document.body.createTextRange) {
				const range = document.body.createTextRange();
				range.moveToElementText(node);
				range.select();
		    	} else if (window.getSelection) {
				const selection = window.getSelection();
				const range = document.createRange();
				range.selectNodeContents(node);
				selection.removeAllRanges();
				selection.addRange(range);
			} else {
				console.warn("Could not select text in node: Unsupported browser.");
			}
		}
		function edit_field(proj_id) {
			el = document.getElementById("proj_name_" + proj_id);
			if (el.getAttribute("contentEditable") == "true") {
				el.setAttribute("contentEditable", "false");
				$("#icon_" + proj_id).removeClass("fa-check");
				$("#icon_" + proj_id).addClass("fa-edit");
				name = el.textContent;
				$.ajax({
					method: "POST",	 	 
					url: "/rename_project/",
					headers: {
						"X-CSRFToken": '{{ csrf_token }}',
					},
					data: {'id': proj_id, 'new_name': name}
				});

			}
			else {
				el.setAttribute("contentEditable", "true");
				$("#icon_" + proj_id).removeClass("fa-edit");
				$("#icon_" + proj_id).addClass("fa-check");
				selectText('proj_name_' + proj_id);
				$('[contenteditable=true]').on('keypress', function(e) {
					if (e.keyCode == 13) {
						e.preventDefault();
						edit_field(proj_id);
					}
				});

			}
			
		}

		function del(proj_id) {
			var res = confirm("Delete the entire project?");	
			if (res) {
				$.ajax({
					method: "POST",	 	 
					url: "/delete_project/",
					headers: {
						"X-CSRFToken": '{{ csrf_token }}',
					},
					data: {'id': proj_id},
					success: function() {
						document.getElementById("article_proj_" + proj_id).remove();	
					}
				});
			}
		}

	</script>

<div class="container">
	<nav class="breadcrumb" aria-label="breadcrumbs">
	 	<ul>
	    		<li><a href="/projects/">Projects</a></li>
			<li class="is-active"><a aria-current="page" href="#">{{ target_profile.username }}</a></li>
	  	</ul>
	</nav>

		<div id="projects_list">
			<div class="grid">
				{% if target_profile.project_set.count > 0 %}
					{% for proj in target_profile.project_set.all %}
							<article class="message grid-item is-danger" id="article_proj_{{ proj.id }}">
								<div class="message-header">
									<p id="proj_name_{{ proj.id }}">{{ proj.name }}</p>
									<div>
										<a href="/download_project_csv/{{ proj.id }}"><i class="fas fa-download"></i></a>
										<a onclick="edit_field({{ proj.id }});"><i class="fas fa-edit" id="icon_{{ mol.id}}"></i></a>
										<a onclick="del({{ proj.id }});"><i class="fas fa-trash-alt"></i></a>
									</div>
								</div>
								<a href="/projects/{{ proj.author }}/{{ proj.name }}">
									<div class="message-body" style="height: 80%;">
										<strong>Project</strong>
										<br />
									{{ proj.molecule_set.count }} Molecule(s)	
									</div>
								</a>
							</article>
					{% endfor %}
				{% else %}
					No project
				{% endif %}
			</div>
		</div>
{% endblock %}

