{% extends 'frontend/base.html' %}

{% load static %}
{% load projects_tags %}

{% block extrahead %}
	<link rel="stylesheet" href="{% static 'frontend/ChemDoodleWeb.css' %}" type="text/css">
	<script type="text/javascript" src="{% static 'frontend/ChemDoodleWeb.js' %}"></script>
	<link rel="stylesheet" href="{% static 'frontend/uis/jquery-ui-1.11.4.css' %}" type="text/css">
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

	<script src="https://unpkg.com/masonry-layout@4.2.0/dist/masonry.pkgd.min.js"></script>
	<style>
		#projects_list > center {
			margin-bottom: 30px;
		}
	</style>

{% endblock %}

{% block content %}
	<script>
		function selectText(node) {
		    	node = document.getElementById(node);

		    	if (document.body.createTextRange) {
				const range = document.body.createTextRange();
				range.moveToElementText(node);
				range.select();
		    	} else if (window.getSelection) {
				const selection = window.getSelection();
				const range = document.createRange();
				range.selectNodeContents(node);
				selection.removeAllRanges();
				selection.addRange(range);
			} else {
				console.warn("Could not select text in node: Unsupported browser.");
			}
		}
		function edit_field(proj_id) {
			el = document.getElementById("proj_name_" + proj_id);
			if (el.getAttribute("contentEditable") == "true") {
				el.setAttribute("contentEditable", "false");
				$("#icon_" + proj_id).removeClass("fa-check");
				$("#icon_" + proj_id).addClass("fa-edit");
				name = el.textContent;
				$.ajax({
					method: "POST",	 	 
					url: "/rename_project/",
					headers: {
						"X-CSRFToken": '{{ csrf_token }}',
					},
					data: {'id': proj_id, 'new_name': name}
				});

			}
			else {
				el.setAttribute("contentEditable", "true");
				$("#icon_" + proj_id).removeClass("fa-edit");
				$("#icon_" + proj_id).addClass("fa-check");
				selectText('proj_name_' + proj_id);
				$('[contenteditable=true]').on('keypress', function(e) {
					if (e.keyCode == 13) {
						e.preventDefault();
						edit_field(proj_id);
					}
				});

			}
			
		}

		function del(proj_id) {
			var res = confirm("Delete the entire project?");	
			if (res) {
				$.ajax({
					method: "POST",	 	 
					url: "/delete_project/",
					headers: {
						"X-CSRFToken": '{{ csrf_token }}',
					},
					data: {'id': proj_id},
					success: function() {
						document.getElementById("proj_box_" + proj_id).remove();	
					}
				});
			}
		}
		function create_project() {
			$.ajax({
				method: "POST",	 	 
				url: "/create_project/",
				headers: {
					"X-CSRFToken": '{{ csrf_token }}',
				},
				success: function(data) {
					$("#projects_list").append(data);	
				}
			});
		}

		function toggle_private(id) {
			icon = document.getElementById("private_icon_" + id);
			if(icon.style.color == "silver") {
				$.ajax({
					method: "POST",	 	 
					url: "/toggle_private/",
					data: {
						'id': id, 'val': 0,
					},
					headers: {
						"X-CSRFToken": '{{ csrf_token }}',
					},
					success: function() {
						icon.style.color = "";
					}
				});
			}
			else {
				$.ajax({
					method: "POST",	 	 
					url: "/toggle_private/",
					data: {
						'id': id, 'val': 1,
					},
					headers: {
						"X-CSRFToken": '{{ csrf_token }}',
					},
					success: function() {
						icon.style.color = "silver";
					}
				});
			}
		}
	</script>

<div class="container">
	<nav class="breadcrumb" aria-label="breadcrumbs">
	 	<ul>
	    		<li><a href="/projects/">Projects</a></li>
			<li class="is-active"><a aria-current="page" href="#">{{ target_profile.username }}</a></li>
	  	</ul>
	</nav>

		<div id="projects_list">
				{% for proj in projects %}
					<div class="box has-background-danger" id="proj_box_{{ proj.id }}">
						<p style="float: right;">
							<a onclick="toggle_private({{ proj.id }});"><i class="fas fa-user-shield" id="private_icon_{{ proj.id }}" title="Toggle private" {% if proj.private %}style="color: silver;"{% endif %}></i></a>
							<a href="/analyse/{{ proj.id }}"><i class="fas fa-table" title="Go to spreadsheet"></i></a>
							<a href="/download_project_csv/{{ proj.id }}"><i class="fas fa-download" title="Download spreadsheet"></i></a>
							{% if proj.author == profile %}
							<a onclick="edit_field({{ proj.id }});"><i class="fas fa-edit" title="Rename" id="icon_{{ proj.id}}"></i></a>
							<a onclick="del({{ proj.id }});"><i class="fas fa-trash-alt" title="Delete"></i></a>
							{% endif %}
						</p>
						<a href="/projects/{{ proj.author }}/{{ proj.name }}">
							<strong><p id="proj_name_{{ proj.id }}">{{ proj.name }}</p></strong>
							{% get_project_summary proj as proj_summary %}
							<p>{{ proj.molecule_set.count }} Molecule(s) &nbsp; ({{ proj_summary.0 }} Calculation(s): &nbsp; {{ proj_summary.1 }} Queued; &nbsp; {{ proj_summary.2 }} Running; &nbsp;{{ proj_summary.3 }} Completed) </p>
						</a>
					</div>

				{% endfor %}
		</div>
		<div style="margin-top: 30px; margin-bottom: 30px;">
			{% if request.user.profile == target_profile %}
				<center>
					<a onclick="create_project();">
						<div class="box has-background-danger"style="opacity: 0.5;">
							<i class="fas fa-plus"></i>
						</div>
					</a>
				</center>
			{% endif %}
		</div>
{% endblock %}

