new Chartist.Line('.ct-chart', {
	series: [[
		{% for point in spectrum %}
			{
				x: {{ point.0 }},
				y: {{ point.1 }}
			},
		{% endfor %}
	]]
}, {
	showPoint: false,
	axisX: {
		type: Chartist.FixedScaleAxis,
		showGrid: false,
		ticks: [120, 300, 500, 800, 1000],
	},
	axisY: {
		onlyInteger: true,
		showGrid: false,
		type: Chartist.FixedScaleAxis,
		ticks: [],
	},
	plugins: [
		Chartist.plugins.ctAxisTitle({
			axisX: {
				axisTitle: "Wavelength (nm)",
				axisClass: "ct-axis-title",
				offset: {
					x: 0,
					y: 30
				},
				textAnchor: "middle"
			},
			axisY: {
				axisTitle: "Absorbance",
				offset: {
					x: 0,
					y: 30
				},
				flipTitle: true
			}
		}),
		Chartist.plugins.zoom({
			onZoom : function(chart, reset) { storeReset(reset); }
		})
	    ]
});
