{% extends 'frontend/base.html' %}

{% load static %}

{% block extrahead %}
	<link rel="stylesheet" href="{% static 'frontend/uis/jquery-ui-1.11.4.css' %}" type="text/css">
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

	<script type="text/x-mathjax-config">
  	MathJax.Hub.Config({
    		tex2jax: {
      		inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      		processEscapes: true
    		}
  	});
	</script>

	<style>
		p {
			white-space: pre-line;
		}
	</style>

	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>	
	<title>Conformational Search</title>

{% endblock %}

{% block content %}

<div class="container">
	<p>
	Flexible molecules can adopt multiple conformations at equilibrium. The energy barriers between each conformers are typically low, and thus the molecule rapidly passes from one to the other. In order to get sensible properties of flexible molecules, all significant conformers must be considered. The properties can be weighted using the Boltzmann distribution; for a property $P$:

	$$&lt;P&gt; = \frac{\sum P*e^{-\Delta G /(RT)}}{\sum e^{-\Delta G /(RT)}}$$

	CalcUS already does this for you and provides the results in the "Ensemble Properties" section.
	<img src="{% static 'exercises/constrained_optimisation/1.png' %}" />

	<strong>Exercise:</strong> Using xtb, perform a conformational search of the reagent illustrated above. Then, perform frequency calculations on the entire ensemble.

	</p>
	<form class="form" id="questions_form" method="post">
		{% csrf_token %}
		{% for q in questions %}
		<div class="field">
			<label class="label">{{ q.question }}</label>
			<div class="control">
				<input type="text" name="answer_{{ q.id }}">
			</div>
		</div>
		{% endfor %}
		<input type="hidden" name="exercise" value="{{ exercise.id}}">
		<div class="field">
			<button class="button is-primary">Submit</button>
		</div>
	</form>
	<div id="feedback">
	</div>
</div>
<script>
	$("#questions_form").submit(function(e) {
		e.preventDefault();
		$.ajax({
			url: "/answer/",
			type: 'POST',
			data: $("#questions_form").serialize(),
			success: function(data) {
				$("#feedback").html(data);
			}
		});
	});
</script>

{% endblock %}

