{% extends 'frontend/base.html' %}

{% load static %}

{% block extrahead %}
	<link rel="stylesheet" href="{% static 'frontend/uis/jquery-ui-1.11.4.css' %}" type="text/css">
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

	<script type="text/x-mathjax-config">
  	MathJax.Hub.Config({
    		tex2jax: {
      		inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      		processEscapes: true
    		}
  	});
	</script>

	<style>
		p {
			white-space: pre-line;
		}
	</style>

	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>	
	<title>Constrained Optimisation</title>

{% endblock %}

{% block content %}

<div class="container">
	<p>
	When searching for transition states, the structure must be forced into a non-equilibrium state. This can be done through constrained optimisations, which constrain particular distances, angles or dihedral angles. The constraints can be static (freezing the coordinate) or dynamic (scanning the coordinate). When the coordinate is being scanned, the structure will be optimized for every value of the coordinate, with the resulting structure being used as starting point for the next optimization.
		
	<img src="{% static 'exercises/constrained_optimisation/1.png' %}" />

	<strong>Exercise:</strong> Using xtb, perform a constrained optimization approaching the two terminal carbons to force the Claisen rearrangement (see the figure above.) Note that xtb adds the constrain in the form of a harmonic potential around the desired value; as such, the distance scanned might not be the exact values stipulated.

	</p>
	<form class="form" id="questions_form" method="post">
		{% csrf_token %}
		{% for q in questions %}
		<div class="field">
			<label class="label">{{ q.question }}</label>
			<div class="control">
				<input type="text" name="answer_{{ q.id }}">
			</div>
		</div>
		{% endfor %}
		<input type="hidden" name="exercise" value="{{ exercise.id}}">
		<div class="field">
			<button class="button is-primary">Submit</button>
		</div>
	</form>
	<div id="feedback">
	</div>
</div>
<script>
	$("#questions_form").submit(function(e) {
		e.preventDefault();
		$.ajax({
			url: "/answer/",
			type: 'POST',
			data: $("#questions_form").serialize(),
			success: function(data) {
				$("#feedback").html(data);
			}
		});
	});
</script>

{% endblock %}

