{% extends 'frontend/base.html' %}

{% load static %}

{% block extrahead %}
	<link rel="stylesheet" href="{% static 'frontend/uis/jquery-ui-1.11.4.css' %}" type="text/css">
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

	<script type="text/x-mathjax-config">
  	MathJax.Hub.Config({
    		tex2jax: {
      		inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      		processEscapes: true
    		}
  	});
	</script>

	<style>
		p {
			white-space: pre-line;
		}
	</style>

	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>	
	<title>Geometrical Optimisation</title>

{% endblock %}

{% block content %}

<div class="container">
	<p>
	Geometrical optimisations are calculations which find energy minima on the potential energy surface (PES). They are the most common type of calculations, as most properties are derived from equilibrium structures. 
	
	On CalcUS, geometrical optimisations create new ensembles, as the position of the atoms will change.
	
	<strong>Exercise:</strong> Using xtb, optimize benzene and inspect the resulting structure.

	</p>
	<form class="form" id="questions_form" method="post">
		{% csrf_token %}
		{% for q in questions %}
		<div class="field">
			<label class="label">{{ q.question }}</label>
			<div class="control">
				<input type="text" name="answer_{{ q.id }}">
			</div>
		</div>
		{% endfor %}
		<input type="hidden" name="exercise" value="{{ exercise.id}}">
		<div class="field">
			<button class="button is-primary">Submit</button>
		</div>
	</form>
	<div id="feedback">
	</div>
</div>
<script>
	$("#questions_form").submit(function(e) {
		e.preventDefault();
		$.ajax({
			url: "/answer/",
			type: 'POST',
			data: $("#questions_form").serialize(),
			success: function(data) {
				$("#feedback").html(data);
			}
		});
	});
</script>

{% endblock %}

