{% extends 'frontend/base.html' %}

{% load static %}

{% block extrahead %}
	<link rel="stylesheet" href="{% static 'frontend/uis/jquery-ui-1.11.4.css' %}" type="text/css">
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

	<script type="text/x-mathjax-config">
  	MathJax.Hub.Config({
    		tex2jax: {
      		inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      		processEscapes: true
    		}
  	});
	</script>

	<style>
		p {
			white-space: pre-line;
		}
	</style>

	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>	
	<title>Transition State Optimisation</title>

{% endblock %}

{% block content %}

<div class="container">
	<p>
	Transition states can also be optimized, although this process is not as straightforward as normal optimizations. The most common way of finding transition states is through the optimization of an initial guess. This guess has to be close enough to the true transition state, otherwise the calculation will converge to an undesired saddle point on the PES.
		
	<img src="{% static 'exercises/constrained_optimisation/1.png' %}" />

	<strong>Exercise:</strong> Using xtb, optimize the structure that is highest in energy in the scan of the previous exercise. You should obtain the transition state of the Claisen rearrangement (see the figure above.) Confirm the nature of the saddle point by performing a frequency calculation on the transition state and visualize the negative frequency. You might need to perform several scans to find a suitable transition state guess. Calculate the free energy barrier using the Boltzmann weighted free energy of the reagent, as obtained in a previous exercise.

	</p>
	<form class="form" id="questions_form" method="post">
		{% csrf_token %}
		{% for q in questions %}
		<div class="field">
			<label class="label">{{ q.question }}</label>
			<div class="control">
				<input type="text" name="answer_{{ q.id }}">
			</div>
		</div>
		{% endfor %}
		<input type="hidden" name="exercise" value="{{ exercise.id}}">
		<div class="field">
			<button class="button is-primary">Submit</button>
		</div>
	</form>
	<div id="feedback">
	</div>
</div>
<script>
	$("#questions_form").submit(function(e) {
		e.preventDefault();
		$.ajax({
			url: "/answer/",
			type: 'POST',
			data: $("#questions_form").serialize(),
			success: function(data) {
				$("#feedback").html(data);
			}
		});
	});
</script>

{% endblock %}

