<div id="calc_custom_bs" >
    <div class="field" id="custom_bs_field">
        <label class="label">Custom basis sets</label>
        <div class="control">
            <input class="input" name="calc_custom_bs" type="text" placeholder="" >
        <button class="button is-info" id="pick_bs_button" type="button">Pick custom basis sets</button>
        </div>
    </div>

    <div class="modal pick_bs_div" id="pick_bs_div">
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Specific basis sets</p>
                <button type="button" class="close_btn close_bs modal-close is-large" aria-label="close"></button>
            </header>
            <section class="modal-card-body" id="custom_bs_body">
            </section>
        </div>
    </div>
</div>
