<div class="box">
    <center>
        <div class="select">
            <select id="presets">
            </select>
        </div>
        <br />
        <a class="button is-info" onclick="load_selected_preset()">Load Preset</a>
        <a class="button is-info" onclick="save_preset()">Save Preset</a>
        <a class="button is-danger" onclick="delete_preset()">Delete Preset</a>
        <br />
        <a class="button is-info" onclick="set_project_default()">Set current parameters as project defaults</a>
        <div id="preset_msg">

        </div>
    </center>
</div>
