<div class="field" id="software_field">
    <label class="label">Software</label>
    <div class="control" >
        <div class="select wide_select">
            <select name="calc_software" id="calc_software" onchange="refresh_availabilities();">
                <option>xtb</option>
                {% if "ORCA" in packages %}<option {% if IS_CLOUD %} disabled{% endif %}>ORCA</option>{% endif %}
                {% if "Gaussian" in packages %}<option {% if IS_CLOUD %} disabled{% endif %}>Gaussian</option>{% endif %}
                <option>NWChem</option>
            </select>
        </div>
    </div>
</div>
