<div class="field" id="calc_solvation_radii">
    <label class="label">Solvation Radii</label>
    <div class="control">
        <div class="select">
            <select name="calc_solvation_radii">
                <option>SMD18</option>
                <option selected>Default</option>
                <option>UFF</option>
                <option>UA0</option>
                <option>UAHF</option>
                <option>UAKS</option>
                <option>Pauling</option>
                <option>Bondi</option>
            </select>
        </div>
    </div>
</div>
