<div class="field" id="calc_solvation_model">
    <label class="label">Solvation Model</label>
        <div class="control">
            <div class="select">
            <select name="calc_solvation_model" onchange="refresh_availabilities();">
                <option>GBSA</option>
                <option selected>ALPB</option>
                <option selected>SMD</option>
                <option>PCM</option>
                <option>CPCM</option>
            </select>
            </div>
        </div>
</div>
