<div id="calc_pbeh3c">
    <div class="column is-narrow">
        <div class="field">
            <label class="label">Special</label>
            <label class="checkbox">
                <input type="checkbox" name="calc_pbeh3c" onchange="refresh_availabilities();">
                PBEh-3c
            </label>		
        </div>
    </div>
</div>
<div id="calc_hf3c">
    <div class="column is-narrow">
        <div class="field">
            <label class="label">Special</label>
            <label class="checkbox">
                <input type="checkbox" name="calc_hf3c" onchange="refresh_availabilities();">
                HF-3c
            </label>		
        </div>
    </div>
</div>
