<div class="field" id="calc_theory_level">
    <label class="label">Theory Level</label>
    <div class="control">
        <div class="select wide_select">
            <select name="calc_theory_level" onchange="refresh_availabilities();">
                <option class="hidden" value="xtb">xtb</option>
                <option value="semiempirical">Semi-empirical</option>
                <option value="hf">HF</option>
                <option value="dft">DFT</option>
                <option value="mp2">RI-MP2</option>
            </select>
        </div>
    </div>
</div>
