{% load details_tags %} 

{% if property.charges != '' %}
<span class="tag is-warning is-large">Partial Charges</span>
{% include "frontend/properties/charges.html" %}
{% endif %} 

{% if property.has_freq %}
<span class="tag is-warning is-large">Frequencies</span>
{% include "frontend/properties/freq.html" %}
{% endif %} 

{% if property.has_uvvis %}
<span class="tag is-warning is-large">UV-Vis</span>
{% include "frontend/properties/uvvis.html" %}
{% endif %} 

{% if property.has_nmr %}
<span class="tag is-warning is-large">NMR</span>
{% include "frontend/properties/nmr.html" %}
{% endif %} 

{% if property.has_mo %}
<span class="tag is-warning is-large">Molecular Orbitals</span>
{% include "frontend/properties/mo.html" %}
{% endif %} 

{% if property.has_esp %}
<span class="tag is-warning is-large">Electrostatic Potential Map</span>
{% include "frontend/properties/esp.html" %}
{% endif %} 

{% if property.simple_nmr != "" %}
<span class="tag is-warning is-large">NMR</span>
{% include "frontend/properties/simple_nmr.html" %}
{% endif %}
