{% for e in molecule.ensemble_set.all %}
	<tr>
		<td >{% if e.flagged %} <i class="fas fa-flag" id="icon_flag" style="color: silver;">{% endif %}</td>
		<td id="e_name_{{ e.id }}"><a href="/ensemble/{{ e.id }}">{{ e.name }}</a></td>
		<td>
			{% for p in e.unique_parameters %}
				{{ p }} <br />
			{% endfor %}
		</td>
		<td>
			{% for c in e.unique_calculations %}
				{{ c }} <br />
			{% endfor %}
		</td>
		<td>
			<a href="/ensemble/{{ e.id }}"><i class="fas fa-external-link-alt" title="Go to ensemble"></i></a>
			{% if e.parent_molecule.project.author == request.user.profile %}

			<a onclick="edit_field({{ e.id }});"><i class="fas fa-edit" id="icon_{{ e.id}}" title="Rename"></i></a>
			<a onclick="del({{ e.id }});"><i class="fas fa-trash-alt" title="Delete"></i></a>
			{% endif %}
			<td>



	</tr>

{% endfor %}

