{% if latest_frontend %} {% for order in latest_frontend %}
{% with data=order.get_data %}
{% comment %}
data = [queued, running, done, error, net_status, total_time, new_status]
{% endcomment %}

<article class="grid-item main-grid-item message {% if data.6 %}new{% endif %} has-background-light" id="order_{{ order.id }}">
    <div
        class="message-header {% if data.4 == 1 %} has-background-warning {% elif data.4 == 2 %} has-background-success {% elif data.4 == 3 %} has-background-danger{% endif %}"
        style="padding-right: 0"
    >
        <div class="columns is-vcentered" style="width: 100%">
            <div class="column" style="text-align: left">
                {% if data.4 == 0 %}
                <i class="fas fa-hourglass-half"></i>
                {% elif data.4 == 1 %}
                <i class="fas fa-spinner"></i>
                {% elif data.4 == 2 %}
                <i class="fas fa-check"></i>
                {% elif data.4 == 3 %} <i class="fas fa-times"></i>
                {% endif %}
                
                <span class="text_wrap"> {{ order.label }}</span>
            </div>
            <div class="column is-narrow" style="text-align: right">
                <p>
                    <a onclick="see('{{ order.id }}');"><i class="fas fa-eye" title="Mark as seen"></i></a
                    ><a href="/calculationorder/{{ order.id }}"><i class="fas fa-list" title="Go to calculation list"></i></a>
                </p>
            </div>
        </div>
    </div>
    <a href="/link_order/{{ order.id }}">
        <div class="message-body">
            <center>
                <strong>{{ order.step_name }}</strong>
                <br />
                Project: {{ order.project_name }}
                <br />
                Molecule:
                <span class="text_wrap"> {{ order.molecule_name }} </span>
                <br />
                {{ order.date }}
                <span>| <strong>{{ data.5 }}</strong> CPU-sec  </span>
                <br />
                <table class="table has-background-light">
                    <tr>
                        <td>Queued</td>
                        <td>{{ data.0 }}</td>
                        <td>Running</td>
                        <td>{{ data.1 }}</td>
                    </tr>
                    <tr>
                        <td>Done</td>
                        <td>{{ data.2 }}</td>
                        <td>Error</td>
                        <td>{{ data.3 }}</td>
                    </tr>
                </table>
            </center>
        </div>
    </a>
</article>
{% endwith %}
{% endfor %}{% else %}
<p id="tmp_msg">No calculation found</p>
{% endif %}
