{% if latest_frontend %}
<div class="grid">
    {% for order in latest_frontend %}
    <article class="grid-item main-grid-item message {% if order.new_status %}new{% endif %}" id="order_{{ order.id }}" >
			<div class="message-header {% if order.status == 1 %} has-background-warning {% elif order.status == 2 %} has-background-success {% elif order.status == 3 %} has-background-danger{% endif %}">
				{{ order.label }}
				<p><a  onclick="see({{ order.id}});"><i class="fas fa-eye" title="Mark as seen"></i></a><a href="/calculationorder/{{ order.id }}"><i class="fas fa-list" title="Go to calculation list"></i></a>
{% if order.status == 1 %} <i class="fas fa-spinner"></i> {% elif order.status == 2 %} 
<i class="fas fa-check"></i>{% elif order.status == 3 %} <i class="fas fa-times"></i>{% endif %}</p>
			</div>
		<a href="/link_order/{{ order.id }}">
			<div class"message-body">
				<center>
					<strong>{{ order.step.name }}</strong> <br />
					Project: {{ order.project.name }} <br />
					Molecule: {{ order.molecule_name }} <br />
					{{ order.date }} <br />
					{{ order.calculation_set.count }} Calculation(s): <br />
					<table class="table">
						<tr>
							<td>Queued</td>
							<td>{{ order.get_queued }}</td>
							<td>Running</td>
							<td>{{ order.get_running }}</td>

						</tr>
						<tr>
							<td>Done</td>
							<td>{{ order.get_done }}</td>
							<td>Error</td>
							<td>{{ order.get_error }}</td>
						</tr>

					</table>
				</center>
			</div>
	</a>
		</article>
    {% endfor %}
</div>
<script>
	$('.grid').masonry({
	  itemSelector: '.grid-item',
	  fitWidth: true
	});
</script>
{% else %}
    <p>No calculation found</p>
{% endif %}

