{% load static %}

	<script>
		function add_spec() {
			val = document.getElementById("specifications_select").value;
			inp = document.getElementById("spec_value");
			output = document.getElementById("specifications");
			if(inp.style.display == "block") {
				output.value += val.replace('=','=' + inp.value) + ';';
			}
			else {
				output.value += val + ';';
			}
		}
		function refresh_specification() {
			inp = document.getElementById("spec_value");
			select = document.getElementById("specifications_select");
			option = select.options[select.selectedIndex];
			if(option.classList.contains("has_value")) {
				inp.style.display = "block";
			}
			else {
				inp.style.display = "none";
			}

		}
		refresh_availabilities();
		refresh_specification();
	</script>
<div>
	<div class="columns">
		<div class="column is-narrow">
			<div class="select">
				<select id="specifications_select" onchange="refresh_specification()">
<option value="scf(xqc)" class="software_specific avail_Gaussian ">scf(xqc)</option>
<option value="scf(yqc)" class="software_specific avail_Gaussian ">scf(yqc)</option>
<option value="scf(tight)" class="software_specific avail_Gaussian ">scf(tight)</option>
<option value="pop(nbo)" class="software_specific avail_Gaussian ">pop(nbo)</option>
<option value="pop(npa)" class="software_specific avail_Gaussian ">pop(npa)</option>
<option value="pop(hirshfeld)" class="software_specific avail_Gaussian ">pop(hirshfeld)</option>
<option value="pop(esp)" class="software_specific avail_Gaussian ">pop(esp)</option>
<option value="pop(hly)" class="software_specific avail_Gaussian ">pop(hly)</option>
<option value="pop(hlygat)" class="software_specific avail_Gaussian ">pop(hlygat)</option>
<option value="opt(maxstep=)" class="software_specific avail_Gaussian type_specific avail_Geometrical_Optimisation avail_Constrained_Optimisation has_value">opt(maxstep=...)</option>
<option value="opt(maxcycles=)" class="software_specific avail_Gaussian type_specific avail_Geometrical_Optimisation avail_Constrained_Optimisation has_value">opt(maxcycles=...)</option>
<option value="opt(calcfc)" class="software_specific avail_Gaussian type_specific avail_Geometrical_Optimisation avail_Constrained_Optimisation ">opt(calcfc)</option>
<option value="opt(calcall)" class="software_specific avail_Gaussian type_specific avail_Geometrical_Optimisation avail_Constrained_Optimisation ">opt(calcall)</option>
<option value="opt(recalcfc=)" class="software_specific avail_Gaussian type_specific avail_Geometrical_Optimisation avail_Constrained_Optimisation has_value">opt(recalcfc=...)</option>
<option value="opt(loose)" class="software_specific avail_Gaussian type_specific avail_Geometrical_Optimisation avail_Constrained_Optimisation ">opt(loose)</option>
<option value="opt(tight)" class="software_specific avail_Gaussian type_specific avail_Geometrical_Optimisation avail_Constrained_Optimisation ">opt(tight)</option>
<option value="opt(verytight)" class="software_specific avail_Gaussian type_specific avail_Geometrical_Optimisation avail_Constrained_Optimisation ">opt(verytight)</option>
<option value="freq(noraman)" class="software_specific avail_Gaussian type_specific avail_Frequency_Calculation ">freq(noraman)</option>

			</div>
		</div>
		<div class="column">
			<input class="input" id="spec_value" type="text" placeholder="">
		</div>
	</div>
	<center>
		<button class="button is-info" type="button" id="add_spec_button" onclick="add_spec()">Add specification</button>
		<input class="input" id="specifications" type="text" placeholder="">
	</center>

</div>
