{% load static %}

	<script>
		function add_spec() {
			val = document.getElementById("specifications_select").value;
			inp = document.getElementById("spec_value");
			output = document.getElementById("specifications");
			if(inp.style.display == "block") {
				output.value += val.replace('=','=' + inp.value) + ';';
			}
			else {
				output.value += val + ';';
			}
		}
		function refresh_specification() {
			inp = document.getElementById("spec_value");
			select = document.getElementById("specifications_select");
			option = select.options[select.selectedIndex];
			if(option.classList.contains("has_value")) {
				inp.style.display = "block";
			}
			else {
				inp.style.display = "none";
			}

		}
		refresh_availabilities();
		refresh_specification();
	</script>
<div>
	<div class="columns">
		<div class="column is-narrow">
			<div class="select">
				<select id="specifications_select" onchange="refresh_specification()">

<option value="SCF(XQC)" class="software_specific avail_Gaussian ">SCF(XQC)</option>
<option value="SCF(YQC)" class="software_specific avail_Gaussian ">SCF(YQC)</option>
<option value="SCF(Tight)" class="software_specific avail_Gaussian ">SCF(Tight)</option>
<option value="opt(MaxStep=)" class="software_specific avail_Gaussian type_specific avail_Geometrical_Optimisation avail_Constrained_Optimisation has_value">opt(MaxStep=...)</option>
<option value="opt(MaxCycles=)" class="software_specific avail_Gaussian type_specific avail_Geometrical_Optimisation avail_Constrained_Optimisation has_value">opt(MaxCycles=...)</option>
<option value="opt(CalcFC)" class="software_specific avail_Gaussian type_specific avail_Geometrical_Optimisation avail_Constrained_Optimisation ">opt(CalcFC)</option>
<option value="opt(CalcAll)" class="software_specific avail_Gaussian type_specific avail_Geometrical_Optimisation avail_Constrained_Optimisation ">opt(CalcAll)</option>
<option value="opt(RecalcFC=)" class="software_specific avail_Gaussian type_specific avail_Geometrical_Optimisation avail_Constrained_Optimisation has_value">opt(RecalcFC=...)</option>
<option value="opt(Loose)" class="software_specific avail_Gaussian type_specific avail_Geometrical_Optimisation avail_Constrained_Optimisation ">opt(Loose)</option>
<option value="opt(Tight)" class="software_specific avail_Gaussian type_specific avail_Geometrical_Optimisation avail_Constrained_Optimisation ">opt(Tight)</option>
<option value="opt(VeryTight)" class="software_specific avail_Gaussian type_specific avail_Geometrical_Optimisation avail_Constrained_Optimisation ">opt(VeryTight)</option>
<option value="freq(NoRaman)" class="software_specific avail_Gaussian type_specific avail_Frequency_Calculation ">freq(NoRaman)</option>				
				</select>
			</div>
		</div>
		<div class="column">
			<input class="input" id="spec_value" type="text" placeholder="">
		</div>
	</div>
	<center>
		<button class="button is-info" type="button" onclick="add_spec()">Add specification</button>
		<input class="input" id="specifications" type="text" placeholder="">
	</center>

</div>
