{% load static %}

	<script>
		function add_spec() {
			val = document.getElementById("specifications_select").value;
			inp = document.getElementById("spec_value");
			output = document.getElementById("specifications");
			if(inp.style.display == "block") {
				output.value += val + '=' + inp.value + ';';
			}
			else {
				output.value += val + ';';
			}
		}
		function refresh_specification() {
			inp = document.getElementById("spec_value");
			select = document.getElementById("specifications_select");
			option = select.options[select.selectedIndex];
			if(option.classList.contains("has_value")) {
				inp.style.display = "block";
			}
			else {
				inp.style.display = "none";
			}

		}
		refresh_availabilities();
		refresh_specification();
	</script>
<div>
	<center>
	<div class="select">
		<select id="specifications_select" onchange="refresh_specification()">
			<option value="SCF=XQC" class="software_specific avail_Gaussian ">SCF=XQC</option>
			<option value="SCF=YQC" class="software_specific avail_Gaussian ">SCF=YQC</option>
			<option value="SCF=Tight" class="software_specific avail_Gaussian ">SCF=Tight</option>
			<option value="MaxStep" class="software_specific type_specific avail_Gaussian avail_Geometrical_Optimisation has_value">MaxStep</option>
			<option value="MaxCycles" class="software_specific type_specific avail_Gaussian avail_Geometrical_Optimisation has_value">MaxCycles</option>
			<option value="CalcFC" class="software_specific type_specific avail_Gaussian avail_Geometrical_Optimisation ">CalcFC</option>
			<option value="CalcAll" class="software_specific type_specific avail_Gaussian avail_Geometrical_Optimisation ">CalcAll</option>
			<option value="RecalcFC" class="software_specific type_specific avail_Gaussian avail_Geometrical_Optimisation has_value">RecalcFC</option>
			<option value="Loose" class="software_specific type_specific avail_Gaussian avail_Geometrical_Optimisation ">Loose</option>
			<option value="Tight" class="software_specific type_specific avail_Gaussian avail_Geometrical_Optimisation ">Tight</option>
			<option value="VeryTight" class="software_specific type_specific avail_Gaussian avail_Geometrical_Optimisation ">VeryTight</option>
			<option value="MaxStep" class="software_specific type_specific avail_Gaussian avail_Constrained_Optimisation has_value">MaxStep</option>
			<option value="MaxCycles" class="software_specific type_specific avail_Gaussian avail_Constrained_Optimisation has_value">MaxCycles</option>
			<option value="CalcFC" class="software_specific type_specific avail_Gaussian avail_Constrained_Optimisation ">CalcFC</option>
			<option value="CalcAll" class="software_specific type_specific avail_Gaussian avail_Constrained_Optimisation ">CalcAll</option>
			<option value="RecalcFC" class="software_specific type_specific avail_Gaussian avail_Constrained_Optimisation has_value">RecalcFC</option>
			<option value="Loose" class="software_specific type_specific avail_Gaussian avail_Constrained_Optimisation ">Loose</option>
			<option value="Tight" class="software_specific type_specific avail_Gaussian avail_Constrained_Optimisation ">Tight</option>
			<option value="VeryTight" class="software_specific type_specific avail_Gaussian avail_Constrained_Optimisation ">VeryTight</option>
			<option value="NoRaman" class="software_specific type_specific avail_Gaussian avail_Frequency_Calculation ">NoRaman</option>
		</select>
	</div>
	<input class="input" id="spec_value" type="text" placeholder="">
	<br />
		<button class="button is-info" type="button" onclick="add_spec()">Add specification</button>
		<input class="input" id="specifications" type="text" placeholder="">
	</center>

</div>
