{% extends "frontend/base.html" %}
{% load i18n bulma_tags %}
{% block content %}
<div class="container">
    <div class="columns is-centered is-expanded">
        <div class="column is-centered">
            {% if form.errors %}
            <p><b>Your email and password didn't match. Please try again.</b></p>
            {% endif %} 
            {% if next %}
            <p><b>Please login to see this page.</b></p>
            {% endif %}
            <section class="section">
                <div class="field has-addons has-addons-centered">
                    <div class="box has-text-centered">
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %} {{ form|bulma }}
                            <input class="control button is-primary" type="submit" value="Login" />
                            <input type="hidden" name="next" value="{{ next }}" />
                        </form>
                    </div>
                </div>
                <div class="container has-text-centered">
                    <p>
                        <a href="{% url 'password_reset' %}">Lost password?</a>
                    </p>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}
