{% extends "frontend/base.html" %} {% load i18n bulma_tags %} {% block content %}
<div class="columns is-centered is-expanded">
    <div class="column is-centered">
        <section class="section">
            <div class="field has-addons has-addons-centered">
                <div class="box has-text-centered">
                    <form action="" method="post">
                        {% csrf_token %} {{ form|bulma }}
                        <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}
